/* Custom theme creator

Create your own custom color scheme for Minimal.

*/

/* Light mode */
.theme-light.minimal-custom-light {

  /* Background color for main window */
  --bg1:;

  /* Background color for sidebar */
  --bg2:;

  /* Background color for hover states and selected file  */
  --bg3:;

  /* Border color */
  --ui1:;

  /* Border color, hover state */
  --ui2:;

  /* Border color, focus state */
  --ui3:;

  /* Primary text color */
  --tx1:;

  /* Secondary text color */
  --tx2:;

  /* Tertiary text color */
  --tx3:;

  /* Accent color for text */
  --ax1:;

  /* Accent color for text, hover state */
  --ax2:;

  /* Accent color for checkboxes and other UI elements */
  --ax3:;

  /* Text selection color */
  --hl1:;

}

/* Dark mode and sidebar colors for "High Contrast" light mode */
.theme-light.minimal-custom-light.minimal-light-contrast .titlebar,
.theme-light.minimal-custom-light.minimal-light-contrast .workspace-fake-target-overlay.is-in-sidebar,
.theme-light.minimal-custom-light.minimal-light-contrast .workspace-ribbon.mod-left:not(.is-collapsed),
.theme-light.minimal-custom-light.minimal-light-contrast .mod-left-split,
.theme-light.minimal-custom-light.minimal-light-contrast.minimal-status-off .status-bar,
.theme-light.minimal-custom-light.minimal-light-contrast.is-mobile .workspace-drawer.mod-left,
.theme-dark.minimal-custom-dark {
  --bg1:;
  --bg2:;
  --bg3:;

  --ui1:;
  --ui2:;
  --ui3:;

  --tx1:;
  --tx2:;
  --tx3:;

  --ax1:;
  --ax2:;
  --ax3:;

  --hl1:;
}

