/* Editor mode (CodeMirror 6 Live Preview) */

/* Fix strange Obsidian ghost textearea bug on right click */
.CodeMirror-wrap > div > textarea {
	opacity:0;
}

.markdown-source-view.mod-cm6 hr {
	border-width:2px;
}

.cm-editor .cm-content {
	padding-top:0.5em;
}
.markdown-source-view {
	color: var(--text-normal);
}

.markdown-source-view.mod-cm6 .cm-sizer {
	display: block;
}
.markdown-source-view.mod-cm6 .cm-scroller {
	padding-inline-end: 0;
	padding-inline-start: 0;
}

.cm-s-obsidian .cm-line.HyperMD-header {
	padding-top: calc(var(--p-spacing) / 2);
}

.markdown-rendered .mod-header + div > * { 
	margin-block-start: 0;
}

/* Gutters */
body :not(.canvas-node) .markdown-source-view.mod-cm6 .cm-gutters {
	position:absolute !important;
	z-index:0;
	margin-inline-end: 0;
	.cm-gutter:before {
		content: "";
		height: 100%;
		top: -100%;
		width: 100%;
		position: absolute;
		z-index: 1;
		background-color: var(--gutter-background);
		min-width: var(--folding-offset);
	}
}
body :not(.canvas-node) .markdown-source-view.mod-cm6.is-rtl .cm-gutters {
	right: 0;
}

body {
	--line-number-color: var(--text-faint);
	--line-number-color-active: var(--text-muted);
}

.empty-state-title {
	display: none;
}

.markdown-source-view.mod-cm6 .cm-gutters {
	color: var(--line-number-color) !important;
}
.markdown-source-view.mod-cm6 .cm-editor .cm-gutterElement.cm-active .cm-heading-marker, 
.markdown-source-view.mod-cm6 .cm-editor .cm-lineNumbers .cm-gutterElement.cm-active {
	color: var(--line-number-color-active);
}

.cm-editor .cm-lineNumbers {
	background-color: var(--gutter-background);
}
.cm-editor .cm-lineNumbers .cm-gutterElement {
	min-width: var(--folding-offset);
	padding-inline-end: 0.5em;
}
.is-rtl .cm-editor .cm-lineNumbers .cm-gutterElement {
	text-align: left;
}

/* Line numbers */
@media (max-width:400pt) {
	.cm-editor .cm-lineNumbers .cm-gutterElement {
		padding-inline-end:4px;
		padding-inline-start:8px;
	}
}
.cm-editor .cm-lineNumbers .cm-gutterElement.cm-active,
.cm-editor .cm-gutterElement.cm-active .cm-heading-marker {
	color:var(--text-muted);
}

/* Code execution blocks, e.g. Dataview */
.markdown-source-view.mod-cm6 .edit-block-button {
	cursor:var(--cursor);
	color:var(--text-faint);
	background-color:var(--background-primary);
	top:0;
	opacity:0;
	transition:opacity 200ms;
	padding:4px 4px 4px 9px;
	svg {
		margin:0 !important;
	}
}
.markdown-source-view.mod-cm6.is-live-preview.is-readable-line-width .cm-embed-block > .edit-block-button {
	width:30px !important;
	padding-inline-start:7px !important;
}
.is-live-preview:not(.is-readable-line-width) .cm-embed-block > .edit-block-button {
	padding-inline-start:0px !important;
	margin-inline-start:0 !important;
	padding:4px
}
.markdown-source-view.mod-cm6 .edit-block-button:hover {
	background-color:var(--background-primary);
	color:var(--text-muted);
}
.markdown-source-view.mod-cm6 .edit-block-button svg {
	opacity:1;
}
.markdown-source-view.mod-cm6 .edit-block-button:hover svg {
	opacity:1;
}
.markdown-source-view.mod-cm6 .cm-embed-block {
	padding:0;
	border:0;
	border-radius:0;
}
.markdown-source-view.mod-cm6 .cm-embed-block:hover {
	border:0;
}
