.metadata-container {
  --input-height: 2rem;
}

.markdown-source-view .metadata-container {
	transform: translateX(-4px);
}

body.metadata-heading-off {
	.metadata-properties-heading {
		display: none;
	}
}
.metadata-add-property-off {
	.mod-root .metadata-add-button {
		display: none;
	}
}
.metadata-dividers {
	--metadata-divider-width: 1px;
	--metadata-gap: 0px;
}

.metadata-icons-off {
	.workspace-leaf-content[data-type="all-properties"] {
		.tree-item-inner {
			margin-inline-start: -16px;
		}
		.tree-item-icon {
			display: none;
		}
	}
	.metadata-property-icon {
		display: none;
	}
}
