/* 
.is-live-preview .metadata-container {
	max-width:calc(var(--max-width) - var(--folding-offset));
	margin-right:auto;
	margin-left:max(
		calc(50% + var(--folding-offset) - var(--line-width)/2),
		calc(50% + var(--folding-offset) - var(--max-width)/2) ) !important;
}
.is-readable-line-width.is-live-preview {
	.metadata-container { 
		width:calc(var(--line-width) - var(--folding-offset));	
	}
}
*/

.metadata-container {
  --input-height: 2rem;
}

body:not(.metadata-heading-on) {
	.metadata-properties-heading {
		display: none;
	}
}
.metadata-dividers {
	--metadata-divider-width: 1px;
	--metadata-gap: 0px;
}

.metadata-icons-off {
	.workspace-leaf-content[data-type="all-properties"] {
		.tree-item-inner {
			margin-left: -16px;
		}
		.tree-item-icon {
			display: none;
		}
	}
	.metadata-property-icon {
		display: none;
	}
}
