/* 
.is-live-preview .metadata-container {
	max-width:calc(var(--max-width) - var(--folding-offset));
	margin-right:auto;
	margin-left:max(
		calc(50% + var(--folding-offset) - var(--line-width)/2),
		calc(50% + var(--folding-offset) - var(--max-width)/2) ) !important;
}
.is-readable-line-width.is-live-preview {
	.metadata-container { 
		width:calc(var(--line-width) - var(--folding-offset));	
	}
}
*/

.metadata-properties-heading {
	display: none;;
}
