.metadata-container {
  --input-height: calc(var(--font-adaptive-small) * 2.2);
}

body.metadata-heading-off {
	.metadata-properties-heading {
		display: none;
	}
}
.metadata-add-property-off {
	.mod-root .metadata-add-button {
		display: none;
	}
}
.metadata-dividers {
	--metadata-divider-width: 1px;
	--metadata-gap: 0px;
}

.metadata-icons-off {
	.workspace-leaf-content[data-type="all-properties"] {
		.tree-item-inner {
			margin-inline-start: -16px;
		}
		.tree-item-icon {
			display: none;
		}
	}
	.metadata-property-icon {
		display: none;
	}
}
