.tab-stack-top-flipped {
	--tab-stacked-text-transform: rotate(180deg);
	--tab-stacked-text-align: right;
}
.tab-stack-center {
	--tab-stacked-text-align: center;
}
.tab-stack-center-flipped {
	--tab-stacked-text-transform: rotate(180deg);
	--tab-stacked-text-align: center;
}
.tab-stack-bottom {
	--tab-stacked-text-transform: rotate(180deg);
}
.tab-stack-bottom-flipped {
	--tab-stacked-text-align: right;
}

.workspace .mod-root .workspace-tabs.mod-stacked .workspace-tab-container .workspace-tab-header-inner {
	flex-direction: var(--tab-stacked-spine-order);
}
