/* Window frame */
body.window-title-off .titlebar-text {
  display:none;
}

.titlebar-button-container.mod-right {
	background-color: transparent !important;
}

.is-hidden-frameless.theme-dark:not(.minimal-dark-black):not(.colorful-frame),
.is-hidden-frameless.theme-light:not(.minimal-light-tonal):not(.colorful-frame):not(.minimal-light-white) {
	--titlebar-background: var(--bg1);

	&.is-focused {
		.sidebar-toggle-button.mod-right,
		.workspace-ribbon.mod-left.is-collapsed,
		.workspace-tabs.mod-top {
			--titlebar-background-focused: var(--bg1);
		}
	}

	&:not(.minimal-dark-tonal):not(.minimal-light-white) {
		.workspace-ribbon.mod-left:not(.is-collapsed) {
			--titlebar-background: var(--bg2);
		}
	}
}

/* Trying for a smoother animation */
.mod-macos.is-hidden-frameless:not(.is-popout-window) {
	.sidebar-toggle-button.mod-right {
		right: 0;
		padding-right: var(--size-4-2);
	}
}

body {
	&.is-focused {
		--titlebar-background-focused: var(--background-secondary);
	}
}

.is-hidden-frameless:not(.colorful-frame) {
	.mod-left-split {
		.mod-top .workspace-tab-header-container {
			--tab-container-background: var(--background-secondary);
		}
	}
}
