
/* --------------- */
/* Disabled features

These features are hidden in pursuit of a more focused editing experience
Remove each line if you want to re-activate the feature */

.status-bar,                                    /* Status bar */
::-webkit-scrollbar,                            /* Scroll bars */
.tooltip,                                       /* Tooltips */
.search-result-file-matches,                    /* File matches in search */
.backlink-pane .search-result-file-matches,     /* File matches in backlinks */
.nav-folder.mod-root > .nav-folder-title {      /* Root name */                  
  display:none !important;
}

.workspace-leaf-content[data-type=starred] .nav-header {
}

/* --------------- */
/* Colors and options */

:root {

  --color:0, 0%; /* Base HSL hue and saturation */
  --d:15%; /* Base Dark Mode HSL lightness */
  --l:97%; /* Base Light Mode HSL lightness */

  --font-normal:16px;
  --font-small:13px;
  --font-smaller:11px;

  --normal-weight:400;    /* Switch to 300 if you want thinner default text */
  --bold-weight:500;      /* Switch to 600 or 700 if you want thicker bold text */

  --cursor:default;       /* Switch "default" to "pointer" if you like the normal style better */ 
  --line-width:50rem;     /* I recommend turning off "Readable line length" */
}
.theme-dark {
  --background-primary:hsl(var(--color),calc(var(--d) + 0%));
  --background-secondary:hsl(var(--color),calc(var(--d) + 0%));
  --background-secondary-alt:hsl(var(--color),calc(var(--d) + 0%));
  --background-tertiary:hsl(var(--color),calc(var(--d) + 4%));
  --background-modifier-border:hsl(var(--color),calc(var(--d) + 6%));
  --background-modifier-border-hover:hsl(var(--color),calc(var(--d) + 10%));
  --background-modifier-border-focus:hsl(var(--color),calc(var(--d) + 15%));
  --quote-opening-modifier:rgb(255, 255, 255, 0.1);
  --text-normal:hsl(var(--color),calc(var(--d) + 70%));
  --text-muted:hsl(var(--color),calc(var(--d) + 45%));
  --text-faint:hsl(var(--color),calc(var(--d) + 20%));
  --background-modifier-accent:#94a8b328;
  --text-accent: #94a8b3;
  --text-accent-hover:#83959e;
  --interactive-accent:#94a8b3;
  --interactive-accent-rgb:66, 66, 66;
  --interactive-accent-hover:#83959e;
  --text-highlight-bg:rgba(168, 220, 250, 0.33);
  --text-selection:rgba(50, 50, 50, 1);
}
.theme-light {
  --background-primary:hsl(var(--color),calc(var(--l) - 0%));
  --background-secondary:hsl(var(--color),calc(var(--l) - 0%));
  --background-secondary-alt:hsl(var(--color),calc(var(--l) - 0%));
  --background-tertiary:hsl(var(--color),calc(var(--l) - 4%));
  --background-modifier-border:hsl(var(--color),calc(var(--l) - 6%));
  --background-modifier-border-hover:hsl(var(--color),calc(var(--l) - 10%));
  --background-modifier-border-focus:hsl(var(--color),calc(var(--l) - 15%));
  --quote-opening-modifier:rgb(255, 255, 255, 0.1);
  --text-normal:hsl(var(--color),calc(var(--l) - 70%));
  --text-muted:hsl(var(--color),calc(var(--l) - 45%));
  --text-faint:hsl(var(--color),calc(var(--l) - 20%));
  --background-modifier-accent:#6b8c9c1e;
  --text-accent: #6b8c9c;
  --text-accent-hover:#81a7b9;
  --interactive-accent:#6b8c9c;
  --interactive-accent-hover:#6b8c9c;
  --interactive-accent-rgb:220, 220, 220;
  --text-selection:rgba(237, 237, 237, 1);
}


/* --------------- */
/* Fonts */

h1,h2,h3,h4,h5,strong {font-weight:var(--bold-weight);}
h1,h2,h3,h4 {letter-spacing:-0.02em;} 

body, input, button, .cm-s-obsidian .cm-formatting-hashtag, .cm-s-obsidian {
  font-family:-apple-system,BlinkMacSystemFont,sans-serif !important;
  letter-spacing:0.02rem;
  font-size:var(--font-normal);
  font-weight:var(--normal-weight);
  -webkit-font-smoothing:subpixel-antialiased !important;
}
.cm-s-obsidian .cm-header, .cm-s-obsidian .cm-strong {
  font-weight:var(--bold-weight);
}
.cm-formatting-header {
  color:var(--text-faint) !important;
  font-weight:var(--normal-weight) !important;
}
.file-embed-title,
.markdown-embed-title {
  letter-spacing:-0.02em;
  text-align:left;
  font-size:20px;
  font-weight:var(--bold-weight);
}

.empty-state-title,
.markdown-preview-view h1,
.HyperMD-header-1,
.cm-header-1 {
  letter-spacing:-0.02em;
  font-size:28px !important;
  font-weight:var(--bold-weight) !important;
}
.markdown-preview-view h2,
.HyperMD-header-2,
.cm-header-2 {
  letter-spacing:-0.02em;
  font-size:22px !important;
  font-weight:var(--bold-weight) !important;
}
.markdown-preview-view h3,
.HyperMD-header-3,
.cm-header-3 {
  letter-spacing:-0em;
  font-weight:var(--bold-weight) !important;
  font-size:18px !important;
}
.markdown-preview-view h4,
.HyperMD-header-4,
.cm-header-4 {
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing:0.05em;
  color:var(--text-normal);
  font-weight:var(--normal-weight) !important;
  font-size:18px !important;
}
.markdown-preview-view h5,
.HyperMD-header-5,
.cm-header-5 {
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing:0.05em;
  color:var(--text-normal);
  font-weight:300 !important;
  font-size:16px !important;
}
.markdown-preview-view h6,
.HyperMD-header-6,
.cm-header-6 {
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing:0.1em;
  color:var(--text-muted);
  font-weight:300 !important;
  font-size:14px !important;
}


/* --------------- */
/* Icons */

.view-header-icon,
.workspace-tab-header,
.nav-action-button,
.side-dock-ribbon-tab, .side-dock-ribbon-action,
.view-header:not(:hover) .view-actions {
  color:var(--text-muted);
  opacity:0.3;
  transition:opacity 0 ease-in-out;
  cursor:var(--cursor);
}
.view-header-icon:hover,
.nav-action-button:hover,
.workspace-tab-header:hover,
.workspace-tab-header.is-active,
.side-dock-ribbon-tab:hover, .side-dock-ribbon-action:hover {
  color:var(--text-normal);
  opacity:0.8;
  transition:opacity 0 ease-in-out;
}

/* --------------- */
/* Focus mode */
/* When the left sidebar is collapsed */

.workspace-ribbon.mod-left {
  transition:border-color 0 ease-in-out;
}
.workspace-ribbon.mod-left.is-collapsed {
  border-color:transparent;
  transition:border-color 0.25s ease-in-out;
}
.workspace-ribbon.mod-left.is-collapsed .side-dock-actions,
.workspace-ribbon.mod-left.is-collapsed .side-dock-settings {
  opacity:0;
  transition:opacity 0.25s ease-in-out;
}
.workspace-ribbon.mod-left.is-collapsed:hover .side-dock-actions,
.workspace-ribbon.mod-left.is-collapsed:hover .side-dock-settings {
  opacity:1;
  transition:opacity 0s ease-in-out;
}

/* --------------- */
/* Tags */

.tag {
  background-color:var(--background-tertiary);
  border:none;
  color:var(--text-muted);
  font-size:var(--font-small);
  padding:1px 8px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  margin:5px 0px 0px;
  cursor:pointer;
  border-radius:14px;
}
.tag:hover {
  color:var(--text-muted);
  background-color:var(--background-modifier-border);
}
.cm-s-obsidian span.cm-hashtag {
  background-color:var(--background-tertiary);
  border:none;
  color:var(--text-muted);
  font-size:var(--font-small);
  text-align:center;
  text-decoration:none;
  display:inline-block;
  margin:0;
  vertical-align:middle;
  padding-top:3px;
  padding-bottom:4px;
  cursor:text;
}
.cm-hashtag-begin {
  border-top-left-radius:14px;
  border-bottom-left-radius:14px;
  padding-left:8px;
}
.cm-hashtag-end {
  border-top-right-radius:14px;
  border-bottom-right-radius:14px;
  padding-right:8px;
}

/* --------------- */
/* Modals */

input.prompt-input, input.prompt-input:hover {
  border:0;
  background:var(--background-primary);
}
.modal-container .suggestion-item.is-selected {
  border-radius:6px;
  background:var(--background-tertiary);
}
.suggestion-item.is-selected,
.menu-item:hover {
  background:var(--background-tertiary);
}

/* --------------- */
/* Modals */

.mod-drag {
  border-radius:0 !important;} 


/* --------------- */
/* Workspace */

/* Bigger margins when single pane */
.mod-single-child .CodeMirror-sizer {
  margin:0px 10% !important;
}
.mod-single-child .markdown-preview-section {
  margin:0px 10% !important;
}
.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle {
  height:1px;
  background:var(--background-modifier-border);
}
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle {
  background:var(--background-modifier-border) !important;
  width:1px;
}
.workspace-tab-container-before, .workspace-tab-container-after{
  width:0;
}
.workspace-leaf {
  border-left:0px;
}.mod-horizontal .workspace-leaf {
  border-bottom:0px;
}
.workspace-leaf:not(.mod-active) {
  opacity:0.8;
}
.workspace-tab-container-inner {
  background:transparent;
  border-bottom:1px solid var(--background-modifier-border);
  border-radius:0;
  width:100%;
  max-width:100%;
  margin:0 auto;
  padding-left:5px;
}
.workspace-tab-header.is-before-active .workspace-tab-header-inner,
.workspace-tab-header.is-active,
.workspace-tab-header.is-after-active,
.workspace-tab-header.is-after-active .workspace-tab-header-inner,
.workspace-tab-header.is-before-active, 
.workspace-tab-header.is-after-active {
  background:transparent;
}
.workspace-tabs {
  padding-right:0;
  font-size:100%;
}
.workspace-tab-header-container {
  border:0 !important;
  height:36px;
}

/* --------------- */
/* Title Bar */

.view-header-title {
  font-weight:var(--bold-weight);
  padding-left:calc(50% - var(--line-width)/2 + 40px);
}
.workspace-leaf-header, .view-header {
  background-color:var(--background-primary) !important;
  border:none !important;
}
.view-header-title-container {
  padding-left:0;
}
.view-header-title-container:after {
  display:none;
}

/* --------------- */
/* Editor */

.cm-s-obsidian .CodeMirror-code {
  padding-right:0;
}
.CodeMirror-lines {
  padding-bottom:170px;
}
.markdown-preview-view {
  padding-top:10px;
}
.markdown-preview-view .markdown-embed {
  margin:0;
}
.markdown-preview-view {
  padding-bottom:200px;
}
.markdown-preview-view .markdown-embed-content {
  max-height:none;
}

.CodeMirror,
.markdown-preview-section  {
  padding-left:0;
  padding-right:0;
  margin:0 auto 0 auto;
  max-width:var(--line-width);
}
.cm-s-obsidian pre.HyperMD-header,
.CodeMirror-line {

}

.CodeMirror-linenumber {
  font-size:var(--font-small) !important;
  font-feature-settings: 'tnum';
  padding-top:6px;
}

/* Lists */
.cm-formatting-list {
  color:var(--text-faint) !important;
}
/* Quote */
.cm-formatting-quote {
  color:var(--text-faint) !important;
}

/* --------------- */
/* Internal search */

.document-search-container.mod-replace-mode {
  height:90px;
}
.document-search-container {
  padding-top:10px;
  height:50px;
  background-color:var(--background-primary);
  border-top:1px solid var(--background-modifier-border);
}
input.document-search-input, input.document-replace-input {
  font-size:var(--font-small) !important;
  border:1px solid var(--background-modifier-border);
  border-radius:14px;
  background:var(--background-primary);
  transition:border-color 0.1s ease-in-out;
}
input.document-search-input:hover,
input.document-replace-input:hover {
  border:1px solid var(--background-modifier-border-hover);
  background:var(--background-primary);
  transition:border-color 0.1s ease-in-out;
}
input.document-search-input:focus,
input.document-replace-input:focus {
  border:1px solid var(--background-modifier-border-focus);
  background:var(--background-primary);
  transition:all 0.1s ease-in-out;
}
.document-search-button {
  font-size:var(--font-small);
}

/* --------------- */
/* Inputs */

button {
  background-color:transparent;
}
button:hover {
  background-color:var(--background-tertiary);
}

/* --------------- */
/* Checkboxes */

input[type=checkbox] {
  -webkit-appearance:none;
  appearance:none;
  border-radius:50%;
  border:1px solid var(--background-modifier-border-hover);
  padding:0;
}
input[type=checkbox]:focus,input[type=checkbox]:hover {
  outline:0;
  border-color:var(--text-faint);
}
input[type=checkbox]:checked {
  background-color:var(--text-accent-hover);
  border:1px solid var(--text-accent-hover);
  background-position:center;
  background-size:70%;
  background-repeat:no-repeat;
  background-image:url('data:image/svg+xml; utf8, <svg width="12px" height="10px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-4.000000, -6.000000)" fill="%23ffffff"><path d="M8.1043257,14.0367999 L4.52468714,10.5420499 C4.32525014,10.3497722 4.32525014,10.0368095 4.52468714,9.8424863 L5.24777413,9.1439454 C5.44721114,8.95166768 5.77142411,8.95166768 5.97086112,9.1439454 L8.46638057,11.5903727 L14.0291389,6.1442083 C14.2285759,5.95193057 14.5527889,5.95193057 14.7522259,6.1442083 L15.4753129,6.84377194 C15.6747499,7.03604967 15.6747499,7.35003511 15.4753129,7.54129009 L8.82741268,14.0367999 C8.62797568,14.2290777 8.3037627,14.2290777 8.1043257,14.0367999"></path></g></g></svg>');
}
.markdown-preview-view .task-list-item-checkbox {
  width:18px;
  height:18px;
  position:relative;
  top:6px;
  line-height:1;
  margin-left:-25px;
}
.markdown-preview-view .task-list-item {
  padding-inline-start:10px;
}
.side-dock-plugin-panel-inner {
  padding-right:6px;
  padding-left:6px;
}

/* --------------- */
/* Files */

.nav-header {
  padding:0;
}
.nav-buttons-container {
  padding:10px 5px 5px 5px;
  margin-bottom:0px !important;
  justify-content:flex-start;
  border:0;
}
.nav-folder.mod-root {
  padding-top:10px;
}
.nav-files-container {
  overflow-x:hidden;
}
.nav-folder-title {
  margin:0px;
  padding:0 10px 0 24px;
  cursor:var(--cursor);
}
.nav-file {
  margin-left:12px;
}
.nav-file-title {
  margin:0 8px 0 -4px;
  padding:2px 2px;
  border-width:0;
  border-color:var(--background-secondary);
  border-radius:6px;
  cursor:var(--cursor);
}
.nav-file-title-content {
  width:100%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  padding:0 5px;
  vertical-align:middle;
  cursor:var(--cursor);
}
.nav-file-title, .nav-folder-title, 
.search-result-file-title, 
.tag-pane-tag {
  font-size:var(--font-small) !important;
  color:var(--text-muted);
}
.side-dock-collapsible-section-header {
  font-size:var(--font-normal);
  color:var(--text-muted);
  cursor:var(--cursor);
}
.search-result-file-title:hover .search-result-collapse-indicator,
.side-dock-collapsible-section-header-indicator:hover,
.side-dock-collapsible-section-header:hover,
.side-dock-collapsible-section-header:hover .side-dock-collapsible-section-header-indicator {
  color:var(--text-normal);
}
.search-result-collapse-indicator,
.nav-folder-collapse-indicator,
.side-dock-collapsible-section-header-indicator,
.is-collapsed .side-dock-collapsible-section-header-indicator {
  color:var(--background-modifier-border);
}

/* --------------- */
/* Outline */

.outline .pane-empty {
  font-size:var(--font-small);
  color:var(--text-faint);
  margin:0 0 0 15px;
}
.outline .pane-clickable-item {
  cursor:var(--cursor);
  line-height:1.4;
  margin-bottom:4px;
  font-size:var(--font-small);
}

/* --------------- */
/* Search */

.search-input {
  max-width:calc(100% - 20px);
  margin-left:10px;
  width:500px;
}
input.search-input:focus {
  border-color:var(--background-modifier-border);
}
.workspace-leaf-content[data-type='search'] .search-result-file-matches {
  border-left:0;
  padding-left:0;
}
.search-empty-state {
  font-size:var(--font-small);
  color:var(--text-faint);
  padding-left:15px;
}
.search-result-container {
    padding:5px 10px 5px 5px;
}
.backlink-pane .search-result-container {
    padding:5px 0px 5px 25px;
}
.search-result-file-title {
  line-height:1.3;
  padding:5px 10px 5px 24px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  vertical-align:middle;
  cursor:var(--cursor)!important;
}
.search-result-collapse-indicator {
  left:5px;
}
.search-result-file-matches {
  font-size:var(--font-small);
  line-height:1.3;
  margin-bottom:0px;
  padding:0 0 5px 0;
  color:var(--text-faint);
}
.backlink-pane .search-result-file-title {
  padding-left:10px;
}
.search-result-file-title:hover {
  color:var(--text-normal);
}
.workspace-leaf-content .search-input,
.workspace-leaf-content .search-input:hover,
.workspace-leaf-content .search-input:focus {
  font-size:var(--font-small);
  padding:7px 10px;
  border-radius:20px;
  background:var(--background-primary);
  border:1px solid var(--background-modifier-border);
  transition:border-color 0.1s ease-in-out;
}
.workspace-leaf-content .search-input:hover {
  border-color:var(--background-modifier-border-hover);
  transition:border-color 0.1s ease-in-out;
}
.workspace-leaf-content .search-input:focus {
  background:var(--background-primary);
  border-color:var(--background-modifier-border-focus);
  transition:all 0.1s ease-in-out;
}
.workspace-leaf-content .search-input::placeholder {
  color:var(--text-faint);
  font-size:var(--font-small);
}
.workspace-split.mod-root .workspace-split.mod-vertical .workspace-leaf-content {
  padding-right:0;
}
.workspace-split.mod-horizontal.mod-right-split {
  width:0;
}
.workspace-split.mod-vertical > .workspace-leaf {
  padding-right:1px;
}
.workspace-leaf-content[data-type=starred] .item-list {
  padding-top:10px;
}
.workspace-split.mod-right-split .view-content {
  padding:10px 0 30px 0;
}

/* --------------- */
/* Tags */

.tag-pane-tag-count {
  padding:0;
  color:var(--text-faint);
}
.tag-pane-tag {
  padding:0 10px;
  cursor:var(--cursor);
}
.nav-file.is-active .nav-file-title:hover {
  background:var(--background-tertiary) !important;
}
.nav-file.is-active > .nav-file-title {
  background:var(--background-tertiary);
}

/* --------------- */
/* Side docks collapsing */

.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
  background:var(--background-modifier-border);
  width:1px !important;
}
.workspace-leaf-resize-handle:hover {
  background:var(--background-secondary);
}

/* --------------- */
/* Status bar */

.status-bar {
  background-color:var(--background-primary);
  color:var(--text-faint);
  font-size:var(--font-smaller);
  padding:0;
}
.status-bar-item {
  padding: 0 5px;
}
.status-bar-item-segment {
  margin-right:10px;
}

/* --------------- */
/* Sidedock icons */

.workspace-ribbon-collapse-btn {
  margin-top:0;
  padding-top:7px;
}
.workspace-ribbon-collapse-btn,
.view-action,
.side-dock-ribbon-tab, .side-dock-ribbon-action {
  cursor:var(--cursor);
}
.workspace-ribbon {
  border-color:var(--background-modifier-border);
  background:var(--background-secondary);
}
.workspace-ribbon.mod-right {
  right:0;
  position:absolute;
  background:transparent;
  border-right:0;
}
.mod-right:not(.is-collapsed) ~ .workspace-split.mod-right-split {
  margin-right:0;
}
.side-dock-ribbon-action {
  padding:6px 0;
}
.side-dock-settings {
  margin-bottom:5px;
}
.side-dock-ribbon {
  border-left:0;
}

/* --------------- */
/* iframes */

iframe {
  border:0;
}

/* Markdown preview styling */
/* Blockquotes */
.markdown-preview-view blockquote {
  border-radius:0;
  border:solid var(--quote-opening-modifier);
  border-width:0px 0px 0px 1px;
  background-color:transparent;
  color:var(--text-muted);
  padding:0 0 0 10px;
}

/* --------------- */
/* Lists  */

ul {
  padding-inline-start:40px;
  list-style: none;
}

ul > li:not(.task-list-item)::before {
  content: "\2022";
  color: var(--text-faint);
  font-weight:600;
  display: inline-block;
  width: 1em;
  margin-left:-20px;
}

ul li p, ol li p {
  display:inline-block;
}

ol {
  padding-inline-start:40px;
  list-style: none;
  counter-reset: counter;
}
ol > li {
  margin-left:-20px;
  counter-increment: counter;
}
ol > li::before {
  content: counter(counter) ". ";
  color: var(--text-faint);
}

*/

/* --------------- */
/* Popover */


/* --------------- */
/* Graphs */

/*.graph-view.color-fill {
  color:var(--background-secondary);
}
.graph-view.color-circle {
  color:var(--text-normal);
}
.graph-view.color-line {
  color:var(--background-modifier-border);
}
.graph-view.color-text {
  color:var(--text-normal);
}
.graph-view.color-fill-highlight {
  color:var(--interactive-accent);
}*/
.graph-view.color-line-highlight {
  color:var(--interactive-accent);
}