.document-search, .document-replace {
	max-width: 100%;
}
.document-search-container {
	margin: 0 auto;
	max-width: var(--max-width);
	width: var(--line-width-adaptive);
}

.minimal-focus-mode .document-search-container {
	margin-top: var(--header-height);
}
