/* Indentation Guides (Obsidian 0.14.0+)
body {
  --ig-adjust-reading:-0.95em;
  --ig-adjust-edit: 2px;
}

.markdown-rendered.show-indentation-guide li.task-list-item > ul::before,
.markdown-rendered.show-indentation-guide li.task-list-item > ol::before,
.markdown-rendered.show-indentation-guide li > ul::before,
.markdown-rendered.show-indentation-guide li > ol::before {
  left:var(--ig-adjust-reading);
}

.markdown-source-view.mod-cm6 .cm-indent::before {
  transform:translateX(var(--ig-adjust-edit));
}

.is-mobile {

  .markdown-rendered.show-indentation-guide li > ul::before,
  .markdown-rendered.show-indentation-guide li > ol::before {
    left:calc(0em + var(--ig-adjust-reading));
  }
  .markdown-source-view.mod-cm6 .cm-indent::before {
    transform:translateX(calc(2px + var(--ig-adjust-edit)));
  }

}
*/

