/* Input fields */
textarea,
input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='number'] {
  font-family:var(--font-ui);
  font-size:var(--font-inputs);
}
textarea {
  padding:5px 10px;
  transition:box-shadow 0.1s linear;
  -webkit-appearance:none;
  line-height:1.3;
}
input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='number'] {
  padding:5px 10px;
  -webkit-appearance:none;
  transition:box-shadow 0.1s linear;
  height:var(--input-height);
}
textarea:hover,
input:hover {
  border-color:var(--background-modifier-border-hover);
  transition:border-color 0.1s linear, box-shadow 0.1s linear;
}
textarea:active,
textarea:focus,
input[type='text']:active,
input[type='search']:active,
input[type='email']:active,
input[type='password']:active,
input[type='number']:active,
input[type='text']:focus,
input[type='search']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus {
  -webkit-appearance:none;
  border-color:var(--background-modifier-border-hover);
}
body:not(.is-mobile) textarea:active,
body:not(.is-mobile) textarea:focus,
body:not(.is-mobile) .dropdown:focus,
body:not(.is-mobile) .dropdown:active,
body:not(.is-mobile) select:focus,
body:not(.is-mobile) select:active,
body:not(.is-mobile) input:focus {
  box-shadow:0 0 0px 2px var(--background-modifier-border-hover);
  transition:border-color 0.1s linear, box-shadow 0.1s linear;
}