/* Modals */

.modal-button-container .mod-checkbox {
	--checkbox-radius: 4px;
}

/* Confirm delete */
.modal-container.mod-confirmation {

  .modal {
    width:480px;
    min-width:0;
  }

}
