/* Progress bars */
body {
	--progress-outline:  var(--background-modifier-border);
	--progress-complete: var(--text-accent);
}
.markdown-rendered progress,
.markdown-source-view.is-live-preview progress,
.markdown-preview-view progress {
	width:220px;

	&[value]::-webkit-progress-bar {
		box-shadow:inset 0px 0px 0px var(--border-width) var(--progress-outline);
	}

	&[value^='1']::-webkit-progress-value,
	&[value^='2']::-webkit-progress-value,
	&[value^='3']::-webkit-progress-value {
		background-color: var(--color-red);
	}
	&[value^='4']::-webkit-progress-value,
	&[value^='5']::-webkit-progress-value {
		background-color: var(--color-orange);
	}
	&[value^='6']::-webkit-progress-value,
	&[value^='7']::-webkit-progress-value {
		background-color: var(--color-yellow);
	}
	&[value^='8']::-webkit-progress-value,
	&[value^='9']::-webkit-progress-value {
		background-color: var(--color-green);
	}
	&[value='1']::-webkit-progress-value,
	&[value='100']::-webkit-progress-value {
		background-color: var(--progress-complete);
	}

	&[value='0']::-webkit-progress-value,
	&[value='2']::-webkit-progress-value,
	&[value='3']::-webkit-progress-value,
	&[value='4']::-webkit-progress-value,
	&[value='5']::-webkit-progress-value,
	&[value='6']::-webkit-progress-value,
	&[value='7']::-webkit-progress-value,
	&[value='8']::-webkit-progress-value,
	&[value='9']::-webkit-progress-value {
		background-color: var(--color-red);
	}
}
