/* Code blocks */

/* Live Preview */

.markdown-source-view.mod-cm6.is-readable-line-width .cm-editor .HyperMD-codeblock.cm-line,
.mod-cm6 .cm-editor .HyperMD-codeblock.cm-line {
	padding-left:10px;
	padding-right:10px;
}

/* Reading */
.cm-s-obsidian span.cm-inline-code,
.markdown-rendered code,
.markdown-preview-view code {
  color:var(--text-code);
  font-size:var(--font-code);
}

.markdown-preview-view td code ,
.markdown-source-view.mod-cm6 td code  {
  font-size:calc(var(--font-code) - 2px);
}

.markdown-preview-view pre code {
  background-color:transparent;
}
.markdown-preview-view pre,
.markdown-source-view.mod-cm6 .cm-preview-code-block pre.dataview-error,
.mod-cm6 .cm-editor .HyperMD-codeblock.cm-line,
.cm-s-obsidian .HyperMD-codeblock {
  color:var(--text-code);
  font-size:var(--font-code);
}
button.copy-code-button {
  cursor:var(--cursor);
  box-shadow:none;
  font-size:var(--font-adaptive-smaller);
  background-color:transparent;
  color:var(--text-faint);
  padding:0.25em 0.75em;
}
button.copy-code-button:hover {
  background-color:var(--interactive-normal);
  color:var(--text-muted);
}
.theme-light :not(pre) > code[class*="language-"],
.theme-light pre[class*="language-"] {
  background-color:var(--background-primary-alt);
}
.theme-light code[class*="language-"],
.theme-light pre[class*="language-"] {
  text-shadow:none;
}

.markdown-source-view.mod-cm6 .code-block-flair {
  font-size:var(--font-smaller);
  padding:5px 0;
  color:var(--text-muted);
}

.cm-s-obsidian .hmd-fold-html-stub,
.cm-s-obsidian .hmd-fold-code-stub,
.cm-s-obsidian.CodeMirror .HyperMD-hover > .HyperMD-hover-content code,
.cm-s-obsidian .cm-formatting-hashtag,
.cm-s-obsidian .cm-inline-code,
.cm-s-obsidian .HyperMD-codeblock,
.cm-s-obsidian .HyperMD-hr,
.cm-s-obsidian .cm-hmd-frontmatter,
.cm-s-obsidian .cm-hmd-orgmode-markup,
.cm-s-obsidian .cm-formatting-code,
.cm-s-obsidian .cm-math,
.cm-s-obsidian span.hmd-fold-math-placeholder,
.cm-s-obsidian .CodeMirror-linewidget kbd,
.cm-s-obsidian .hmd-fold-html kbd
.CodeMirror-code {
  font-family:var(--font-monospace);
}