/* Drag ghost */

body.is-dragging {
  cursor:grabbing;
  cursor:-webkit-grabbing;
}

.workspace-drop-overlay:before,
.mod-drag {
  opacity:0;
  border-radius:0 !important;} 

.drag-ghost,
.drag-ghost.mod-leaf {
  border:none;
  background-color:rgba(0,0,0,0.7);
  font-size:var(--font-adaptive-small);
  padding:3px 8px 4px;
  color:white;
  font-weight:500;
  border-radius:5px;
}
.drag-ghost-icon {
  display:none;
}
.drag-ghost-self svg {
  margin-right:4px;
  opacity:0.5;
  display:none;
}
.drag-ghost-action {
  padding:0;
  font-weight:400;
  color:rgba(255,255,255,0.7);
  font-size:var(--font-adaptive-smaller);
}

.mod-drag {
  opacity:0;
  border:2px solid var(--text-accent);
  background-color:var(--background-primary);} 

.view-header.is-highlighted:after {
  background-color:var(--text-selection);} 
.view-header.is-highlighted .view-actions {
  background:transparent;
}

/*
.workspace-fake-target-overlay,
.workspace-fake-target-overlay.is-in-sidebar,
.workspace-drop-overlay,
.view-header.is-highlighted:after {
  opacity:0;
  background-color:var(--background-primary);
}
*/