/* Editor mode (Legacy) */

.theme-light .token.operator,
.theme-light .token.entity,
.theme-light .token.url,
.theme-light .language-css .token.string,
.theme-light .style .token.string,
.theme-light .cm-operator,
.theme-light .cm-string,
.theme-light .cm-string-2,
.theme-light .cm-link {
  background-color:transparent;
}

.markdown-source-view.mod-cm6,
.markdown-source-view.mod-cm5,
.markdown-source-view {
  padding:0;
}
.cm-s-obsidian .CodeMirror-code {
  padding-right:0;
}
.CodeMirror-lines {
  padding-bottom:170px;
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding-left:0;
  padding-right:0;
}
.cm-s-obsidian pre.HyperMD-list-line {
  padding-top:0;
}
.workspace .markdown-preview-view {
  padding:0;
}
.workspace .markdown-preview-view .markdown-embed {
  margin:0;
}
.workspace .markdown-preview-view .markdown-embed-content {
  max-height:none;
}
.markdown-embed-title,
.internal-embed .markdown-preview-section {
  max-width:100%;
}

.CodeMirror-linenumber {
  font-size:var(--font-adaptive-small) !important;
  font-feature-settings:'tnum';
  color:var(--text-faint);
  padding-top:3px;
}


span.cm-image-marker,
.cm-s-obsidian span.cm-footref.cm-formatting.cm-formatting-link.cm-formatting-link-end,
.cm-s-obsidian .cm-formatting-link+span.cm-link.cm-formatting.cm-formatting-link-end,
.cm-s-obsidian .cm-active span.cm-link.cm-hmd-barelink.cm-formatting-link-start,
.cm-s-obsidian span.cm-link.cm-hmd-barelink.cm-formatting-link-start,
.cm-s-obsidian span.cm-formatting-link {
  color:var(--text-faint);
}

/* Editor Mode Footnotes */
.cm-s-obsidian span.cm-footref {
  font-size:var(--font-adaptive-normal);
}
.cm-s-obsidian pre.HyperMD-footnote {
  font-size:var(--font-adaptive-small);
  padding-left:20px;
}

/* Editor Mode Quotes */
.cm-formatting-quote {
  color:var(--text-faint) !important;
}