/* Editor mode (CodeMirror 6 Live Preview) */

/* Fix strange Obsidian ghost textearea bug on right click */
.CodeMirror-wrap > div > textarea {
  opacity:0;
}

.markdown-source-view.mod-cm6 hr {
  border-width:2px;
}
.mod-cm6 .cm-editor .cm-line {
  padding:0;
}
.cm-editor .cm-content {
  padding-top:0.5em;
}
.markdown-source-view.mod-cm6 .cm-scroller {
  padding-top:15px;
  padding-left:calc((100% - var(--max-width)) / 2);
  padding-right:calc((100% - var(--max-width)) / 2);
}

/* Code execution blocks, e.g. Dataview */
.markdown-source-view.mod-cm6 .edit-block-button {
  cursor:var(--cursor);
  color:var(--text-muted);
  background-color:transparent;
  top:0;
  right:0;
  transition:opacity 200ms;
  padding:4px;
}
.markdown-source-view.mod-cm6 .edit-block-button:hover {
  background-color:var(--background-tertiary);
}
.markdown-source-view.mod-cm6 .edit-block-button svg {
  opacity:0.5;
  width:18px;
  height:18px;
}
.markdown-source-view.mod-cm6 .edit-block-button:hover svg {
  opacity:1;
}
.markdown-source-view.mod-cm6 .cm-embed-block {
  padding:0;
  border:0;
  border-radius:0;
}
.markdown-source-view.mod-cm6 .cm-embed-block:hover {
  border:0;
}

/* Line numbers */
.cm-editor .cm-lineNumbers .cm-gutterElement {
  font-variant-numeric:tabular-nums;
}

/* Live Preview folding */
.markdown-source-view.mod-cm6 .cm-foldPlaceholder {
  color:var(--text-faint);
}
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
  background-color:transparent;
  border-left-width:1px;
}
.cm-editor .cm-foldPlaceholder,
.markdown-source-view.mod-cm6 .cm-fold-indicator .collapse-indicator {
  cursor:var(--cursor);
}

.markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-1 .cm-fold-indicator .collapse-indicator {
  right:6px;
}
.markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-task-line:not(.HyperMD-list-line-1) .cm-fold-indicator .collapse-indicator {
  right:0px;
}
.markdown-source-view.mod-cm6 .HyperMD-list-line:not(.HyperMD-list-line-1) .cm-fold-indicator .collapse-indicator {
  right:-8px;
  top:1px;
  width:26px;
}
ul>li.is-collapsed::marker,
.markdown-source-view.mod-cm6 .is-collapsed ~ .cm-formatting-list .list-bullet:after {
  color:var(--text-accent);
}
.cm-gutterElement .collapse-indicator,
.markdown-source-view.mod-cm6 .cm-fold-indicator .collapse-indicator,
.markdown-source-view.mod-cm6 .fold-gutter {
  opacity:0;
}
.cm-gutterElement:hover .collapse-indicator,
.cm-gutterElement .is-collapsed .collapse-indicator,
.markdown-source-view.mod-cm6 .cm-line:hover .cm-fold-indicator .collapse-indicator,
.markdown-source-view.mod-cm6 .cm-fold-indicator.is-collapsed .collapse-indicator,
.markdown-source-view.mod-cm6 .fold-gutter.is-collapsed,
.markdown-source-view.mod-cm6 .fold-gutter:hover {
  opacity:1;
}

/* Live Preview text selection */
.markdown-source-view.mod-cm6  .cm-line:not(.HyperMD-codeblock) .cm-selection {
  background-color:transparent;
}
.markdown-source-view.mod-cm6 .cm-line .cm-inline-code .cm-selection {
  background-color: var(--text-selection);
}
body .markdown-source-view.mod-cm6.is-readable-line-width:not(.is-rtl) .cm-contentContainer {
  max-width:var(--line-width-adaptive);
}
body:not(.is-mobile).minimal-folding .markdown-source-view.mod-cm6.is-readable-line-width .cm-contentContainer { 
  max-width:var(--line-width-adaptive);
}
