/* Folding icons in Preview */
.collapse-indicator svg,
.markdown-preview-view .heading-collapse-indicator.collapse-indicator svg,
.markdown-preview-view ol > li .collapse-indicator svg,
.markdown-preview-view ul > li .collapse-indicator svg {
  opacity:0;
}

h1:hover .heading-collapse-indicator.collapse-indicator svg,
h2:hover .heading-collapse-indicator.collapse-indicator svg,
h3:hover .heading-collapse-indicator.collapse-indicator svg,
h4:hover .heading-collapse-indicator.collapse-indicator svg,
h5:hover .heading-collapse-indicator.collapse-indicator svg,
.HyperMD-header:hover .collapse-indicator svg,
.markdown-preview-view .is-collapsed .collapse-indicator svg,
.markdown-preview-view .collapse-indicator:hover svg,
.collapse-indicator:hover svg {
  opacity:1;
}
.markdown-preview-view div.is-collapsed h1::after,
.markdown-preview-view div.is-collapsed h2::after,
.markdown-preview-view div.is-collapsed h3::after,
.markdown-preview-view div.is-collapsed h4::after,
.markdown-preview-view div.is-collapsed h5::after,
.markdown-preview-view ol .is-collapsed::after,
.markdown-preview-view ul .is-collapsed::after {
  content:"...";
  padding:5px;
  color:var(--text-faint);
}
.markdown-preview-view ol > li.task-list-item .collapse-indicator,
.markdown-preview-view ul > li.task-list-item .collapse-indicator {
  margin-left:-48px;
  position:absolute;
}
.markdown-preview-view ol > li .collapse-indicator {
  padding-right:20px;
}
.markdown-preview-view .heading-collapse-indicator.collapse-indicator {
  margin-left:-28px;
  padding-right:7px 8px 7px 0;
}
.markdown-preview-view .collapse-indicator {
  position:absolute;
  margin-left:-44px;
  padding-bottom:10px;
  padding-top:0px;}
.markdown-preview-view ul > li:not(.task-list-item) .collapse-indicator {
  padding-right:20px;}

.list-collapse-indicator .collapse-indicator .collapse-icon {
  opacity:0;
}
.markdown-preview-view ul > li h1,
.markdown-preview-view ul > li h2,
.markdown-preview-view ul > li h3,
.markdown-preview-view ul > li h4 {
  display:inline;
}

/* Folding icons in Edit mode */
.markdown-source-view.mod-cm6.is-folding .cm-contentContainer {
  padding-left:0;
}

.CodeMirror-foldgutter-folded,
.CodeMirror-foldgutter-open {
  cursor:var(--cursor);
}
body .frontmatter-collapse-indicator svg.right-triangle {
  background-color:currentColor;
  -webkit-mask-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32"><path fill="red" stroke-width="2" stroke="currentColor" d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"></path></svg>');
}
body span[title="Fold line"],
body span[title="Unfold line"] {
  position:relative;
  font-size:0;
  color:transparent;
  display:flex;
  height:auto;
  align-items:center;
}
body span[title="Fold line"]:hover,
body span[title="Unfold line"]:hover,
body .CodeMirror-foldgutter-open:hover,
body .CodeMirror-foldgutter-folded:hover {
  color:var(--text-muted);
}
body span[title="Fold line"]:after,
body span[title="Unfold line"]:after,
body .CodeMirror-foldgutter-open:after,
body .CodeMirror-foldgutter-folded:after {
  text-align:center;
  color:var(--text-faint);
  font-size:1.25rem;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-left:0px;
  width:1rem;
  height:1rem;
}
body:not(.is-mobile) span[title="Fold line"]:after,
body:not(.is-mobile) span[title="Unfold line"]:after,
body:not(.is-mobile) .CodeMirror-foldgutter-open:after,
body:not(.is-mobile) .CodeMirror-foldgutter-folded:after {
  margin-top:0.35rem;
  margin-left:2px;
}
body .is-mobile .cm-editor .cm-lineNumbers .cm-gutterElement {
  padding:0 3px 0 0px;
  min-width:15px;
  text-align:right;
  white-space:nowrap;
}
body span[title="Fold line"]:after,
body span[title="Unfold line"]:after {
  font-size:1rem;
  line-height:1;
}
body span[title="Fold line"]:after,
body span[title="Unfold line"]:after {
  font-size:1rem;
  line-height:1;
}
body span[title="Unfold line"]:after,
body .CodeMirror-foldgutter-folded:after {
  background-color:var(--text-faint);
  height:12px;
  width:12px;
  -webkit-mask-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32"><path fill="red" stroke-width="2" stroke="currentColor" d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"></path></svg>');
  transform:translateY(-2px);
  transform:rotate(-90deg);
}

body span[title="Fold line"]:after,
body .CodeMirror-foldgutter-open:after {
  background-color:var(--text-faint);
  height:12px;
  width:12px;
  -webkit-mask-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32"><path fill="red" stroke-width="2" stroke="currentColor" d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"></path></svg>');
}
.is-mobile span[title="Fold line"]:after,
.is-mobile .CodeMirror-foldgutter-open:after {
  transform:translateX(-2px) !important;
}
span[title="Fold line"],
.CodeMirror-foldgutter-open:after {
  opacity:0;
}
span[title="Fold line"]:hover,
span[title="Unfold line"],
.CodeMirror-foldgutter-folded:after,
.CodeMirror-code > div:hover .CodeMirror-foldgutter-open:after {
  opacity:1;
}
span[title="Unfold line"]:hover,
.CodeMirror-code > div:hover .CodeMirror-foldgutter-open:hover:after,
.CodeMirror-code > div:hover .CodeMirror-foldgutter-folded:hover:after {
  opacity:1;
}

body.is-mobile span[title="Unfold line"]:after,
body.is-mobile .CodeMirror-foldgutter-folded:after {
  content:"›";
  font-family:sans-serif;
  transform:translateY(-2px);
  transform:rotate(-90deg) translateY(2px) translateX(-0.45em);
}

body.is-mobile span[title="Fold line"]:after,
body.is-mobile .CodeMirror-foldgutter-open:after {
  content:"›";
  font-family:sans-serif;
  transform:rotate(360deg);
}