/* Headings and fonts */

h1,h2,h3,h4,h5,strong {font-weight:var(--bold-weight);}
h1,h2,h3,h4 {letter-spacing:-0.02em;} 

body, input, button  {
  font-family:var(--font-ui);
}
.cm-s-obsidian span.cm-error {
  color:var(--red);
}
.markdown-preview-view,
.popover,
.vertical-tab-content-container,
.workspace-leaf-content[data-type=markdown] {
  font-family:var(--text)
}
body, input, button,
.markdown-preview-view,
.markdown-source-view.mod-cm6.is-live-preview .cm-scroller,
.cm-s-obsidian,
.cm-s-obsidian .cm-formatting-hashtag {
  font-size:var(--font-adaptive-normal);
  font-weight:var(--normal-weight);
  line-height:var(--line-height);
  -webkit-font-smoothing:subpixel-antialiased;
}
.markdown-source-view.mod-cm6 .cm-scroller,
.markdown-source-view,
.cm-s-obsidian .cm-formatting-hashtag, 
.cm-s-obsidian,
.cm-s-obsidian span.cm-formatting-task {
  line-height:var(--line-height);
  font-family:var(--text-editor);
  -webkit-font-smoothing:subpixel-antialiased;
}

/* Use reading font in live preview */
.lp-reading-font .markdown-source-view.mod-cm6.is-live-preview .cm-scroller {
  font-family:var(--text)
}
.cm-s-obsidian span.cm-formatting-task {
  font-family:var(--text-editor);
  line-height:var(--line-height);
}
.cm-s-obsidian .cm-header,
.cm-s-obsidian .cm-strong {
  font-weight:var(--bold-weight);
}
strong,
.cm-s-obsidian .cm-strong {
  color:var(--text-bold);
}
em,
.cm-s-obsidian .cm-em {
  color:var(--text-italic);
}
.cm-formatting-header,
.cm-s-obsidian .cm-formatting-header.cm-header-1,
.cm-s-obsidian .cm-formatting-header.cm-header-2,
.cm-s-obsidian .cm-formatting-header.cm-header-3,
.cm-s-obsidian .cm-formatting-header.cm-header-4,
.cm-s-obsidian .cm-formatting-header.cm-header-5,
.cm-s-obsidian .cm-formatting-header.cm-header-6 {
  color:var(--text-faint);
}
.view-header-title,
.file-embed-title,
.markdown-embed-title {
  letter-spacing:-0.02em;
  text-align:left;
  font-size:var(--title-size);
  font-weight:var(--title-weight);
}
.view-header-title {
  color:var(--title-color-inactive);
}
.file-embed-title,
.markdown-embed-title,
.workspace-leaf.mod-active .view-header-title {
  color:var(--title-color);
}
.cm-s-obsidian .HyperMD-header { 
  line-height: 1.3;
}
.mod-cm6 .cm-editor .HyperMD-header-1,
.mod-cm6 .cm-editor .HyperMD-header-2,
.mod-cm6 .cm-editor .HyperMD-header-3,
.mod-cm6 .cm-editor .HyperMD-header-4,
.mod-cm6 .cm-editor .HyperMD-header-5,
.mod-cm6 .cm-editor .HyperMD-header-6 {
  padding-top:0.5em;
}
h1,
.empty-state-title,
.markdown-rendered h1,
.markdown-preview-view h1,
.cm-s-obsidian .cm-header-1 {
  font-variant:var(--h1-variant);
  letter-spacing:-0.02em;
  line-height:1.3;
  font-family:var(--h1-font);
  font-size:var(--h1);
  color:var(--h1-color);
  font-weight:var(--h1-weight);
  font-style:var(--h1-style);
}
.markdown-rendered h2,
.markdown-preview-view h2,
.cm-s-obsidian .cm-header-2 {
  font-variant:var(--h2-variant);
  letter-spacing:-0.01em;
  line-height:1.3;
  font-family:var(--h2-font);
  font-size:var(--h2);
  color:var(--h2-color);
  font-weight:var(--h2-weight);
  font-style:var(--h2-style);
}
.markdown-rendered h3,
.markdown-preview-view h3,
.cm-s-obsidian .cm-header-3 {
  font-variant:var(--h3-variant);
  letter-spacing:-0.01em;
  line-height:1.4;
  font-family:var(--h3-font);
  font-size:var(--h3);
  color:var(--h3-color);
  font-weight:var(--h3-weight);
  font-style:var(--h3-style);
}
.markdown-rendered h4,
.markdown-preview-view h4,
.cm-s-obsidian .cm-header-4 {
  font-variant:var(--h4-variant);
  letter-spacing:0.02em;
  font-family:var(--h4-font);
  font-size:var(--h4);
  color:var(--h4-color);
  font-weight:var(--h4-weight);
  font-style:var(--h4-style);
}
.markdown-rendered h5,
.markdown-preview-view h5,
.cm-s-obsidian .cm-header-5 {
  font-variant:var(--h5-variant);
  letter-spacing:0.02em;
  font-family:var(--h5-font);
  font-size:var(--h5);
  color:var(--h5-color);
  font-weight:var(--h5-weight);
  font-style:var(--h5-style);
}
.markdown-rendered h6,
.markdown-preview-view h6,
.cm-s-obsidian .cm-header-6 {
  font-variant:var(--h6-variant);
  letter-spacing:0.02em;
  font-family:var(--h6-font);
  font-size:var(--h6);
  color:var(--h6-color);
  font-weight:var(--h6-weight);
  font-style:var(--h6-style);
}
