/* Icons and icon buttons */

/* Search */
.is-mobile .document-search-container .document-search {
  position:relative;
}
.is-mobile .search-input-container:before,
.is-mobile .workspace-leaf-content[data-type='search'] .search-input-container:before,
.is-mobile .document-search-container .document-search:before {
  content:" ";
  position:absolute;
  z-index:9;
  top:50%;
  transform: translateY(-50%);
  left:7px;
  display:block;
  width:18px;
  height:18px;
  background-color:var(--text-muted);
  -webkit-mask-image:url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="18" height="18" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cpath fill="currentColor" fill-rule="evenodd" d="m16.325 14.899l5.38 5.38a1.008 1.008 0 0 1-1.427 1.426l-5.38-5.38a8 8 0 1 1 1.426-1.426ZM10 16a6 6 0 1 0 0-12a6 6 0 0 0 0 12Z"%2F%3E%3C%2Fsvg%3E');
  background-position:50% 50%;
  background-repeat:no-repeat;
}
