/* Icons and icon buttons */

body svg.right-triangle {
  color:var(--text-muted);
  background-color:var(--text-muted);
  height:12px;
  width:12px;
  -webkit-mask-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32"><path fill="black" stroke-width="2" stroke="currentColor" d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"></path></svg>');
}
.nav-action-button svg {
  width:15px;
  height:15px;
}
body .view-header-icon,
body .graph-controls-button,
body .clickable-icon,
body .menu-item-icon,
body .side-dock-ribbon-action,
body .nav-action-button,
body .view-action,
body .workspace-tab-header-inner-icon {
  line-height:0;
}
body .view-header-icon svg path,
body .graph-controls-button svg path,
body .clickable-icon svg path,
body .menu-item-icon svg path,
body .side-dock-ribbon-action svg path,
body .nav-action-button svg path,
body .view-action svg path,
body .workspace-tab-header-inner-icon svg path {
  stroke-width:2px;
}
body .view-action svg.cross path {
  stroke-width:2px;
}
.workspace-ribbon-collapse-btn svg path {
  stroke-width:4px;
}
.nav-action-button svg path {
  stroke-width:2px;
}
.clickable-icon {
  cursor:var(--cursor);
}
.graph-controls-button,
.view-action,
.view-header-icon,
.nav-action-button,
.workspace-tab-header,
.side-dock-ribbon-tab,
.side-dock-ribbon-action,
.workspace-tab-header {
  background:transparent;
  color:var(--icon-color);
  opacity:var(--icon-muted);
  transition:opacity 0.1s ease-in-out;
  cursor:var(--cursor);
  line-height:0;
}
.graph-controls-button,
.view-header-icon,
.workspace-tab-header-inner-icon,
.side-dock-ribbon-action,
.workspace-ribbon-collapse-btn {
  margin:0;
  padding:4px 4px;
  height:26px;
  border-radius:var(--radius-m);
}
.view-header-icon {
  display:flex;
  align-items:center;
}
.workspace-ribbon-collapse-btn {
  margin:0;
  padding:2px 4px;
}
.side-dock-ribbon-action {
  border-left:0;
  margin:0 6px 6px;
}
.nav-action-button,
.workspace-leaf-content[data-type='search'] .nav-action-button,
.workspace-leaf-content[data-type='backlink'] .nav-action-button {
  padding:3px 5px 3px;
  margin:0 0 7px 0px;
  height:26px;
  text-align:center;
  border-radius:var(--radius-m);
}
.nav-action-button.is-active,
.workspace-leaf-content[data-type='dictionary-view'] .nav-action-button.is-active,
.workspace-leaf-content[data-type='search'] .nav-action-button.is-active,
.workspace-leaf-content[data-type='backlink'] .nav-action-button.is-active,
.workspace-leaf-content[data-type='tag'] .nav-action-button.is-active,
.workspace-tab-header.is-active,
.workspace-leaf-content[data-type='search'] .nav-action-button.is-active {
  background:transparent;
  color:var(--icon-color);
  opacity:1;
  transition:opacity 0.1s ease-in-out;
}
.nav-action-button.is-active,
.workspace-tab-header.is-active:hover {
  color:var(--icon-color);
}
.workspace-leaf-content[data-type='search'] .nav-action-button.is-active {
  background:transparent;
}
.graph-controls-button:hover,
.view-action:hover,
.view-action.is-active:hover,
.view-header-icon:hover,
.nav-action-button:hover,
.nav-action-button.is-active:hover,
.workspace-tab-header:hover,
.side-dock-ribbon-tab:hover,
.side-dock-ribbon-action:hover {
  color:var(--icon-color-hover);
  opacity:1;
  transition:opacity 0.1s ease-in-out;
}
.graph-controls-button:hover,
.view-action:hover,
.nav-action-button:hover,
.workspace-leaf-content[data-type='search'] .nav-action-button.is-active:hover,
.workspace-leaf-content[data-type='backlink'] .nav-action-button.is-active:hover,
.workspace-drawer-tab-option-item:hover,
.workspace-drawer-header-icon:hover,
.workspace-tab-header-inner-icon:hover,
.side-dock-ribbon-action:hover {
  background-color:var(--background-tertiary);
  border-radius:var(--radius-m);
}

/* Search */
.is-mobile .document-search-container .document-search {
  position:relative;
}
.is-mobile .search-input-container:before,
.is-mobile .workspace-leaf-content[data-type='search'] .search-input-container:before,
.is-mobile .document-search-container .document-search:before {
  content:" ";
  position:absolute;
  z-index:9;
  top:50%;
  transform: translateY(-50%);
  left:7px;
  display:block;
  width:18px;
  height:18px;
  background-color:var(--text-muted);
  -webkit-mask-image:url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="18" height="18" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cpath fill="currentColor" fill-rule="evenodd" d="m16.325 14.899l5.38 5.38a1.008 1.008 0 0 1-1.427 1.426l-5.38-5.38a8 8 0 1 1 1.426-1.426ZM10 16a6 6 0 1 0 0-12a6 6 0 0 0 0 12Z"%2F%3E%3C%2Fsvg%3E');
  background-position:50% 50%;
  background-repeat:no-repeat;
}
