/* Indentation Guides (Obsidian 0.14.0+) */

body {
  --ig-adjust-reading:-0.7em;
  --ig-adjust-edit:-1px;
}

.markdown-rendered.show-indentation-guide li > ul::before,
.markdown-rendered.show-indentation-guide li > ol::before {
  left:var(--ig-adjust-reading);
}
/* Live Preview */
.markdown-source-view.mod-cm6 .cm-indent::before {
  transform:translateX(var(--ig-adjust-edit));
}