/* Indentation Guides (Obsidian 0.14.0+) */

.markdown-rendered.show-indentation-guide li > ul::before,
.markdown-rendered.show-indentation-guide li > ol::before {
  left:-0.66em;
}
/* Live Preview */
.markdown-source-view.mod-cm6 .cm-indent::before {
  transform:translateX(-1px);
}

.is-mobile {
  .markdown-rendered.show-indentation-guide li > ul::before {
    left:-0.9em;
  }
  .markdown-rendered.show-indentation-guide li > ol::before {
    left:-1em;
  }
}