/* Reader Mode Lists  */


div > ol,
div > ul {
  padding-inline-start:1.4em;
}
ul > li {
  min-height:1.4em;
}
ol > li {
  margin-left:0em;}
ul {
  padding-inline-start:var(--list-indent);
}
ol {
  padding-inline-start:var(--list-indent);
  margin-left:0;
  list-style:default;
}

.is-mobile {
  ul > li:not(.task-list-item)::marker {
    font-size:0.8em;
  }
  .markdown-rendered ul,
  .markdown-rendered ol {
    padding-inline-start:var(--list-indent);
  }
  /* first level */
  .markdown-rendered div > ol,
  .markdown-rendered div > ul {
    padding-inline-start:2em;
  }
  .el-ol > ol,
  .el-ul > ul {
    margin-left:0;
  }
}

/* Live Preview */
.cm-line:not(.HyperMD-codeblock) {
  tab-size:var(--list-indent);
}

/* Space between list items */
.markdown-source-view ol>li,
.markdown-source-view ul>li,
.markdown-preview-view ol>li,
.markdown-preview-view ul>li,
.mod-cm6 .HyperMD-list-line.cm-line {
  padding-top:var(--list-spacing);
  padding-bottom:var(--list-spacing);
}

/* Legacy Editor Mode Lists */
.cm-formatting-list {
  color:var(--text-faint) !important;
}

/* Bullets */
ul > li::marker,
ol > li::marker {
  color:var(--text-faint);
}
ul > li:not(.task-list-item)::marker {
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,sans-serif;
  font-size:0.9em;
}
.mod-cm6 .HyperMD-list-line .list-bullet::after,
.mod-cm6 span.list-bullet::after {
  line-height:0.95em;
  font-size:1.4em;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,sans-serif;
  vertical-align:middle;
  color:var(--text-faint);
}
body:not(.is-mobile) .markdown-source-view.mod-cm6 .list-bullet:after {
  left:-5px;
}
body:not(.is-mobile) .markdown-source-view.mod-cm6 span.cm-formatting.cm-formatting-list.cm-formatting-list-ol {
  margin-left:-5px;
}