/* Reader Mode Lists  */

ul {
  padding-inline-start:var(--list-padding); }
ol {
  padding-inline-start:1.75em;
  margin-left:0;
  list-style:default;
}
ul > li {
  min-height:1.4em;
}
ul > li::marker,
ol > li::marker {
  color:var(--text-faint);
}
ul > li::marker,
.mod-cm6 .HyperMD-list-line .list-bullet::after,
.mod-cm6 span.list-bullet::after {
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,sans-serif;
}  

ol > li {
  margin-left:0em;}

.el-ul > ul {
  margin-left:-0.25em;
}

/* Live Preview */
.cm-line {
  tab-size:var(--list-padding);
}
body:not(.is-mobile) .mod-cm6 .HyperMD-list-line.cm-line {
  margin-left:0.75em !important;
}

/* Space between list items */
.markdown-preview-view ol>li,
.markdown-preview-view ul>li,
.mod-cm6 .HyperMD-list-line.cm-line {
  padding-top:var(--list-spacing);
  padding-bottom:var(--list-spacing);
}

/* Legacy Editor Mode Lists */
.cm-formatting-list {
  color:var(--text-faint) !important;
}

/* Bullets */
.mod-cm6 .HyperMD-list-line .list-bullet::after,
.mod-cm6 span.list-bullet::after {
  line-height:0.95em;
  font-size:1.4em;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,sans-serif;
  vertical-align:middle;
  color:var(--text-faint);
}
body:not(.is-mobile) .markdown-source-view.mod-cm6 .list-bullet:after {
  left:-5px;
}