/* Preview mode  */
.markdown-preview-view hr {
  height:1px;
  border-width:2px 0 0 0;
}
iframe {
  border:0;
}
.markdown-preview-view .mod-highlighted {
  transition:background-color 0.3s ease;
  background-color:var(--text-selection);
  color:inherit;
}