/* Embedded searches */

.internal-query {
  border-top:none;
  border-bottom:none;
}
.internal-query .internal-query-header {
  padding-top:10px;
  justify-content:left;
  border-top:1px solid var(--ui1);
}
.internal-query .internal-query-header-title {
  font-weight:500;
  color:var(--text-normal);
  font-size:var(--text-adaptive-normal);
}
.internal-query .search-result-container {
  border-bottom:1px solid var(--ui1);
}