/* Preview mode  */

.markdown-preview-view hr {
  height:1px;
  border-width:2px 0 0 0;
}

.footnotes-list {
  margin-block-start:-10px;
  padding-inline-start:20px;
  font-size:var(--font-adaptive-small);
}
.footnotes-list p {
  display:inline;
  margin-block-end:0;
  margin-block-start:0;
}
.footnote-ref a {
  text-decoration:none;
}
.footnote-backref {
  color:var(--text-faint);
}
iframe {
  border:0;
}
.markdown-preview-view .mod-highlighted {
  transition:background-color 0.3s ease;
  background-color:var(--text-selection);
  color:inherit;
}