/* Scroll bars */

::-webkit-scrollbar {
  width:10px;
  background-color:transparent;
}
::-webkit-scrollbar-track {
  background-color:transparent;
}
::-webkit-scrollbar-thumb {
  background-clip:padding-box;
  border:3px solid transparent;
  background-color:var(--background-modifier-border);
  border-width:3px 4px 3px 3px;
  min-height:45px;
}

.modal .vertical-tab-header::-webkit-scrollbar-thumb:hover,
.mod-left-split .workspace-tabs ::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
  background-color:var(--background-modifier-border-hover);
}
.modal .vertical-tab-header::-webkit-scrollbar-thumb:active,
.mod-left-split .workspace-tabs ::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:active {
  background-color:var(--background-modifier-border-focus);
}
