/* Search and replace (in file) */

.is-flashing {
  border-radius:2px;
  box-shadow:2px 1px 0 4px var(--text-highlight-bg);
  transition:all 0s ease-in-out;
}
.minimal-folding .is-flashing {
  box-shadow:5px 1px 0 6px var(--text-highlight-bg);
}
.is-flashing .tag {
  border-color:var(--text-highlight-bg-active);
}
.suggestion-container.mod-search-suggestion {
  max-width:240px;
}
.mod-search-suggestion .suggestion-item {
  font-size:var(--font-adaptive-small);
}
.mod-search-suggestion .clickable-icon {
  margin:0;
}
.search-suggest-item.mod-group {
  font-size:var(--font-adaptive-smaller);
}
.cm-s-obsidian span.obsidian-search-match-highlight {
  background:inherit;
  background:var(--text-highlight-bg);
  padding-left:0;
  padding-right:0;
}
.markdown-preview-view .search-highlight > div {
  box-shadow:0 0 0px 2px var(--text-normal);
  border-radius:2px;
  background:transparent;
}
.markdown-preview-view .search-highlight > div {
  opacity:0.4;
}
.markdown-preview-view .search-highlight > div.is-active {
  background:transparent;
  border-radius:2px;
  opacity:1;
  mix-blend-mode:normal;
  box-shadow:0 0 0px 3px var(--text-accent);
}

/*  Live Preview */
.cm-s-obsidian span.obsidian-search-match-highlight {
  background-color:transparent;
  box-shadow:0 0 0px 3px var(--text-accent);
  mix-blend-mode:multiply;
  border-radius:2px;
}

body:not(.is-mobile).borders-title .document-search-container {
  padding-top:0;
}
body input.document-search-input.mod-no-match:hover,
body input.document-replace-input.mod-no-match:hover,
body input.document-search-input.mod-no-match,
body input.document-replace-input.mod-no-match {
  background-color:var(--background-primary);
}
body:not(.is-mobile) .document-search-container.mod-replace-mode {
  height:72px;
}
body:not(.is-mobile) .document-replace-buttons,
body:not(.is-mobile) .document-search-buttons {
  padding-top:3px;
}
.document-replace-buttons,
.document-search-buttons {
  height:30px;
  padding-top:0;
  gap:5px;
  display:flex;
}
.document-search-button,
.document-search-close-button {
  cursor:var(--cursor);
  color:var(--text-muted);
  font-weight:500;
}
body:not(.is-mobile) .document-search-button,
body:not(.is-mobile) .document-search-close-button {
  background:var(--background-tertiary);
  height:26px;
}
.document-search-button:hover {
  box-shadow:none;
  background:var(--background-tertiary);
}
body .document-search-close-button {
  bottom:0;
  top:0;
  display:inline-flex;
  height:26px;
  width:26px;
  line-height:24px;
}
.document-search-button {
  margin:0;
  padding-left:0.75em;
  padding-right:0.75em;
}
body .document-search-container {
  margin-top:12px;
  padding:0;
  height:38px;
  background-color:var(--background-primary);
  border-top:none;
  width:100%;
}
.document-search,
.document-replace {
  max-width:var(--max-width);
  width:var(--line-width);
  margin:0 auto;
  padding:0 5px;
}
.minimal-readable-off {
  .document-search,
  .document-replace {
    width:100%;
  }
}

.markdown-source-view.is-searching,
.markdown-source-view.is-replacing,
.markdown-reading-view.is-searching {
  flex-direction:column-reverse;
}
body input.document-search-input,
body input.document-replace-input {
  margin-top:2px;
  font-size:var(--font-adaptive-small);
  border:1px solid var(--background-modifier-border);
  border-radius:var(--radius-m);
  height:28px;
  background:var(--background-primary);
  transition:border-color 0.1s ease-in-out;
}
input.document-search-input:hover,
input.document-replace-input:hover {
  border:1px solid var(--background-modifier-border-hover);
  background:var(--background-primary);
  transition:border-color 0.1s ease-in-out;
}
input.document-search-input:focus,
input.document-replace-input:focus {
  border:1px solid var(--background-modifier-border-hover);
  background:var(--background-primary);
  transition:all 0.1s ease-in-out;
}
.document-search-button {
  font-size:var(--font-adaptive-small);
}



/* Mobile */
.is-mobile {

  .document-search,
  .document-replace {
    flex-direction:row;
  }
  .document-replace {
    padding-top:6px;
    .document-replace-buttons {
      flex-shrink:1;
      flex-grow:0;
    }
  }
  .document-search-container {
    padding:8px 0 8px 0;
    background-color:var(--background-primary);
    margin:0 auto 0 auto;
    height:auto;
    width:100%;
    border-bottom:1px solid var(--background-modifier-border);
    padding-left:var(--folding-offset);
  }
  .document-search,
  .document-replace {
    margin:0 auto;
    padding-left:0;
    padding-right:0;
    max-width:calc(var(--max-width) + 2%);
    width:var(--line-width-adaptive);
  }
  &.minimal-readable-off {
    .document-search,
    .document-replace {
      width:100%;
    }
  }
  .document-search-container input[type='text'] {
    width:auto;
    margin:0 8px 0 0;
    height:36px;
    padding:5px 10px 5px 10px;
    border-radius:6px;
    min-width:90px;
    border:1px solid var(--background-modifier-border);
    background-color:var(--background-primary);
  }
  .document-search-container .document-search-input[type='text'] {
    padding-left:30px;
  }
  .document-search .document-search-buttons,
  .document-replace button {
    flex-grow:0;
  }
  .document-search-container button.document-search-button {
    width:auto;
    margin:0px;
    background:transparent;
    font-size:14px;
    height:36px;
    padding:0 2px;
    white-space:nowrap;
  }
  .document-search .document-search-close-button,
  .document-replace .document-search-close-button {
    height:30px;
    line-height:30px;
  }

}

