/* Settings */

.modal.mod-sync-history,
.modal.mod-sync-log,
.modal.mod-publish,
.modal.mod-community-plugin,
.modal.mod-settings {
  width:90vw;
  height:100vh;
  max-height:90vh;
  max-width:1000px;
}
.modal.mod-settings .vertical-tab-header,
.modal.mod-settings .vertical-tab-content-container {
  height:90vh;
}

.setting-item-name,
.community-plugin-name,
.modal.mod-settings .vertical-tab-content-container {
  font-size:var(--font-settings);
  line-height:1.3;
}
.modal .modal-content > h2 {
  text-align:left;
  font-size:var(--h1);
  font-weight:600;
}
.modal.mod-settings .vertical-tab-content h1,
.modal.mod-settings .vertical-tab-content h2,
.modal.mod-settings .vertical-tab-content h3 {
  text-align:left;
  font-size:var(--h1);
  font-weight:600;
}
.modal .modal-content > h2:first-child,
.modal.mod-settings .vertical-tab-content > h2:first-child,
.modal.mod-settings .vertical-tab-content > h3:first-child {
  margin-top:0;
}
.community-plugin-search-summary,
.setting-item-description,
.community-plugin-item .community-plugin-author,
.community-plugin-downloads,
.community-plugin-item .community-plugin-desc {
  font-size:var(--font-settings-small);
  line-height:1.3;
  font-weight:400;
}
.style-settings-collapse-indicator {
  margin-right:6px;
}
.modal .vertical-tab-nav-item {
  font-size:var(--font-small);
  line-height:1.3;
}
.community-plugin-search .setting-item {
  margin-right:10px;
}
.flair.mod-pop {
  letter-spacing:0;
  text-transform:none;
  vertical-align:unset;
  top:-1px;
}
.community-plugin-search {
  padding:20px 0 0 0;
  background-color:var(--background-secondary);
  border-right:1px solid var(--background-divider);
  flex:0 0 270px;
}
.community-plugin-search-summary {
  border-bottom:1px solid var(--background-modifier-border);
  padding-bottom:10px;
}
.community-plugin-item {
  margin:0;
  cursor:var(--cursor);
  padding-top:15px;
  border-bottom:1px solid var(--background-modifier-border);
}
.community-plugin-item:hover {
  background-color:var(--background-tertiary);
}
.community-plugin-item .community-plugin-name {
  font-weight:500;
}
.community-plugin-item .community-plugin-author {
  color:var(--text-muted);
  padding-bottom:10px;
}
.community-plugin-item .community-plugin-desc {
  color:var(--text-normal);
  font-size:var(--font-small);
}
.community-plugin-search .setting-item-info {
  flex-grow:0;
}
.community-plugin-search .search-input-container {
  margin-left:-5px;
  margin-right:5px;
}
.modal .community-plugin-search .setting-item-control button {
  display:flex;
  align-items:center;
}

button.mod-cta,
.modal button,
.modal button.mod-cta a {
  font-size:var(--font-settings-small);
  height:var(--input-height);
  cursor:var(--cursor);
  margin-right:3px;
  margin-left:3px;
}

/* Settings */
.modal.mod-settings .vertical-tab-content-container {
  padding-top:0;
}
.modal.mod-settings .vertical-tab-content-container .vertical-tab-content { 
  padding-top:30px;
}

.horizontal-tab-content,
.vertical-tab-content {
  background:var(--background-primary);
  padding-bottom:100px;
  padding-left:40px;
  padding-right:40px;
}
.vertical-tab-header,
.vertical-tab-content { 
  padding-bottom:100px;
}
.plugin-list-plugins {
  overflow:visible;
}
.installed-plugins-container .clickable-icon {
  margin:0 5px;
}
.installed-plugins-container .clickable-icon[aria-label="Uninstall"] {
  margin:0 5px 0 3px;
}
.plugin-list-plugins .clickable-icon {
  margin:0 10px 0 0;
}
.community-theme-container {
  padding-top:10px;
}
.community-theme-container,
.hotkey-settings-container { 
  height:auto;
  overflow:visible;
}
.hotkey-list-container {
  padding-right:0;
}

.theme-list {
  justify-content: space-evenly;
}
.community-theme-filters-container,
.hotkey-search-container {
  padding:0 0 20px 0;
}
.modal.mod-community-theme {
  padding:0;
}
.modal.mod-community-theme .modal-content {
  padding:30px;
}
.community-theme {
  padding:0;
  margin:0 0 4em 0;
  align-items:stretch;
  background:transparent;
}
.community-theme-title {
  text-align:left;
  font-size:var(--font-settings);
}
.community-theme-info + div {
  background-color:var(--background-secondary);
  display: flex;
  align-items: center;
  padding:10px;
  flex-grow:1;
  border-radius:20px;
}
.community-theme.is-selected {
  padding-left:0;
  padding-right:0;
  background-color:transparent;
  color:var(--text-normal);
}
.community-theme.is-selected .community-theme-info + div {
  box-shadow: 0px 0.5px 1px 0.5px rgba(0, 0, 0, 0.1),inset 0 0 0 2px var(--text-accent);
}

.community-theme.is-selected .community-theme-downloads,
.community-theme.is-selected .community-theme-info {
  margin-bottom:0;
  color:var(--text-muted);
}
.community-theme.is-selected .community-theme-info .clickable-icon {
  width:100%;
  background-color:var(--background-tertiary);
  border:1px solid var(--background-modifier-border);
  cursor:pointer;
  display:block;
  text-align:center;
  padding:7px 0;
  margin:20px 0 0;
  border-radius:5px;
  box-shadow:0 1px 1px 0px var(--btn-shadow-color);
}
.community-theme.is-selected .community-theme-info .clickable-icon:hover {
  border:1px solid var(--background-modifier-border-hover);
  box-shadow:0 2px 3px 0px var(--btn-shadow-color);
}
.community-theme.is-selected .community-theme-info .clickable-icon::after {
  content: "Documentation";
  padding-left: 4px;
}
.community-theme.is-selected .modal-button-container .mod-cta {
  background-color:var(--interactive-accent);
  color:white;
}
.community-theme.is-selected .modal-button-container .mod-cta:hover {
  background-color:var(--interactive-accent-hover);
}
.community-theme-info {
  line-height:1;
  flex-grow:0;
  padding:0 0 10px 0;
  align-items:flex-end;
  justify-content:flex-start;
  flex-wrap:wrap;
}
.community-theme-remove-button {
  padding:4px 6px;
  display:flex;
  color:var(--text-muted);
  background-color:transparent;
}
.community-theme .community-theme-screenshot {
  max-width:100%;
}
.modal.mod-settings .vertical-tab-header {
  background:var(--background-secondary);
  padding-top:5px;
  flex:0 0 220px;
  padding-bottom:100px;
}
.vertical-tab-header-group-title {
  color:var(--text-faint);
  text-transform:none;
  font-size:12px;
  letter-spacing:0;
  font-weight:500;
}
.vertical-tab-nav-item {
  padding:5px 8px;
  margin:0 8px 0;
  color:var(--text-muted);
  font-weight:400;
  border:none;
  background:var(--background-secondary);
  cursor:var(--cursor);
  border-radius:var(--radius-m);
}
.vertical-tab-nav-item:hover {
  color:var(--text-normal);
}
.vertical-tab-nav-item.is-active {
  color:var(--text-normal);
  background-color:var(--background-tertiary);
}
.setting-hotkey {
  background-color:var(--background-tertiary);
  padding:3px 4px 3px 8px;
  display:flex;
  align-items:center;
}
.setting-hotkey-icon.setting-delete-hotkey {
  margin-left:3px;
  cursor:var(--cursor);
}
.setting-delete-hotkey:hover {
  background-color:transparent;
}
body:not(.minimal-icons) .setting-hotkey-icon.setting-delete-hotkey svg {
  width:16px;
  height:16px;
}
.setting-hotkey.mod-empty {
  background:transparent;
  color:var(--text-faint);
}

.setting-item {
  padding:0.75rem 0;
} 
.setting-item-description {
  padding-top:4px;
}
.setting-item-control {
  margin-right:0;
}