/* Status bar */

.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
  height:100%;
}
.status-bar {
  transition:color 200ms linear;
  color:var(--text-faint);
  font-size:var(--font-adaptive-smaller);
  border-top:var(--border-width) solid var(--background-divider);
  line-height:1;
  max-height:24px;
}
.minimal-status-off .status-bar {
  background-color:var(--background-secondary);
  border-width:var(--border-width);
  padding:2px 6px 4px;
}
body:not(.minimal-status-off) .status-bar {
  background-color:var(--background-primary);
  z-index:30;
  border-top-left-radius:5px;
  width:auto;
  position:absolute;
  left:auto;
  border:0;
  bottom:0;
  right:0;
  max-height:26px;
  padding:2px 8px 6px 3px;
}
/*
body.plugin-sliding-panes-rotate-header:not(.minimal-status-off) .status-bar {
  border-top:1px solid var(--background-modifier-border);
  border-left:1px solid var(--background-modifier-border);
}*/
.sync-status-icon.mod-working,
.sync-status-icon.mod-success {
  color:var(--text-faint);
  cursor:var(--cursor);
}
.status-bar:hover .sync-status-icon.mod-working,
.status-bar:hover .sync-status-icon.mod-success,
.status-bar:hover {
  color:var(--text-muted);
  transition:color 200ms linear;
}
.status-bar .plugin-sync:hover .sync-status-icon.mod-working,
.status-bar .plugin-sync:hover .sync-status-icon.mod-success {
  color:var(--text-normal);
}
.status-bar-item {
  padding:0 5px;
}
.status-bar-item-segment {
  margin-right:10px;
}
.status-bar-item {
  cursor:var(--cursor) !important;
}
.status-bar-item.plugin-sync:hover,
.status-bar-item.cMenu-statusbar-button:hover,
.status-bar-item.mod-clickable:hover {
  text-align:center;
  background-color:var(--background-tertiary) !important;
  border-radius:4px;
}
.status-bar-item {
  padding:7px 4px;
  margin:0 0 0 0;
}
.status-bar-item,
.sync-status-icon {
  display:flex;
  align-items:center;
}
.status-bar-item.plugin-sync svg {
  height:15px;
  width:15px;
}