/* Syntax highlighting */

.theme-dark code[class*="language-"], 
.theme-dark pre[class*="language-"] {
	color:var(--tx1);
}
.theme-dark .token.prolog,
.theme-dark .token.doctype,
.theme-dark .token.cdata,
.theme-dark .cm-meta,
.theme-dark .cm-qualifier {
	color:var(--tx2);
}
.theme-dark .cm-comment,
.theme-dark .token.comment {
	color:var(--tx2);
}
.theme-dark .token.tag,
.theme-dark .token.constant,
.theme-dark .token.symbol,
.theme-dark .token.deleted,
.theme-dark .cm-tag {
	color:var(--red);
}
.theme-dark .token.punctuation,
.theme-dark .cm-punctuation,
.theme-dark .cm-bracket,
.theme-dark .cm-hr {
	color:var(--tx2);
}
.theme-dark .token.boolean,
.theme-dark .token.number,
.theme-dark .cm-number {
	color:var(--purple);
}
.theme-dark .token.selector,
.theme-dark .token.attr-name,
.theme-dark .token.string,
.theme-dark .token.char,
.theme-dark .token.builtin,
.theme-dark .token.inserted,
.theme-dark .cm-string,
.theme-dark .cm-string-2 {
	color:var(--green);
}
.theme-dark .cm-property,
.theme-dark .token.property,
.theme-dark .token.operator,
.theme-dark .token.entity,
.theme-dark .token.url,
.theme-dark .language-css .token.string,
.theme-dark .style .token.string,
.theme-dark .token.variable,
.theme-dark .cm-operator,
.theme-dark .cm-link,
.theme-dark .cm-variable-2,
.theme-dark .cm-variable-3 {
	color:var(--cyan);
}
.theme-dark .token.atrule,
.theme-dark .token.attr-value,
.theme-dark .token.function,
.theme-dark .token.class-name,
.theme-dark .cm-attribute,
.theme-dark .cm-variable,
.theme-dark .cm-type,
.theme-dark .cm-def {
color:var(--yellow);
}
.theme-dark .token.keyword,
.theme-dark .cm-keyword,
.theme-dark .cm-builtin {
color:var(--pink);
}
.theme-dark .token.regex,
.theme-dark .token.important {
color:var(--orange);
}

/* Light mode */

.theme-light code[class*="language-"], 
.theme-light pre[class*="language-"] {
	color:var(--tx1);
}
.theme-light .token.prolog,
.theme-light .token.doctype,
.theme-light .token.cdata,
.theme-light .cm-meta,
.theme-light .cm-qualifier {
	color:var(--tx2);
}
.theme-light .cm-comment,
.theme-light .token.comment {
	color:var(--tx2);
}
.theme-light .token.tag,
.theme-light .token.constant,
.theme-light .token.symbol,
.theme-light .token.deleted,
.theme-light .cm-tag {
	color:var(--red);
}
.theme-light .token.punctuation,
.theme-light .cm-punctuation,
.theme-light .cm-bracket,
.theme-light .cm-hr {
	color:var(--tx2);
}
.theme-light .token.boolean,
.theme-light .token.number,
.theme-light .cm-number {
	color:var(--purple);
}
.theme-light .token.selector,
.theme-light .token.attr-name,
.theme-light .token.string,
.theme-light .token.char,
.theme-light .token.builtin,
.theme-light .token.inserted,
.theme-light .cm-string,
.theme-light .cm-string-2 {
	color:var(--green);
}
.theme-light .cm-property,
.theme-light .token.property,
.theme-light .token.operator,
.theme-light .token.entity,
.theme-light .token.url,
.theme-light .language-css .token.string,
.theme-light .style .token.string,
.theme-light .token.variable,
.theme-light .cm-operator,
.theme-light .cm-link,
.theme-light .cm-variable-2,
.theme-light .cm-variable-3 {
	color:var(--cyan);
}
.theme-light .token.atrule,
.theme-light .token.attr-value,
.theme-light .token.function,
.theme-light .token.class-name,
.theme-light .cm-attribute,
.theme-light .cm-variable,
.theme-light .cm-type,
.theme-light .cm-def {
color:var(--yellow);
}
.theme-light .token.keyword,
.theme-light .cm-keyword,
.theme-light .cm-builtin {
color:var(--pink);
}
.theme-light .token.regex,
.theme-light .token.important {
color:var(--orange);
}