/* Syntax highlighting */

.theme-light,
.theme-dark {
	code[class*="language-"], 
	pre[class*="language-"] {
		color:var(--tx1);
	}
	.token.prolog,
	.token.doctype,
	.token.cdata,
	.cm-meta,
	.cm-qualifier {
		color:var(--tx2);
	}
	.cm-comment,
	.token.comment {
		color:var(--tx2);
	}
	.token.tag,
	.token.constant,
	.token.symbol,
	.token.deleted,
	.cm-tag {
		color:var(--red);
	}
	.token.punctuation,
	.cm-punctuation,
	.cm-bracket,
	.cm-hr {
		color:var(--tx2);
	}
	.token.boolean,
	.token.number,
	.cm-number {
		color:var(--purple);
	}
	.token.selector,
	.token.attr-name,
	.token.string,
	.token.char,
	.token.builtin,
	.token.inserted,
	.cm-string,
	.cm-string-2 {
		color:var(--green);
	}
	.cm-property,
	.token.property,
	.token.operator,
	.token.entity,
	.token.url,
	.language-css .token.string,
	.style .token.string,
	.token.variable,
	.cm-operator,
	.cm-link,
	.cm-variable-2,
	.cm-variable-3 {
		color:var(--cyan);
	}
	.token.atrule,
	.token.attr-value,
	.token.function,
	.token.class-name,
	.cm-attribute,
	.cm-variable,
	.cm-type,
	.cm-def {
	color:var(--yellow);
	}
	.token.keyword,
	.cm-keyword,
	.cm-builtin {
	color:var(--pink);
	}
	.token.regex,
	.token.important {
	color:var(--orange);
	}
}