/* Title Bar */

/* Alignment */
.title-align-left:not(.plugin-sliding-panes-rotate-header) .view-header-title-container {
  margin-left:5px;
}
.title-align-center:not(.plugin-sliding-panes-rotate-header) .view-header-title {
  margin-left:0;
  padding-right:0;
  text-align:center;
}
.title-align-left:not(.plugin-sliding-panes-rotate-header) .view-header-title-container,
.title-align-center:not(.plugin-sliding-panes-rotate-header) .view-header-title-container {
  width:auto;
  position:static;
}
.mod-macos.hider-frameless:not(.is-fullscreen):not(.plugin-sliding-panes-rotate-header) .workspace-split.mod-left-split.is-collapsed + .mod-root .workspace-leaf:first-of-type .view-header-title-container  {
  max-width:calc(100% - (var(--traffic-x-space) * 2) - 30px);
}
.view-header {
  height:var(--header-height);
  align-items:center;
}

/* Left side title bar icon */
body:not(.minimal-icons-off) div.view-header-icon svg {
-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 32 32' viewBox='0 0 32 32' xml:space='preserve'%3E%3Cpath d='M10 6h4v4h-4zm8 0h4v4h-4zm-8 8h4v4h-4zm8 0h4v4h-4zm-8 8h4v4h-4zm8 0h4v4h-4z'/%3E%3Cpath fill='none' d='M0 0h32v32H0z'/%3E%3C/svg%3E")
}
.view-header-icon {
  margin-left:var(--traffic-x-space);
  opacity:0;
  top:0;
  left:4px;
  z-index:20;
}

.show-grabber .view-header-icon {
  opacity:var(--icon-muted);
}
.show-grabber .view-header-icon:hover {
  opacity:1;
}
.view-header-icon:hover {
  cursor:grab;
}
.view-header-icon:active {
  cursor:grabbing;
}

/* Right side title bar icon */
.view-actions {
  margin-right:1px;
  height:calc(var(--header-height) - 1px);
  top:0;
  align-items:center;
  z-index:15;
  background:var(--background-primary);
}

/* Title area */
.view-header-title {
  padding-right:80px;
}
/* Fade out title
body:not(.is-mobile) .view-header-title:before {
  background:linear-gradient(90deg,transparent 0%,var(--background-primary) 80%);
  width:50px;
  content:" ";
  height:var(--header-height);
  display:inline-block;
  vertical-align:bottom;
  position:absolute;
  right:50px;
  pointer-events:none;
}*/
.workspace-leaf-header,
.view-header,
.workspace-leaf.mod-active .view-header,
.workspace-split.mod-root > .workspace-leaf:first-of-type:last-of-type .view-header {
  background-color:var(--background-primary) !important;
  border-top:none;
  border-bottom:none;
}
.view-header-title-container {
  padding-left:0;
  padding-right:0px;
  position:absolute;
  width:var(--line-width-adaptive);
  max-width:var(--max-width);
  margin:0 auto;
  left:0;
  right:0;
}
.view-header-title-container:after {
  display:none;
}
.view-actions {
  padding:0px 6px;
  margin-right:0px;
  margin-left:auto;
  transition:opacity 0.25s ease-in-out;
}
.view-actions .view-action {
  margin:0;
  top:0;
  padding:4px;
  border-radius:var(--radius-m);
  display:flex;
  align-items:center;
}
body:not(.is-mobile) .view-actions .view-action {
  height:26px;
}
.view-action.is-active {
  color:var(--icon-color);
  opacity:var(--icon-muted);
}
body:not(.is-mobile) .view-actions .view-action:last-child  {
  margin-left:-1px;
}
body:not(.minimal-focus-mode) .workspace-ribbon:not(.is-collapsed) ~ .mod-root .view-actions,
.minimal-focus-mode .workspace-ribbon:not(.is-collapsed) ~ .mod-root .view-header:hover .view-actions,
.workspace-ribbon.mod-left.is-collapsed ~ .mod-root .view-header:hover .view-actions,
.mod-right.is-collapsed ~ .mod-root .view-header:hover .view-actions,
.view-action.is-active:hover {
  opacity:1;
  transition:opacity 0.25s ease-in-out;
}

.view-content {
  height:calc(100% - var(--header-height));
}
