/* Blockquotes */

.markdown-preview-view blockquote {
	padding:0 0 0 var(--nested-padding);
	font-size:var(--blockquote-size);
}
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote,
.markdown-source-view.mod-cm6 .HyperMD-quote {
	font-size:var(--blockquote-size);
}
.is-live-preview .cm-hmd-indent-in-quote {
	color:var(--text-faint);
}
