/* Callouts */

.is-live-preview.is-readable-line-width > .cm-callout .callout {
	max-width:var(--max-width);
	margin:0 auto;
}

.callouts-outlined {
	.callout .callout-title {
		background-color: var(--background-primary);
		margin-top: -24px;
		z-index: 200;
		width: fit-content;
		padding: 0 0.5em;
		margin-left: -0.75em;
		letter-spacing: 0.05em;
		font-variant-caps: all-small-caps;
	}

	.callout {
		overflow: visible;
		--callout-border-width: 1px;
		--callout-border-opacity: 0.5;
		--callout-title-size: 0.8em;
		--callout-blend-mode: normal;
		background-color: transparent;
	}

	.cm-embed-block.cm-callout {
		padding-top: 12px;
	}

	.callout-content .callout {
		margin-top: 18px;
	}
}
