.minimal-code-scroll {
	--code-white-space: pre;
	
	.HyperMD-codeblock.HyperMD-codeblock-bg {
		overflow-y: scroll;
		white-space: pre;
	}
	.cm-hmd-codeblock {
		white-space: pre !important;
	}
}

@media print {
	.print {
		--code-background: #eee !important;
	}
}
