/* Transcluded notes and embeds */
body {
	--embed-max-height: none;
	--embed-decoration-style: solid;
	--embed-decoration-color: var(--background-modifier-border-hover);	
}

/* Strict embeds (naked) */
.embed-strict {
	--embed-background: transparent;
	--embed-border-start: 0;
	--embed-border-left: 0;
	--embed-padding: 0;

	.markdown-embed-content {
		--folding-offset: 0px;
	}
	.internal-embed .markdown-embed,
	.markdown-preview-view .markdown-embed,
	&.markdown-preview-view .markdown-embed {
		padding:0;
	}
	.markdown-embed-title,
	.internal-embed .markdown-embed .markdown-embed-title {
		display:none;
	}
	.internal-embed:not([src*="#^"]) .markdown-embed-link {
		width:24px;
		opacity: 0;
	}
}

.embed-underline {
	.internal-embed:not(.pdf-embed) {
		text-decoration-line: underline;
		text-decoration-style: var(--embed-decoration-style);
		text-decoration-color: var(--embed-decoration-color);
	}
}
.embed-hide-title {
	.markdown-embed-title {
		display: none;
	}
}

.embed-strict.contextual-typography .internal-embed .markdown-preview-view .markdown-preview-sizer>div,
.contextual-typography .embed-strict .internal-embed .markdown-preview-view .markdown-preview-sizer>div {
	margin:0;
	width:100%;
}

.markdown-embed .markdown-preview-view .markdown-preview-sizer {
	padding-bottom:0 !important;
}
.markdown-preview-view.markdown-embed .markdown-preview-sizer,
.markdown-preview-view.is-readable-line-width .markdown-embed .markdown-preview-sizer {
	max-width:100%;
	width:100%;
	min-height:0 !important;
	padding-bottom:0 !important;
}
.markdown-embed .markdown-preview-section div:last-child p,
.markdown-embed .markdown-preview-section div:last-child ul {
	margin-block-end:2px;
}
.markdown-preview-view .markdown-embed {
	margin-top:var(--nested-padding);
	padding:0 calc(var(--nested-padding) / 2) 0 var(--nested-padding);
}
.internal-embed:not([src*="#^"]) .markdown-embed-link {
	right:0;
	width:100%;
}
.markdown-embed-link,
.file-embed-link {
	top:0px;
	right:0;
	text-align:right;
	justify-content: flex-end;
}
.file-embed-link svg,
.markdown-embed-link svg {
	width:16px;
	height:16px;
}
.markdown-embed .file-embed-link,
.markdown-embed .markdown-embed-link {
	opacity: 0.6;
	transition: opacity 0.1s linear;
}
.markdown-embed .file-embed-link:hover,
.markdown-embed .markdown-embed-link:hover {
	opacity: 1;
	&:hover {
		background-color: transparent;
		--icon-color: var(--text-accent);
	}
}
.markdown-embed-link:hover, .file-embed-link:hover {
	color: var(--text-muted);
}

.markdown-embed .markdown-preview-view {
	padding: 0;
}
.internal-embed .markdown-embed {
	border:0;
	border-left:1px solid var(--quote-opening-modifier);
	border-radius:0;
}
