body {
	--adaptive-list-edit-offset: var(--list-edit-offset);
}

.is-rtl {
	--adaptive-list-edit-offset: calc(var(--list-edit-offset)*-1);
}


/* Space between list items */
.markdown-source-view ol>li,
.markdown-source-view ul>li,
.markdown-preview-view ol>li,
.markdown-preview-view ul>li,
.mod-cm6 .HyperMD-list-line.cm-line {
	padding-top:var(--list-spacing);
	padding-bottom:var(--list-spacing);
}

.is-mobile {
	ul > li:not(.task-list-item)::marker {
		font-size:0.8em;
	}
}
