/* Reader Mode Lists  */
div > ol,
div > ul {
  padding-inline-start:1.4em;
}
ul > li {
  min-height:1.4em;
}
ol > li {
  margin-left:0em;}
ol {
  margin-left:0;
  list-style:default;
}

/* Live Preview */

.markdown-source-view.mod-cm6 .cm-content .HyperMD-list-line {
  margin-left: var(--list-edit-offset) !important;
}

/* Space between list items */
.markdown-source-view ol>li,
.markdown-source-view ul>li,
.markdown-preview-view ol>li,
.markdown-preview-view ul>li,
.mod-cm6 .HyperMD-list-line.cm-line {
  padding-top:var(--list-spacing);
  padding-bottom:var(--list-spacing);
}

/* Bullets */
body:not(.is-mobile) .markdown-source-view.mod-cm6 .list-bullet:after {
  left:-5px;
}
body:not(.is-mobile) .markdown-source-view.mod-cm6 span.cm-formatting.cm-formatting-list.cm-formatting-list-ol {
  margin-left:-5px;
}

.is-mobile {
  ul > li:not(.task-list-item)::marker {
    font-size:0.8em;
  }
  .markdown-rendered ul,
  .markdown-rendered ol {
    padding-inline-start:var(--list-indent);
  }
  /* first level */
  .markdown-rendered div > ol,
  .markdown-rendered div > ul {
    padding-inline-start:2em;
  }
  .el-ol > ol,
  .el-ul > ul {
    margin-left:0;
  }
}
