body {
	--table-header-border-width: 0;
	--table-column-first-border-width: 0;
	--table-column-last-border-width: 0;
	--table-row-last-border-width: 0;
	--table-edge-padding: 0;
}


/* Preview mode tables */
.markdown-source-view.mod-cm6 table {
	border-collapse: collapse; 
}

.markdown-source-view.mod-cm6,
.markdown-preview-view {
	table {
		border: 1px solid var(--border-color);
		border-collapse: collapse;
	}
	td, th {
		padding: 4px 10px;
		&:first-child {
			padding-left: var(--table-edge-cell-padding);
		}
	}
}

/* Override Sortable plugin */
.markdown-preview-view th,
.table-view-table > thead > tr > th,
.markdown-source-view.mod-cm6 .dataview.table-view-table thead.table-view-thead tr th {
	padding: 4px 10px;
	&:first-child {
		padding-left: var(--table-edge-cell-padding);
	}
}

/* Live Preview Tables */
.is-live-preview .el-table {
	width: 100%;
	max-width: 100%;
}
.cm-s-obsidian .HyperMD-table-row span.cm-hmd-table-sep,
.cm-hmd-table-sep-dummy {
	color: var(--text-faint);
	font-weight: 400;
}
