body {
	--table-header-border-width: 0;
	--table-column-first-border-width: 0;
	--table-column-last-border-width: 0;
	--table-row-last-border-width: 0;
	--table-edge-cell-padding-first: 0;
	--table-edge-cell-padding-last: 0;
	--table-cell-padding: 4px 10px;
	--table-header-size: var(--table-text-size);
}

/* Preview mode tables */
.markdown-source-view.mod-cm6 table {
	border-collapse: collapse; 
}

.markdown-source-view.mod-cm6,
.markdown-preview-view {
	table {
		border: var(--border-width) solid var(--border-color);
		border-collapse: collapse;
	}
	td, th {
		padding: var(--table-cell-padding);
		&:first-child {
			padding-left: var(--table-edge-cell-padding-first);
			.table-cell-wrapper {
				padding-left: 0;
			}
		}
		&:last-child {
			padding-right: var(--table-edge-cell-padding-last);
			.table-cell-wrapper {
				padding-right: 0;
			}
		}
	}
}

/* Override Sortable plugin */
.markdown-preview-view th,
.table-view-table > thead > tr > th,
.markdown-source-view.mod-cm6 .dataview.table-view-table thead.table-view-thead tr th {
	padding: var(--table-cell-padding);
	&:first-child {
		padding-left: var(--table-edge-cell-padding-first);
	}
	&:last-child {
		padding-right: var(--table-edge-cell-padding-last);
	}
}

/* Live Preview Tables */
.is-live-preview .el-table {
	width: 100%;
	max-width: 100%;
}
.cm-s-obsidian .HyperMD-table-row span.cm-hmd-table-sep,
.cm-hmd-table-sep-dummy {
	color: var(--text-faint);
	font-weight: 400;
}

.table-cell-wrapper {
	.cm-active {
		font-size: var(--table-text-size);
		line-height: var(--table-line-height);
	}
	display: inline-block;
}
