body {
	--table-header-border-width: 0;
	--table-column-first-border-width: 0;
	--table-column-last-border-width: 0;
	--table-row-last-border-width: 0;
	--table-edge-cell-padding-first: 0;
	--table-edge-cell-padding-last: 0;
	--table-cell-padding: 4px 10px;
	--table-header-size: var(--table-text-size);
}

/* Preview mode tables */
.markdown-source-view.mod-cm6 table {
	border-collapse: collapse; 
}
.markdown-rendered th {
	--table-header-size: var(--table-text-size);
}

.markdown-source-view.mod-cm6,
.markdown-preview-view {
	table {
		border: var(--border-width) solid var(--border-color);
		border-collapse: collapse;
	}
	td, th {
		padding: var(--table-cell-padding);
		&:first-child {
			padding-inline-start: var(--table-edge-cell-padding-first);
			.table-cell-wrapper {
				padding-inline-start: 0;
			}
		}
		&:last-child {
			padding-inline-end: var(--table-edge-cell-padding-last);
			.table-cell-wrapper {
				padding-inline-end: 0;
			}
		}
	}
}

.markdown-source-view.mod-cm6 {
	.cm-table-widget table {
		margin-top: 0;
	}
	.cm-table-widget .table-cell-wrapper {
		padding: var(--table-cell-padding);
	}
}

.markdown-reading-view table {
	--p-spacing: 0.5rem;
}

.cm-embed-block.cm-table-widget.markdown-rendered {
	padding: var(--table-drag-padding);
	overscroll-behavior-x: none;
	.is-mobile & {
		padding-bottom: 40px;
	}
}

/* Override Sortable plugin */
.markdown-preview-view th,
.table-view-table > thead > tr > th,
.markdown-source-view.mod-cm6 .dataview.table-view-table thead.table-view-thead tr th {
	padding: var(--table-cell-padding);
	&:first-child {
		padding-inline-start: var(--table-edge-cell-padding-first);
	}
	&:last-child {
		padding-inline-end: var(--table-edge-cell-padding-last);
	}
}

/* Live Preview Tables */
.cm-s-obsidian .HyperMD-table-row span.cm-hmd-table-sep,
.cm-hmd-table-sep-dummy {
	color: var(--text-faint);
	font-weight: 400;
}
