/* Tags */

body.minimal-unstyled-tags {
	--tag-background: transparent;
	--tag-background-hover: transparent;
	--tag-border-width: 0px;
	--tag-padding-x: 0;
	--tag-padding-y: 0;
	--tag-size: inherit;
	--tag-color-hover: var(--text-accent-hover);
	&.is-mobile.theme-dark {
		--tag-background: transparent;
	}
}

body:not(.minimal-unstyled-tags) {
	--tag-size: 0.8em;
	--tag-padding-y: 0.2em;
	--tag-background: transparent;
	--tag-background-hover: transparent;
	--tag-color: var(--text-muted);
	--tag-border-width: 1px;
	--tag-border-color: var(--background-modifier-border);
	--tag-border-color-hover: var(--background-modifier-border-hover);
	--tag-color-hover: var(--text-normal);
}

body.is-mobile.theme-dark {
	--tag-background: transparent;
}
