/* Tablet */

.is-tablet {
	.workspace-drawer:not(.is-pinned) {
		margin: 30px 16px 0;
		height: calc(100vh - 48px);
		border-radius: 15px;
		border: none;
	}
	.workspace-drawer-ribbon {
		background-color: var(--background-primary);
		border-right: 1px solid var(--background-modifier-border);
	}
}
