/* Tablet */

.is-tablet {
	.workspace-drawer {
		padding-top: 0px;
	}
	.workspace-drawer:not(.is-pinned) {
		margin: 30px 16px 0;
		height: calc(100vh - 48px);
		border-radius: 15px;
		border: none;
	}
	.workspace-drawer-ribbon {
		background-color: var(--background-primary);
		border-right: 1px solid var(--background-modifier-border);
	}
	.workspace-drawer-header,
	.workspace-drawer.is-pinned .workspace-drawer-header {
		padding-top: var(--size-4-4);
	}
	.workspace-drawer-header-icon {
		margin-inline-start:0;
	}
}

.is-mobile {
	--font-bold: 600;
	--font-ui-medium: var(--font-adaptive-small);

	--interactive-normal: var(--background-modifier-hover);
	--background-modifier-form-field: var(--background-secondary);
	--background-modifier-form-field-highlighted: var(--background-secondary);

	.markdown-source-view.mod-cm6 .cm-gutters {
		margin-left: 0;
	}
}

.is-mobile {
	.workspace-drawer.mod-left.is-pinned {
		width:var(--mobile-left-sidebar-width);
		min-width:150pt;
	}
	.workspace-drawer.mod-right.is-pinned {
		width:var(--mobile-right-sidebar-width);
		min-width:150pt;
	}
}
