/* Tablet */

.is-tablet {
	.workspace-drawer {
			padding-top: 0px;
	}
	.workspace-drawer:not(.is-pinned) {
		margin: 30px 16px 0;
		height: calc(100vh - 48px);
		border-radius: 15px;
		border: none;
	}
	.workspace-drawer-ribbon {
		background-color: var(--background-primary);
		border-right: 1px solid var(--background-modifier-border);
	}
	.workspace-drawer-header {
		padding-top: var(--size-4-4)
	}
}

.is-mobile {
	--interactive-normal: var(--background-secondary);

	.markdown-source-view.mod-cm6 .cm-gutters {
		margin-left: 0;
	}
}
