/* Block width snippet */

.minimal-dev-block-width {

	.mod-root .workspace-leaf-content:after {
		display:flex;
		align-items:flex-end;
		content:"\00a0pane\00a0";
		font-size:12px;
		color:gray;
		font-family:var(--font-monospace);
		width:100%;
		max-width:100%;
		height:100vh;
		top:0;
		z-index:999;
		position:fixed;
		pointer-events:none;
	}
	/* Green — Folding offset width */
	&.minimal-readable .mod-root .view-header:after {
		display:flex;
		align-items:flex-end;
		color:green;
		font-size:12px;
		font-family:var(--font-monospace);
		content:" ";
		width:var(--folding-offset);
		height:100vh;
		border-left:1px solid green;
		border-right:1px solid green;
		background-color:rgba(0,128,0,0.1);
		top:0;
		left:max(
			calc(50% - var(--line-width)/2 - 1px),
			calc(50% - var(--max-width)/2 - 1px));
		z-index:999;
		position:fixed;
		pointer-events:none;
	}
	&.minimal-readable-off .mod-root .view-header:after {
		display:flex;
		align-items:flex-end;
		color:green;
		font-size:12px;
		font-family:var(--font-monospace);
		content:" ";
		width:var(--folding-offset);
		height:100vh;
		border-left:1px solid green;
		border-right:1px solid green;
		background-color:rgba(0,128,0,0.1);
		top:0;
		left:calc(50% - var(--max-width)/2 - 1px);
		z-index:999;
		position:fixed;
		pointer-events:none;
	}
	/* Red — Max width */
	.mod-root .view-content:before {
		display:flex;
		align-items:flex-end;
		content:"\00a0max\00a0";
		font-size:12px;
		color:red;
		width:var(--max-width);
		height:100vh;
		border-left:1px solid red;
		border-right:1px solid red;
		top:0;
		left:50%;
		transform: translate(-50%, 0);
		z-index:999;
		position:fixed;
		pointer-events:none;
	}
	/* Orange — Wide line width*/
	&.minimal-readable .mod-root .workspace-leaf-content:before {
		display:flex;
		align-items:flex-end;
		content:"\00a0wide\00a0";
		font-size:12px;
		color:orange;
		font-family:var(--font-monospace);
		width:var(--line-width-wide);
		max-width:var(--max-width);
		height:100vh;
		border-left:1px solid orange;
		border-right:1px solid orange;
		background-color:rgba(255,165,0,0.05);
		top:0;
		left:50%;
		transform: translate(-50%, 0);
		z-index:999;
		position:fixed;
		pointer-events:none;
	} 
	/* Blue — Normal line width */
	&.minimal-readable .mod-root .view-content:after {
		display:flex;
		align-items:flex-end;
		color:blue;
		font-size:12px;
		font-family:var(--font-monospace);
		content:"\00a0normal";
		width:var(--line-width);
		max-width:var(--max-width);
		height:100vh;
		border-left:1px solid blue;
		border-right:1px solid blue;
		background-color:rgba(0,0,255,0.08);
		top:0;
		left:50%;
		transform: translate(-50%, 0);
		z-index:999;
		position:fixed;
		pointer-events:none;
	}

}
