body {
	--canvas-dot-pattern: var(--background-modifier-border-hover);
}

.canvas-node-label {
	font-size: var(--font-adaptive-small);
}

.canvas-edges :not(.is-themed) path.canvas-display-path {
	stroke: var(--background-modifier-border-focus);
}
.canvas-edges :not(.is-themed) polyline.canvas-path-end {
	stroke: var(--background-modifier-border-focus);
	fill: var(--background-modifier-border-focus);
}

.canvas-node-container {
	border: 1.5px solid var(--background-modifier-border-focus);
}

.node-insert-event.mod-inside-iframe {
	--max-width: 100%;
	--folding-offset: 0px;
	.cm-editor .cm-content {
		padding-top: 0;
	}
}
