/* Graphs */
.theme-dark,
.theme-light {
  --node:var(--text-muted);
  --node-focused:var(--text-accent);
  --node-tag:var(--red);
  --node-attachment:var(--yellow);
  --node-unresolved:var(--text-faint);
}

/* Fill color for nodes */
.graph-view.color-fill {
  color:var(--node);
}
/* Fill color for current local node */
.graph-view.color-fill-focused {
  color:var(--node-focused);
}
/* Fill color for nodes on hover */
.graph-view.color-fill-highlight {
  color:var(--node-focused);
}
/* Stroke color for nodes */
.graph-view.color-circle {
  color:var(--node-focused);
}
/* Line color */
.graph-view.color-line {
  color:var(--background-modifier-border);
}
/* Line color on hover */
.graph-view.color-line-highlight {
  color:var(--node-focused);
  border:0;
}
/* Text color */
.graph-view.color-text {
  color:var(--text-normal);
}
/* Tag nodes */
.theme-dark .graph-view.color-fill-tag,
.theme-light .graph-view.color-fill-tag {
  color:var(--node-tag);
}
.theme-dark .graph-view.color-fill-attachment,
.theme-light .graph-view.color-fill-attachment {
  color:var(--node-attachment);
}
.theme-dark .graph-view.color-fill-unresolved,
.theme-light .graph-view.color-fill-unresolved {
  color:var(--node-unresolved);
}

/* Full bleed (takes up full height) */

body:not(.is-mobile):not(.plugin-sliding-panes-rotate-header) .workspace-split.mod-root .workspace-leaf-content[data-type='localgraph'] .view-header,
body:not(.is-mobile):not(.plugin-sliding-panes-rotate-header) .workspace-split.mod-root .workspace-leaf-content[data-type='graph'] .view-header {
  position:fixed;
  background:transparent !important;
  width:100%;}
body:not(.is-mobile):not(.plugin-sliding-panes-rotate-header) .workspace-leaf-content[data-type='localgraph'] .view-content,
body:not(.is-mobile):not(.plugin-sliding-panes-rotate-header) .workspace-leaf-content[data-type='graph'] .view-content {
  height:100%;}
body:not(.plugin-sliding-panes-rotate-header) .workspace-leaf-content[data-type='localgraph'] .view-header-title,
body:not(.plugin-sliding-panes-rotate-header) .workspace-leaf-content[data-type='graph'] .view-header-title {
  display:none;}
body:not(.is-mobile):not(.plugin-sliding-panes-rotate-header) .workspace-leaf-content[data-type='localgraph'] .view-actions,
body:not(.is-mobile):not(.plugin-sliding-panes-rotate-header) .workspace-leaf-content[data-type='graph'] .view-actions {
  background:transparent;}
.mod-root .workspace-leaf-content[data-type='localgraph'] .graph-controls,
.mod-root .workspace-leaf-content[data-type='graph'] .graph-controls {
  top:32px;}

/* Graph controls */

.graph-controls.is-close {
  padding:6px;
  left:0;
  top:0;
}
.graph-controls-button {
  cursor:var(--cursor);
}
.graph-control-section .tree-item-children {
  padding-bottom:15px;
}
.graph-control-section-header {
  font-weight:500;
  text-transform:uppercase;
  letter-spacing:0.05em;
  font-size:var(--font-adaptive-smallest);
  color:var(--text-muted);
}
.graph-control-section-header:hover {
  color:var(--text-normal);
}
.graph-controls .search-input-container {
  width:100%;
}
.setting-item.mod-search-setting.has-term-changed .graph-control-search-button,
.graph-controls .graph-control-search-button {
  display:none;
}
.graph-controls .setting-item {
  padding:4px 0 0 0;
}
.graph-controls .setting-item-name {
  font-size:var(--font-adaptive-small);
}
.graph-controls {
  background:var(--background-secondary);
  border:1px solid var(--background-modifier-border);
  min-width:240px;
  left:6px;
  margin-top:6px;
  margin-bottom:0;
  padding:10px 12px 10px 2px;
  border-radius:var(--radius-m);
}
.graph-controls input[type='text'], .graph-controls input[type='range'] {
  font-size:var(--font-adaptive-small);
}
.graph-controls .mod-cta {
  width:100%;
  font-size:var(--font-adaptive-small);
  padding:5px;
  margin:0;
}
.graph-controls-button.mod-animate {
  margin-top:5px;
}
.mod-left-split .graph-controls {
  background:var(--background-secondary);
}

.local-graph-jumps-slider-container,
.workspace-split.mod-left-split .local-graph-jumps-slider-container,
.workspace-split.mod-right-split .local-graph-jumps-slider-container,
.workspace-fake-target-overlay .local-graph-jumps-slider-container {
  background:transparent;
  opacity:0.6;
  padding:0;
  left:12px;
  transition:opacity 0.2s linear;
  height:auto;
}
.mod-root .local-graph-jumps-slider-container {
  right:0;
  left:0;
  width:var(--line-width-adaptive);
  max-width:var(--max-width);
  margin:0 auto;
  top:30px;
}
.workspace-split.mod-left-split .local-graph-jumps-slider-container:hover,
.workspace-split.mod-right-split .local-graph-jumps-slider-container:hover,
.workspace-fake-target-overlay .local-graph-jumps-slider-container:hover,
.local-graph-jumps-slider-container:hover {
  opacity:0.8;
  transition:opacity 0.2s linear;
}