/* Outline */

.outline {
  padding:15px 10px 20px 0;
  font-size:var(--font-adaptive-small);
}
.outline .pane-empty {
  font-size:var(--font-adaptive-small);
  color:var(--text-faint);
  padding:0 0 0 15px;
  width:100%;
}
.outline .collapsible-item-self {
  cursor:var(--cursor);
  line-height:1.4;
  margin-bottom:4px;
  font-size:var(--font-adaptive-small);
  padding-left:15px;
}
.collapsible-item-collapse {
  opacity:1;
  left:-5px;
  color:var(--text-faint);
}
.outline .collapsible-item-inner:hover {
  color:var(--text-normal);
}
.collapsible-item-self.is-clickable:hover .collapsible-item-collapse {
  color:var(--text-normal);
}
.outline > .collapsible-item > .collapsible-item-self .right-triangle {
  opacity:0;
}