/* Page Preview aka Popovers */

.theme-dark.minimal-dark-black .popover {
  background:var(--bg2);
}

.popover,
.popover.hover-popover {
  min-height:40px;
  box-shadow:0 20px 40px var(--background-modifier-box-shadow);
  pointer-events:auto !important;
  border:1px solid var(--background-modifier-border);
}
.popover.hover-popover {
  width:400px;
  max-height:40vh;
}
.popover.hover-popover .markdown-embed {
  padding:0;
}
.popover .markdown-embed-link {
  display:none;
}
.popover .markdown-embed .markdown-preview-view {
  padding:10px 20px 30px;
}
.popover.hover-popover .markdown-embed .markdown-embed-content {
  max-height:none;
}
.popover.hover-popover.mod-empty {
  padding:20px 20px 20px 20px;
  color:var(--text-muted);
}

.popover.hover-popover .markdown-preview-view .table-view-table,
.popover.hover-popover .markdown-embed .markdown-preview-view {
  font-size:1.05em;
}

.popover.hover-popover .markdown-embed h1,
.popover.hover-popover .markdown-embed h2,
.popover.hover-popover .markdown-embed h3,
.popover.hover-popover .markdown-embed h4 {
  margin-top:1rem;
}