.is-mobile {
	.suggestion-container {
		.suggestion-item {
			&:first-child {
				margin-top:0;
			}
			&:last-child {
				margin-bottom:10px;
			}
		}
	}

	.prompt,
	.suggestion-container {
		width:100%;
		max-width:100%;
		border:none;
		padding:10px 10px 0 10px;
		-webkit-touch-callout:none;
		-webkit-user-select:none;
		user-select:none;
	}
	.suggestion-container {
		left:0;
		right:0;
		margin:0 auto;
		border:none;
	}
	.suggestion-item {
		font-size:var(--font-adaptive-normal);
		padding-left:10px;
		letter-spacing:0.001px;
	}
	.prompt-results .suggestion-flair {
		display:none;
	}
	input[type='text'].prompt-input,
	input[type='text'].prompt-input:hover {
		line-height:2;
		padding:8px;
		height:4.5ex;
		font-size:var(--font-adaptive-normal);
	}

	/* Tablet */
	@media (min-width:400pt) {
		.modal-container .prompt {
			opacity:1 !important;
		}
		.prompt {
			max-width:600px;
			max-height:600px;
			bottom:auto !important;
			border-radius:15px;
			top:100px !important;
		}
		.suggestion-container {
			max-width:600px;
			max-height:600px;
			border-radius:15px;
			bottom:80px;
			border:1px solid var(--background-modifier-border);
		}
		.modal-container .suggestion-item {
			padding:8px 5px 8px 8px;
			border-radius:var(--radius-m);
		}
		.suggestion-flair {
			right:0;
			left:auto;
			position:absolute;
			padding:10px;
		}

	}

	/* Phone */
	@media (max-width:400pt) {
		.suggestion-hotkey {
			display:none;
		}
		.suggestion-flair {
			right:0;
			left:auto;
			position:absolute;
			padding:5px 5px 0 0;
		}
		.suggestion-container {
			max-height:200px;
			border-top:1px solid var(--background-modifier-border);
			border-radius:0;
			padding-top:0;
			box-shadow:none;
		}
		.prompt {
			border-radius:0;
			border:none;
			padding-top:5px;
			padding-bottom:0;
			max-height:calc(100vh - 120px);
			top:120px;
		}
		.suggestion-container .suggestion {
			padding-top:10px;
		}

	}

}
