/* Search */

.search-result-container.mod-global-search .search-empty-state {
  padding-left:15px;
}
.search-result-file-match {
  cursor:var(--cursor) !important;
  width:auto;
  left:0;
}
.search-result-file-match:hover {
  background:transparent;
}
.search-result-container:before {
  height:1px;
}
.search-result-file-match-replace-button {
  background-color:var(--background-primary);
  border:1px solid var(--background-modifier-border);
  color:var(--text-muted);
  opacity:1;
  top:auto;
  right:18px;
  bottom:1px;
  font-weight:500;
  font-size:var(--font-adaptive-smaller);
}
.search-result-hover-button:hover {
  background-color:var(--background-tertiary);
  color:var(--text-muted);  
}
.search-result-file-match-replace-button:hover {
  background-color:var(--background-modifier-border);
  color:var(--text-normal);
}
.search-result-container.is-loading:before {
  background-color:var(--background-modifier-accent);
}
.search-result {
  margin-bottom:0;
}
.search-result-count {
  opacity:1;
  color:var(--text-faint);
  padding:0 0 0 5px;
}
.search-result-file-match:before {
  top:0;
}
.search-result-file-match:not(:first-child) {
  margin-top:0px;}
.search-result-file-match {
  margin-top:0;
  margin-bottom:0;
  padding-top:6px;
  padding-bottom:5px;
}
.search-result-file-matched-text {
  background-color:var(--text-selection);
}
.search-input-container input,
.search-input-container input:hover,
.search-input-container input:focus {
  font-size:var(--font-adaptive-small);
  padding:5px 28px 5px 10px;
  background-color:var(--background-modifier-form-field);
}
.search-input-container {
  width:calc(100% - 20px);
  margin:0 0 8px 10px;
}
.workspace-leaf-content .setting-item {
  padding:5px 0;
  border:none;
}
.workspace-leaf-content .setting-item-control {
  flex-shrink:0;
  flex:1;
}
.search-input-clear-button {
  background:transparent;
  border-radius:50%;
  color:var(--text-muted);
  cursor:var(--cursor);
  top:0px;
  right:2px;
  bottom:0px;
  line-height:0;
  height:calc(var(--input-height) - 2px);
  width:28px;
  margin:auto;
  padding:0 0;
  text-align:center;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:color 0.2s ease-in-out;
}
.search-input-clear-button:hover {
  color:var(--text-normal);
  transition:color 0.2s ease-in-out;
}
.search-input-clear-button:active {
  color:var(--text-normal);
  transition:color 0.2s ease-in-out;
}
.search-input-clear-button:before {
  content:'';
  height:13px;
  width:13px;
  display:block;
  background-color:currentColor;
  -webkit-mask-image:url("data:image/svg+xml,<svg viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 12C9.31371 12 12 9.31371 12 6C12 2.68629 9.31371 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31371 2.68629 12 6 12ZM3.8705 3.09766L6.00003 5.22718L8.12955 3.09766L8.9024 3.8705L6.77287 6.00003L8.9024 8.12955L8.12955 8.9024L6.00003 6.77287L3.8705 8.9024L3.09766 8.12955L5.22718 6.00003L3.09766 3.8705L3.8705 3.09766Z' fill='currentColor'/></svg>");
  -webkit-mask-repeat:no-repeat;
}
.search-input {
  max-width:100%;
  margin-left:0;
  width:500px;
}
input.search-input:focus {
  border-color:var(--background-modifier-border);
}
.workspace-leaf-content[data-type='search'] .search-result-file-matches {
  padding-left:0;
}
.search-empty-state {
  font-size:var(--font-adaptive-small);
  color:var(--text-faint);
  padding-left:5px;
  margin:0;
}
.search-result-container {
  padding:5px 10px 50px 5px;
}
.search-result-file-title {
  line-height:1.3;
  padding:4px 4px 4px 20px;
  vertical-align:middle;
  cursor:var(--cursor)!important;
}
.tree-item-inner,
.search-result-file-title {
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.search-result-collapse-indicator {
  left:0px;
}
.search-result-file-match {
  padding-right:15px;
}
.search-result-file-match:before {
  height:0.5px;
}
.search-result-file-matches {
  font-size:var(--font-adaptive-smaller);
  line-height:1.3;
  margin:3px 0 8px 0px;
  padding:0 0 2px 0;
  color:var(--text-muted);
  border:1px solid var(--background-modifier-border);
  background:var(--background-primary);
  border-radius:var(--radius-m);
}
.search-result:last-child .search-result-file-matches {
  border:1px solid var(--background-modifier-border);
}
.search-result-hover-button.mod-top {
  top:4px;
  right:4px;
}
.search-result-hover-button.mod-bottom {
  bottom:0px;
  right:4px;
}
.search-info-container {
  font-size:var(--font-adaptive-smaller);
  color:var(--text-faint);
  padding-top:5px;
  padding-bottom:5px;
}
.search-info-more-matches {
  font-size:var(--font-adaptive-smaller);
  padding-top:4px;
  padding-bottom:4px;
  color:var(--text-normal);
}
.side-dock-collapsible-section-header-indicator {
  display:none;
}
.search-result-file-title:hover {
  color:var(--text-normal);
  background:transparent;
}
.workspace-leaf-content .search-input,
.workspace-leaf-content .search-input:hover,
.workspace-leaf-content .search-input:focus {
  font-size:var(--font-adaptive-small);
  padding:7px 10px;
  height:28px;
  border-radius:var(--radius-m);
  background:var(--background-primary);
  border:1px solid var(--background-modifier-border);
  transition:border-color 0.1s ease-in-out;
}
.workspace-leaf-content .search-input:hover {
  border-color:var(--background-modifier-border-hover);
  transition:border-color 0.1s ease-in-out;
}
.workspace-leaf-content .search-input:focus {
  background:var(--background-primary);
  border-color:var(--background-modifier-border-focus);
  transition:all 0.1s ease-in-out;
}
.search-input-container input::placeholder {
  color:var(--text-faint);
  font-size:var(--font-adaptive-small);
}
.workspace-split.mod-root .workspace-split.mod-vertical .workspace-leaf-content {
  padding-right:0;
}
.workspace-split.mod-horizontal.mod-right-split {
  width:0;
}
.workspace-split.mod-vertical > .workspace-leaf {
  padding-right:1px;
}
.workspace-leaf-content[data-type=starred] .item-list {
  padding-top:5px;
}
.workspace-leaf-content .view-content {
  padding:0;
}
.workspace-split.mod-right-split .view-content {
  padding:0;
  background-color:var(--background-primary);
}