/* Sync */

/* Sync Log */
.modal.mod-sync-log {
  padding:20px 0 0 0;
}
.modal.mod-sync-log .modal-title {
  padding:0 20px;
}
.modal.mod-sync-log .modal-content {
  padding:0px;
  display:flex;
  flex-direction:column;
}
.modal.mod-sync-log .modal-button-container {
  border-top:1px solid var(--background-modifier-border);
  padding:15px;
  background-color:var(--background-primary);
  margin:0;
}
.modal.mod-sync-log .sync-log-container {
  padding:16px 20px;
  background-color:var(--background-secondary);
  flex-grow:1;
  font-size:var(--font-adaptive-small);
}
.sync-log-container .list-item {
  padding-left:0;
}
.modal.mod-sync-log .setting-item.mod-toggle {
  padding:20px;
}
.sync-history-content {
  font-size:var(--font-adaptive-small);
  border:none;
  padding:20px 40px 20px 20px;
  border-radius:0;
}
body .sync-history-content-container textarea.sync-history-content:active,
body .sync-history-content-container textarea.sync-history-content:focus {
  box-shadow:none;
}

/* Sync history */

.sync-history-content-empty {
  padding:5px 20px;
  color:var(--text-muted);
  font-size:var(--font-adaptive-small);
}
.sync-history-content-container {
  padding:0;
  height:auto;
  border-left:1px solid var(--background-modifier-border);
  background-color:var(--background-primary);
}
.sync-history-content-buttons.u-center-text {
  text-align:center;
  padding:10px;
  margin:0;
  border-top:1px solid var(--background-modifier-border);
}
.sync-history-content-container .modal-button-container {
  margin:0;
  padding:10px 5px;
  border-top:1px solid var(--background-modifier-border);
  background-color:var(--background-primary);
  text-align:center;
}
.sync-history-list {
  min-width:220px;
}
.sync-history-list-container {
  min-width:220px;
  flex-basis:230px;
  max-height:none;
  overflow-y:scroll;
  background-color:var(--background-secondary);
}
.sync-history-list {
  padding:10px 10px 0 10px;
  overflow:unset;
  background-color:var(--background-secondary);
}
.sync-history-list .search-input-container {
  width:100%;
  margin:0;
}
.sync-history-load-more-button {
  font-size:var(--font-adaptive-small);
  cursor:var(--cursor);
  margin:0px 10px 10px;
  border-radius:var(--radius-m);
}
.sync-history-load-more-button:hover {
  background-color:var(--background-tertiary);
}
.sync-history-list-item {
  border-radius:var(--radius-m);
  padding:4px 8px;
  margin-bottom:4px;
  font-size:var(--font-adaptive-small);
  cursor:var(--cursor);
}
.sync-history-list-item.is-active, .sync-history-list-item:hover {
  background-color:var(--background-tertiary);
}


/* Mobile */
.is-mobile { 
  .sync-status-icon {
    margin-top:2px;
  }
  .sync-history-list {
    padding:10px;
    background-color:var(--background-primary);
  }
  .sync-history-list-item {
    font-size:var(--font-adaptive-small);
    padding:8px 10px;
  }
  .sync-history-content-container .modal-button-container {
    padding:5px 10px 30px 10px;
  }
  .sync-history-content {
    outline:none;
    -webkit-appearance:none;
    border:0;
    background-color:var(--background-secondary);
  }

  .modal.mod-sync-log {
    .mod-toggle, .modal-button-container { flex:0; }
  }
}

/* --------------- */
/* Phone */

@media (max-width:400pt) {

  .is-mobile {
    .modal.mod-sync-log {
      width:100vw;
      height:100vh;
      max-height:calc(100vh - 32px);
      box-shadow:0 -32px 0 32px var(--background-primary);
      bottom:0;
      padding-bottom:10px;
    }
  }

}