@media (max-width:400pt) {

  .is-mobile {
    .modal.mod-sync-log {
      width:100vw;
      height:100vh;
      max-height:calc(100vh - 32px);
      box-shadow:0 -32px 0 32px var(--background-primary);
      bottom:0;
      padding-bottom:10px;
    }
  }

}
