/* Active line highlight */
.active-line-on .workspace-leaf-content[data-type=markdown] {
	.cm-line.cm-active,
	.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote.cm-active {
		background-color:var(--active-line-bg);
		box-shadow:-25vw 0px var(--active-line-bg), 25vw 0 var(--active-line-bg);
	}
}
