@media (max-width:400pt) {
	.is-mobile {
		--folding-offset: 0px;
	}
}

body {
	--content-margin-left:
		max(
			calc(50% - var(--line-width-adaptive)/2),
			calc(50% - var(--max-width)/2));
}

/* Line widths ------------------------------------ */

/* Set overall context to 100% width --- */
.markdown-preview-view .markdown-preview-sizer.markdown-preview-sizer {
	max-width: 100%;
	margin-inline: auto;
	width: 100%;
}
.markdown-source-view.mod-cm6.is-readable-line-width .cm-content,
.markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer {
	max-width: 100%;
	width: 100%;
}

/* Set inner content to line width */
.markdown-preview-view.is-readable-line-width .markdown-preview-sizer > div,
.markdown-source-view.mod-cm6 .cm-contentContainer.cm-contentContainer > .cm-content > div,
.markdown-source-view.mod-cm6 .cm-sizer > .inline-title,
.markdown-source-view.mod-cm6 .cm-sizer > .embedded-backlinks  {
	max-width: var(--max-width);
	width: var(--line-width-adaptive);
	margin-inline-start: var(--content-margin-left);
	margin-inline-end: auto;
}

/* Block widths ------------------------------------ */

.table-100 {
	.markdown-source-view.mod-cm6 .cm-contentContainer.cm-contentContainer>.cm-content,
	.markdown-preview-view.is-readable-line-width .markdown-preview-sizer,
	&.markdown-source-view.mod-cm6 .cm-contentContainer.cm-contentContainer>.cm-content,
	&.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
		.cm-table-widget,
		table,
		> div:has(>table),
		> div:has(>.block-language-dataview) {
			width: 100%;
			max-width: 100%;
			margin-inline-start: 0;
		}
	}
}

.table-100 {
	.dataview.list-view-ul {
		max-width: var(--max-width);
		width: var(--line-width-adaptive);
		margin-inline: auto;
	}
}

.table-100 {
	--table-edge-cell-padding: 20px;
}
