/* Colorful active states */
.colorful-active {
  --sp1:var(--bg1);
}

.colorful-active .nav-file-title.is-active, 
.colorful-active #calendar-container .active,
.colorful-active #calendar-container .active.today,
.colorful-active #calendar-container .active:hover,
.colorful-active #calendar-container .day:active,
.colorful-active .vertical-tab-nav-item.is-active,
.colorful-active .nav-file-title.is-being-dragged,
.colorful-active .nav-folder-title.is-being-dragged,
body.colorful-active:not(.is-grabbing) .nav-file-title.is-being-dragged:hover,
body.colorful-active:not(.is-grabbing) .nav-folder-title.is-being-dragged:hover,
body.colorful-active:not(.is-grabbing) .nav-file-title.is-active:hover,
.colorful-active .menu-item.selected:not(.is-disabled):not(.is-label),
.colorful-active .menu-item:hover,
.colorful-active .menu-item:hover:not(.is-disabled):not(.is-label) {
  background-color:var(--ax3);
  color:var(--sp1);
}

.colorful-active #calendar-container .day:active .dot,
.colorful-active #calendar-container .active .dot,
.colorful-active #calendar-container .today.active .dot {
  fill:var(--sp1);
}
.colorful-active .menu-item.selected:not(.is-disabled):not(.is-label) .menu-item-icon,
.colorful-active .menu-item:hover .menu-item-icon {
  color:var(--sp1);
}

.colorful-active .nav-file-title-content.is-being-renamed {
  color:var(--text-normal);
}

.is-mobile.colorful-active .nav-file-title.is-active {
  box-shadow:0 0 0px 2px var(--ax3);
}
/*
.colorful-active .suggestion-container .suggestion-item:hover,
.colorful-active .modal-container .suggestion-item.is-selected {
}*/