/* Colorful headings */

body.colorful-headings {
	--h1-color: var(--color-red);
	--h2-color:var(--color-orange);
	--h3-color:var(--color-yellow);
	--h4-color:var(--color-green);
	--h5-color:var(--color-blue);
	--h6-color:var(--color-purple);
	.modal {
		--h1-color: var(--text-normal);
		--h2-color: var(--text-normal);
		--h3-color: var(--text-normal);
		--h4-color: var(--text-normal);
		--h5-color: var(--text-normal);
		--h6-color: var(--text-normal);
	}
}
