/* Fancy cursor */

.fancy-cursor .CodeMirror-cursor {
  border:none;
  border-left:2px solid var(--text-accent);
}
.cm-fat-cursor .CodeMirror-cursor { 
  background-color:var(--text-accent); 
  opacity:0.5; 
  width:5px; 
} 
.cm-animate-fat-cursor { 
  background-color:var(--text-accent); 
  opacity:0.5; 
  width:5px; 
}

/* Reset to default for iOS */
body .markdown-source-view.mod-cm6 .cm-content {
  caret-color:unset;
}

/* Live Preview */
body.fancy-cursor .markdown-source-view.mod-cm6 .cm-content,
body.fancy-cursor .mod-cm6 .cm-line {
  caret-color:var(--text-accent);
}

/* Prompt */
.fancy-cursor input.prompt-input {    
  caret-color: var(--text-accent);
}