/* Folding offset */

:root {
  --folding-offset:16px;
}

.is-mobile {
  --folding-offset:0;
}

body:not(.title-align-center):not(.title-align-left):not(.plugin-sliding-panes-rotate-header) .view-header-title {
  padding-left:var(--folding-offset);
}