/* Full width media  */

.full-width-media {
	--iframe-width: 100%;

	.markdown-source-view,
	.markdown-preview-view {
		.image-embed img:not(.link-favicon):not(.emoji):not([width]),
		img:not(.link-favicon):not(.emoji):not([width]),
		p:has(.external-embed),
		.external-embed,
		audio,
		video {
			width: 100%;
		}
	}
}

.markdown-source-view,
.markdown-rendered {
	video,
	img:not(.emoji) {
		border-radius: var(--image-radius);
	}
}
