/* Full width media  */

.full-width-media .markdown-preview-view .image-embed img:not(.emoji):not([width]),
.full-width-media .image-embed img:not(.emoji):not([width]),
.full-width-media .markdown-preview-view audio,
.full-width-media .markdown-preview-view video, {
  width:100%;
}