/* Custom line width */

/* Readable line width off */
.markdown-preview-view .markdown-preview-sizer,
.markdown-source-view .CodeMirror {
  max-width:90%;
  margin:0 auto;
}
.is-mobile .markdown-source-view.mod-cm6 .cm-gutters {
  padding-right:0;
}

/* With readable line width */
.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
  max-width:var(--max-width);
  width:var(--line-width-adaptive);
}
.markdown-source-view.is-readable-line-width .CodeMirror {
  padding-left:0;
  padding-right:0;
  margin:0 auto 0 auto;
  width:var(--line-width-adaptive);
  max-width:var(--max-width);
}
.markdown-source-view.mod-cm6.is-line-wrap.is-readable-line-width .cm-content {
  max-width:100%;
}

.markdown-source-view.mod-cm6.is-line-wrap.is-readable-line-width .cm-line:not(.HyperMD-table-row),
.markdown-source-view.mod-cm6 .cm-line {
  max-width:var(--max-width);
  margin:0 auto !important;
}

.markdown-source-view.mod-cm6.is-line-wrap.is-readable-line-width .cm-line {
  width:var(--line-width-adaptive);
}
.is-live-preview.is-readable-line-width table {
  width:var(--line-width-adaptive);
  max-width:var(--max-width);
  margin:0 auto;
}
.is-live-preview.is-readable-line-width .cm-content > .image-embed {
  width:var(--line-width-adaptive);
  max-width:var(--max-width);
  margin:0 auto !important;
}
