/* Relationship lines */

body.minimal-rel-preview:not(.ig-lists-preview) .markdown-preview-view ul ul,
body.minimal-rel-preview:not(.ig-lists-preview) .markdown-preview-view ol ul,
body.minimal-rel-preview:not(.ig-lists-preview) .markdown-preview-view ul ol,
body.minimal-rel-preview:not(.ig-lists-preview) .markdown-preview-view ol ol {
    margin-left:-15px;
    padding-left:var(--list-padding);
    border-left:1px solid var(--background-modifier-border);
}

body.minimal-rel-preview:not(.ig-lists-preview) .markdown-preview-view ul li.is-flashing {
  background-color:var(--text-highlight-bg);
}

/* Relationship lines in Legacy Editor */
.ig-lists .cm-hmd-list-indent > .cm-tab,
body.minimal-rel-edit .cm-hmd-list-indent > .cm-tab {
  display:inline-block;
}

.ig-lists .cm-hmd-list-indent > .cm-tab:after,
body.minimal-rel-edit .cm-hmd-list-indent > .cm-tab:after {
  content:" ";
  display:block;
  width:1px;
  position:absolute;
  top:1px;
  border-right:1px solid var(--background-modifier-border);
  height:100%;
}

/* Relationship lines in Live Preview, disabled now that Indentation Guides is available

:root {
  --indent-font-family:var(--text-editor);
  --indent-font-size:var(--font-adaptive-normal);
}

body.minimal-rel-edit .mod-cm6 .HyperMD-list-line.cm-line:not(.HyperMD-list-line-1) {
  overflow:hidden;
}
body.minimal-rel-edit .mod-cm6 .HyperMD-list-line.cm-line .cm-hmd-list-indent {
  position:relative;
  font-family:var(--indent-font-family) !important;
  font-size:var(--indent-font-size) !important;
}
body.minimal-rel-edit .mod-cm6 .HyperMD-list-line.cm-line .cm-hmd-list-indent::before {
  content:'';
  font-family:var(--indent-font-family) !important;
  font-size:var(--indent-font-size) !important;
  display:block;
  position:absolute;
  width:100%;
  top:-1.6em;
  padding-bottom:999em;
  background:linear-gradient(
    to right,
    var(--background-modifier-border) 1px,
    transparent 1px)
    repeat;
  background-size:1.8ch 1px;
  left:3.5px;
}

*/