/* Scroll indicator for sidebar containers */

body:not(.is-translucent):not(.is-mobile) .mod-left-split .item-list,
body:not(.is-translucent):not(.is-mobile) .mod-left-split .nav-files-container,
body:not(.is-translucent):not(.is-mobile) .mod-left-split .workspace-leaf-content[data-type='search'] .search-result-container,
body:not(.is-translucent):not(.is-mobile) .mod-left-split .tag-container,
body:not(.is-translucent):not(.is-mobile) .mod-left-split .outgoing-link-pane,
body:not(.is-translucent):not(.is-mobile) .mod-left-split .backlink-pane {
  background:
    linear-gradient(
      var(--background-secondary) 10%,
      rgba(255, 255, 255, 0)
    )
    center top,
    linear-gradient(
      var(--background-modifier-border) 100%,
      rgba(0, 0, 0, 0)
    )
    center top;
    background-repeat: no-repeat;
    background-size: 100% 40px, 91% var(--border-width);
    background-attachment: local, scroll; 
}
body:not(.is-mobile) .mod-right-split .item-list,
body:not(.is-mobile) .mod-right-split .nav-files-container,
body:not(.is-mobile) .mod-right-split .workspace-leaf-content[data-type='search'] .search-result-container,
body:not(.is-mobile) .mod-right-split .tag-container,
body:not(.is-mobile) .mod-right-split .outgoing-link-pane,
body:not(.is-mobile) .mod-right-split .backlink-pane {
  background:
    linear-gradient(
      var(--background-primary) 10%,
      rgba(255, 255, 255, 0)
    )
    center top,
    linear-gradient(
      var(--background-modifier-border) 100%,
      rgba(0, 0, 0, 0)
    )
    center top;
    background-repeat: no-repeat;
    background-size: 100% 40px, 91% var(--border-width);
    background-attachment: local, scroll;
}