/* Sidebar documents

.mod-left-split .markdown-preview-sizer>div,
.mod-left-split .cm-contentContainer {
	padding-left:0 !important;
	max-width:100% !important;
}
.workspace > .workspace-split:not(.mod-root) {

	.CodeMirror,
	.cm-scroller,
	.markdown-preview-view {
		font-size:var(--font-adaptive-small);
		line-height:1.25;
	}
	.workspace-leaf-content[data-type=markdown] .markdown-preview-view {
		padding:0 15px;
	}
	.workspace-leaf-content[data-type=markdown] .markdown-embed .markdown-preview-view {
		padding:0;
	}
	.CodeMirror,
	.markdown-preview-section,
	.markdown-preview-sizer {
		max-width:100%;
		padding:0;
		width:auto;
	}
	.cm-editor {
		--folding-offset: 0px;
	}

}

.minimal-folding .workspace > .workspace-split:not(.mod-root) .workspace-leaf-content[data-type=markdown] .allow-fold-headings.markdown-preview-view .markdown-preview-sizer,
.minimal-folding .workspace > .workspace-split:not(.mod-root) .workspace-leaf-content[data-type=markdown] .allow-fold-lists.markdown-preview-view .markdown-preview-sizer {
	padding-left:0;
}


.workspace > .workspace-split:not(.mod-root) .internal-embed .markdown-embed {
	border:none;
	padding:0;
}

.workspace > .workspace-split:not(.mod-root) .CodeMirror-sizer {
	padding-left:10px;
}
 */
