/* Main tabs */
.theme-light,
.theme-dark {
	--minimal-tab-text-color: var(--tx2);
	--minimal-tab-text-color-active: var(--tx1);
}
.workspace-tabs:not(.mod-stacked) {
	--tab-text-color: var(--minimal-tab-text-color);
	--tab-text-color-focused: var(--minimal-tab-text-color);
	--tab-text-color-active: var(--minimal-tab-text-color-active);
	--tab-text-color-focused-active: var(--minimal-tab-text-color-active);
	--tab-text-color-focused-active-current: var(--minimal-tab-text-color-active);
}
.tabs-plain-square .mod-root {
	--tab-curve: 0;
	--tab-radius: 0;
	--tab-radius-active: 0;

	.workspace-tab-header-container {
		padding-left:0;
		padding-right:0;
	}
	.workspace-tab-header-container-inner {
		margin-top: -1px;
		margin-left: -15px;
	}
	.workspace-tab-header {
		padding: 0;
	}
	.workspace-tab-header-inner {
		padding: 0 8px;
	}
}
.tabs-square .mod-root {
	--tab-curve: 0;
	--tab-radius: 0;
	--tab-radius-active: 0;
}
.tabs-underline .mod-root {
	--tab-curve: 0;
	--tab-radius: 0;
	--tab-radius-active: 0;
	--tab-outline-width: 0px;
	--tab-background-active: transparent;

	.workspace-tab-header-container {
		border-bottom: 1px solid var(--divider-color);
	}
	.workspace-tab-header {
		border-bottom: 2px solid transparent;
		&:hover {
			border-bottom: 2px solid var(--ui2);
			.workspace-tab-header-inner {
				background-color: transparent;
			}
		}
		&.is-active {
			border-bottom: 2px solid var(--ax3);
		}
	}
	.workspace-tab-header-inner:hover {
		background-color: transparent;
	}
}

/* Remove underline on lower sidebar tabs */
body:not(.sidebar-tabs-underline):not(.sidebar-tabs-index):not(.sidebar-tabs-square) {
	.workspace > .workspace-split:not(.mod-root) .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
		--tab-outline-width: 0;
	}
}

/* Safari/Firefox style */
.tabs-modern {

	&.colorful-frame {
		.mod-root .mod-top.workspace-tabs:not(.mod-stacked) {
			--tab-background: var(--frame-outline-color);
			--tab-outline-width: 1px;

			.workspace-tab-header:hover,
			.workspace-tab-header.is-active {
				.workspace-tab-header-inner-close-button {
					color: var(--minimal-tab-text-color-active);
				}
			}
		}
	}
	&.minimal-focus-mode .mod-root .workspace-tab-header-container:hover {
		--tab-outline-width: 0px;
	}
	.mod-root {
		--tab-container-background: var(--background-primary);
	}
	.mod-root .workspace-tabs:not(.mod-stacked) {
		--tab-background: var(--background-modifier-hover);
		--tab-height: calc(var(--header-height) - 14px);
		--tab-outline-width: 0px;

		.workspace-tab-header::before,
		.workspace-tab-header::after,
		.workspace-tab-header-inner::after {
			display: none;
		}

		.workspace-tab-header-container-inner {
			align-items: center;
			margin: 0;
			padding: 2px var(--size-4-2) 0 var(--size-4-1);
		}
		.workspace-tab-header-inner-title {
			text-overflow: ellipsis;
			-webkit-mask-image: none;
		}
		.workspace-tab-header {
			background: transparent;
			border-radius: 5px;
			border: none;
			box-shadow: none;
			height: var(--tab-height);
			margin-left: var(--size-4-1);
			padding: 0;
			&:hover {

			}
			&.is-active {
				.workspace-tab-header-inner-title {
					color: var(--tab-text-color-active);
				}
			}
			&:hover,
			&.is-active.mod-active {
				opacity: 1;
				background-color: var(--tab-background);
			}
		}
		.workspace-tab-header-new-tab {
			margin-inline-end: 0;
		}
		.workspace-tab-header-inner {
			padding: 0 var(--size-4-1) 0 var(--size-4-2);
			border: 1px solid transparent;
		}
		.workspace-tab-header:not(.is-active):hover {
			.workspace-tab-header-inner {
				background-color: transparent;
			}
		}
		.workspace-tab-header:not(:hover):not(.mod-active),
		.workspace-tab-header.is-active:not(.mod-active) {
			.workspace-tab-header-inner {
				border: 1px solid var(--tab-outline-color);
			}
		}
	}
}


/* Sidebar tabs ------------ */

.tab-names-on .workspace-split:not(.mod-root) .workspace-tab-header-container-inner {
	--sidebar-tab-text-display: static;
	.workspace-tab-header-inner-title {
		font-weight: 500;
	}
	.workspace-tab-header-inner {
		gap: var(--size-2-3);
	}
}

.tab-names-single .workspace > .workspace-split:not(.mod-root) .workspace-tab-header-container-inner .workspace-tab-header:only-child {
	--sidebar-tab-text-display: static;
	background-color: transparent;
	.workspace-tab-header-inner-title {
		font-weight: 500;
	}
	.workspace-tab-header-inner {
		gap: var(--size-2-3);
	}
}


.tabs-modern.sidebar-tabs-wide .mod-right-split,
.tabs-modern.sidebar-tabs-default .mod-right-split {
	--tab-outline-width: 0;
}

/* Underline */
.sidebar-tabs-underline {

	&:not(.labeled-nav) .mod-left-split,
	&.labeled-nav .mod-left-split .workspace-tabs:not(.mod-top),
	.mod-right-split {

		.workspace-tab-header-spacer {
			display: none;
		}
		.workspace-tab-header-container {
			padding-right: 0;
		}

		.workspace-tab-header-container-inner {
			padding: 0;
			margin: 0;
			flex-grow: 1;
			gap: 0;
		}

		.workspace-tab-header-container .workspace-tab-header {
			flex-grow:1;
			border-radius: 0;
			max-width: 100px;
			&:hover,
			&.is-active {
				background-color: transparent;
				.workspace-tab-header-inner {
					background-color: transparent;
				}
			}
		}
		.workspace-tab-header-container .workspace-tab-header .workspace-tab-header-inner {
			border-bottom: 2px solid transparent;
			border-radius: 0;
			&:hover {
				border-color: var(--ui2);
			}
		}
		.workspace-tab-header-container .workspace-tab-header.is-active .workspace-tab-header-inner {
			border-color: var(--ax3);
			padding-top:1px;
		}
	}
}

/* Sidebar index style */
.sidebar-tabs-square {
	.mod-left-split,
	.mod-right-split {
		--tab-radius: 0px;
	}
}

.sidebar-tabs-plain-square {
	.mod-left-split,
	.mod-right-split {
		--tab-radius: 0px;
	}

	&:not(.labeled-nav) .mod-left-split,
	&.labeled-nav .mod-left-split .workspace-tabs:not(.mod-top) {
		--tab-background-active: var(--background-secondary);
	}

	&:not(.labeled-nav) .mod-left-split,
	&.labeled-nav .mod-left-split .workspace-tabs:not(.mod-top),
	.mod-right-split {
		.workspace-tab-header-container {
			padding-left: 0;
		}
		.workspace-tab-header-container-inner {
			padding: 0;
			margin: 0 0 calc(var(--tab-outline-width) * -1);
			flex-grow: 1;
			gap: 0;
		}
		.workspace-tab-header {
			flex-grow:1;
			max-width: 100px;
			border-radius: var(--tab-radius) var(--tab-radius) 0 0;

			&.is-active {
				box-shadow: 0 0 0 var(--tab-outline-width) var(--tab-outline-color);
				color: var(--tab-text-color-active);
				background-color: var(--tab-background-active);
			}
		}
	}
}


.sidebar-tabs-square,
.sidebar-tabs-index {

	&:not(.labeled-nav) .mod-left-split,
	&.labeled-nav .mod-left-split .workspace-tabs:not(.mod-top) {
		--tab-background-active: var(--background-secondary);
	}

	&:not(.labeled-nav) .mod-left-split,
	&.labeled-nav .mod-left-split .workspace-tabs:not(.mod-top),
	.mod-right-split {
		.workspace-tab-header-container-inner {
			padding: 1px var(--size-4-2) 0;
			margin: 6px 0 calc(var(--tab-outline-width) * -1);
			flex-grow: 1;
		}
		.workspace-tab-header {
			flex-grow:1;
			max-width: 100px;
			border-radius: var(--tab-radius) var(--tab-radius) 0 0;

			&.is-active {
				box-shadow: 0 0 0 var(--tab-outline-width) var(--tab-outline-color);
				color: var(--tab-text-color-active);
				background-color: var(--tab-background-active);
			}
		}
	}
}

/* Modern Wide */
.sidebar-tabs-wide {

	&:not(.labeled-nav) .mod-left-split,
	&.labeled-nav .mod-left-split .workspace-tabs:not(.mod-top),
	.mod-right-split {
		.workspace-tab-header-container-inner {
			flex-grow: 1;
			border: 1px solid var(--tab-outline-color);
			padding: 3px;
			margin: 6px 8px 6px;
			border-radius: 4px;
		}
		.workspace-tab-header {
			flex-grow:1;
			&.is-active {
				border-color: transparent;
			}
		}
		.workspace-tab-header-container {
			padding-right: 0;
		}
		.workspace-tab-header-spacer {
			display: none;
		}
	}
}
