/* Main tabs */
body {
	--minimal-tab-text-color: var(--text-muted);
	--minimal-tab-text-color-active: var(--text-normal);
}
.workspace-tabs:not(.mod-stacked) {
	--tab-text-color: var(--minimal-tab-text-color);
	--tab-text-color-focused: var(--minimal-tab-text-color);
	--tab-text-color-active: var(--minimal-tab-text-color-active);
	--tab-text-color-focused-active: var(--minimal-tab-text-color-active);
	--tab-text-color-focused-active-current: var(--minimal-tab-text-color-active);
}
.tabs-square .mod-root {
	--tab-curve: 0;
	--tab-radius: 0;
	--tab-radius-active: 0;
}
.tabs-underline .mod-root {
	--tab-curve: 0;
	--tab-radius: 0;
	--tab-radius-active: 0;
	--tab-outline-width: 0px;
	--tab-background-active: transparent;

	.workspace-tab-header-container {
		border-bottom: 1px solid var(--divider-color);
	}
	.workspace-tab-header {
		border-bottom: 2px solid transparent;
		&:hover {
			border-bottom: 2px solid var(--ui2);
			.workspace-tab-header-inner {
				background-color: transparent;
			}
		}
		&.is-active {
			border-bottom: 2px solid var(--ax3);
		}
	}
	.workspace-tab-header-inner:hover {
		background-color: transparent;
	}
}

/* Remove underline on lower sidebar tabs */
.workspace > .workspace-split:not(.mod-root) .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
	--tab-outline-width: 0;
}

/* Safari/Firefox style */
.tabs-modern {

	&.colorful-frame {
		.mod-root .mod-top.workspace-tabs:not(.mod-stacked) {
			--tab-background: var(--frame-outline-color);
			--tab-outline-width: 1px;

			.workspace-tab-header:hover,
			.workspace-tab-header.is-active {
				.workspace-tab-header-inner-close-button {
					color: var(--minimal-tab-text-color-active);
				}
			}
		}
	}
	&.minimal-focus-mode .mod-root .workspace-tab-header-container:hover {
		--tab-outline-width: 0px;
	}
	.mod-root {
		--tab-container-background: var(--background-primary);
	}
	.mod-root .workspace-tabs:not(.mod-stacked) {
		--tab-background: var(--background-modifier-hover);
		--tab-height: calc(var(--header-height) - 14px);
		--tab-outline-width: 0px;

		.workspace-tab-header::before,
		.workspace-tab-header::after,
		.workspace-tab-header-inner::after {
			display: none;
		}

		.workspace-tab-header-container-inner {
			align-items: center;
			margin: 0;
			padding: 2px var(--size-4-2) 0 var(--size-4-1);
		}
		.workspace-tab-header-inner-title {
			text-overflow: ellipsis;
			-webkit-mask-image: none;
		}
		.workspace-tab-header {
			background: transparent;
			border-radius: 5px;
			border: none;
			box-shadow: none;
			height: var(--tab-height);
			margin-left: var(--size-4-1);
			padding: 0;
			opacity: 1;
			&:hover {
				opacity: 1;
			}
			&.is-active {
				.workspace-tab-header-inner-title {
					color: var(--tab-text-color-active);
				}
			}
			&.is-active.mod-active {
				opacity: 1;
				background-color: var(--tab-background);
			}
		}
		.workspace-tab-header-new-tab {
			margin-right: 0;
		}
		.workspace-tab-header-inner {
			padding: 0 var(--size-4-1) 0 var(--size-4-2);
			border: 1px solid transparent;
		}
		.workspace-tab-header:not(:hover):not(.mod-active),
		.workspace-tab-header.is-active:not(.mod-active) {
			.workspace-tab-header-inner {
				border: 1px solid var(--tab-outline-color);
			}
		}
	}
}
