/* Translucent sidebars */

:root {
  --bg-translucency-light:0.7;
  --bg-translucency-dark:0.85;
}
.theme-light.frosted-sidebar.is-translucent,
.theme-dark.frosted-sidebar.is-translucent {
  --opacity-translucency:1;
}
.is-translucent.frosted-sidebar:not(.hider-ribbon) .workspace-ribbon.mod-left,
.is-translucent.frosted-sidebar .workspace-split:not(.mod-right-split) .workspace-tabs {
  background:transparent;
}
.is-translucent.frosted-sidebar:not(.hider-ribbon) .workspace-ribbon.mod-left:after {
  background:var(--background-secondary);
  opacity:var(--bg-translucency-light);
  top:0px;
  left:0px;
  content:"";
  height:120%;
  position:fixed;
  width:42px;
  z-index:-10;
}
.is-translucent.frosted-sidebar .mod-left-split .workspace-tabs:after {
  background:var(--background-secondary);
  opacity:var(--bg-translucency-light);
  top:-50px;
  content:"";
  height:120%;
  position:fixed;
  width:120%;
  z-index:-10;
}
.theme-dark.is-translucent.frosted-sidebar:not(.hider-ribbon) .workspace-ribbon.mod-left:after,
.theme-dark.is-translucent.frosted-sidebar .workspace-split:not(.mod-right-split) .workspace-tabs:after {
  opacity:var(--bg-translucency-dark);
}
.theme-light.is-translucent.frosted-sidebar.minimal-light-white .workspace-split:not(.mod-right-split) .workspace-tabs:after {
  background:white;
}
.theme-dark.is-translucent.frosted-sidebar.minimal-dark-black .workspace-split:not(.mod-right-split) .workspace-tabs:after {
  background:black;
}
.is-translucent .status-bar {
  margin:0;
}