/* @settings

name: Minimal
id: minimal-style
settings:
    -
        id: styles
        title: Background styles
        type: heading
        level: 2
        collapsed: true
    -
        id: light-mode-style
        title: Light mode style
        description: Background color style in light mode
        type: class-select
        allowEmpty: false
        default: minimal-light
        options:
            - 
                label: Default
                value: minimal-light
            - 
                label: All white
                value: minimal-light-white
            - 
                label: Low contrast
                value: minimal-light-tonal
            - 
                label: High contrast
                value: minimal-light-contrast
    -
        id: dark-mode-style
        title: Dark mode style
        description: Background color style in dark mode
        type: class-select
        allowEmpty: false
        default: minimal-dark
        options:
            - 
                label: Default
                value: minimal-dark
            - 
                label: Low contrast
                value: minimal-dark-tonal
            - 
                label: True black
                value: minimal-dark-black
    -
        id: color
        title: Colors
        type: heading
        level: 2
        collapsed: true
    - 
        id: accent
        title: Accent color
        type: variable-color
        format: hsl-split
        default: '#6a8695'
    - 
        id: base
        title: Base color
        type: variable-color
        format: hsl-split
        default: '#f7f7f7'
    - 
        id: accent-d
        title: Accent color adjust for dark mode
        description: Adjust darkness of the accent color in dark mode
        type: variable-number-slider
        default: 60
        min: 20
        max: 80
        step: 1
        format: '%'
    -
        id: base-d
        title: Base color adjustment for dark mode
        description: Adjust darkness of the base color in dark mode
        type: variable-number-slider
        default: 15
        min: 0
        max: 40
        step: 1
        format: '%'
    -
        id: features
        title: Features
        type: heading
        level: 2
        collapsed: true
    -
        id: fancy-cursor
        title: Fancy cursor
        description: Editor cursor uses your accent color
        type: class-toggle
        default: true
    -
        id: labeled-nav
        title: Text labels for primary navigation
        description: Navigation in left sidebar uses text labels. For non-English users this feature requires an additional snippet available on Github.
        type: class-toggle
        default: false
    -
        id: full-file-names
        title: Full file names in sidebar
        description: Do not trim file names in sidebar
        type: class-toggle
    -
        id: minimal-icons-off
        title: Default icons
        description: Use default icons instead of Minimal set
        type: class-toggle
        default: false
    - 
        id: minimal-status-off
        title: Wide status bar
        description: Use full width status bar
        type: class-toggle
        default: false
    -
        id: minimal-focus-mode
        title: Focus mode
        description: Hide UI when a single file is open. UI is accessible via hover.
        type: class-toggle
    -
        id: borders-none
        title: Hide borders
        description: Removes borders between sidebar elements
        type: class-toggle
    -
        id: borders-title
        title: Border below pane title
        description: Show border below pane title (if borders are not hidden)
        type: class-toggle
    -
        id: minimal-folding
        title: Folding offset
        description: Recommended if you use folding headings and indents
        type: class-toggle
    -
        id: links-int-on
        title: Underline internal links
        description: Show underlines on internal links
        type: class-toggle
        default: true
    -
        id: links-ext-on
        title: Underline external links
        description: Show underlines on external links
        type: class-toggle
        default: true
    -
        id: full-width-media
        title: Maximize media
        description: Small images and videos fill the width of the line
        type: class-toggle
    -
        id: zoom-off
        title: Disable image zoom
        description: Turns off click/hold to zoom images
        type: class-toggle
    -
        id: layout
        title: Layout
        type: heading
        level: 2
        collapsed: true
        description: Requires Contextual Typography plugin. These options can also be defined on a per-file basis using YAML, see documentation for details.
    -
        id: img-grid
        title: Image grids
        description: Turns consecutive images into columns. To make a new row, add an extra line break between images.
        type: class-toggle
    -
        id: image-width
        title: Image width
        description: Default width for images and image grids
        type: class-select
        allowEmpty: false
        default: img-default-width
        options:
            - 
                label: Default
                value: img-default-width
            - 
                label: Wide line width
                value: img-wide
            - 
                label: Maximum line width
                value: img-max
            - 
                label: 100% pane width
                value: img-100
    -
        id: table-width
        title: Table width
        description: Default width for tables and Dataview elements
        type: class-select
        allowEmpty: false
        default: table-default-width
        options:
            - 
                label: Default
                value: table-default-width
            - 
                label: Wide line width
                value: table-wide
            - 
                label: Maximum line width
                value: table-max
            - 
                label: 100% pane width
                value: table-100
    -
        id: iframe-width
        title: Iframe width
        description: Default width for iframe elements
        type: class-select
        allowEmpty: false
        default: iframe-default-width
        options:
            - 
                label: Default
                value: iframe-default-width
            - 
                label: Wide line width
                value: iframe-wide
            - 
                label: Maximum line width
                value: iframe-max
            - 
                label: 100% pane width
                value: iframe-100
    -
        id: tables
        title: Tables
        type: heading
        level: 2
        collapsed: true
    -
        id: trim-cols
        title: Trim Dataview columns
        description: Disables word wrapping in table cells, and trims long text
        type: class-toggle
        default: true
    - 
        id: max-col-width
        title: Dataview maximum column width
        description: Maximum width for Dataview columns, accepts any CSS unit
        type: variable-text
        default: 18em
    -
        id: typography
        title: Typography
        type: heading
        level: 2
        collapsed: true
    - 
        id: font-normal
        title: Body font size
        description: Font size in px of the main text
        type: variable-number
        default: 16
        format: px
    - 
        id: font-small
        title: Sidebar font size
        description: Font size in px of the sidebar and small text
        type: variable-number
        default: 13
        format: px
    - 
        id: line-height
        title: Body line height
        description: Line height of the main text
        type: variable-number
        default: 1.5
    -
        id: line-width
        title: Normal line width
        description: Number of characters per line
        type: variable-number
        default: 40
        format: rem
    - 
        id: line-width-wide
        title: Wide line width
        description: Number of characters per line for wide elements
        type: variable-number
        default: 50
        format: rem
    -
        id: max-width
        title: Maximum line width %
        description: Percentage of space inside a pane that a line can fill.
        type: variable-number
        default: 88
        format: '%'
    -
        id: fonts
        title: Fonts
        type: heading
        level: 2
        collapsed: true
    - 
        id: text
        title: Text font
        description: Used in preview mode
        type: variable-text
        default: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif
    -
        id: text-editor
        title: Editor font
        description: Used in edit mode
        type: variable-text
        default: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif
    -
        id: font-monospace
        title: Monospace font
        description: Used for code blocks and front matter
        type: variable-text
        default: Menlo,SFMono-Regular,Consolas,"Roboto Mono",monospace
    -
        id: font-ui
        title: UI font
        description: Used for buttons, menus and sidebar
        type: variable-text
        default: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif
    -
        id: headings
        title: Headings
        type: heading
        level: 2
        collapsed: true
    - 
        id: level-1-headings
        title: Level 1 Headings
        type: heading
        level: 3
        collapsed: true
    - 
        id: h1
        title: H1 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 1.125em
    - 
        id: h1-weight
        title: H1 font weight
        description: Accepts numbers representing the CSS font-weight
        type: variable-number
        default: 600
    - 
        id: h1-color
        title: H1 font color
        type: variable-themed-color
        format: hex
        default-light: '#363636'
        default-dark: '#d1d1d1'
    - 
        id: h1-variant
        title: H1 font variant
        type: variable-select
        allowEmpty: false
        default: normal
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Small caps
                value: small-caps 
    -
        id: level-2-headings
        title: Level 2 Headings
        type: heading
        level: 3
        collapsed: true
    - 
        id: h2
        title: H2 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 1em
    - 
        id: h2-weight
        title: H2 font weight
        description: Accepts numbers representing the CSS font-weight
        type: variable-number
        default: 600
    - 
        id: h2-color
        title: H2 font color
        type: variable-themed-color
        format: hex
        default-light: '#363636'
        default-dark: '#d1d1d1'
    - 
        id: h2-variant
        title: H2 font variant
        type: variable-select
        allowEmpty: false
        default: normal
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Small caps
                value: small-caps 
    -
        id: level-3-headings
        title: Level 3 Headings
        type: heading
        level: 3
        collapsed: true
    - 
        id: h3
        title: H3 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 1em
    - 
        id: h3-weight
        title: H3 font weight
        description: Accepts numbers representing the CSS font-weight
        type: variable-number
        default: 600
    - 
        id: h3-color
        title: H3 font color
        type: variable-themed-color
        format: hex
        default-light: '#363636'
        default-dark: '#d1d1d1'
    - 
        id: h3-variant
        title: H3 font variant
        type: variable-select
        allowEmpty: false
        default: normal
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Small caps
                value: small-caps 
    -
        id: level-4-headings
        title: Level 4 Headings
        type: heading
        level: 3
        collapsed: true
    - 
        id: h4
        title: H4 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 0.9em
    - 
        id: h4-weight
        title: H4 font weight
        description: Accepts numbers representing the CSS font-weight
        type: variable-number
        default: 500
    - 
        id: h4-color
        title: H4 font color
        type: variable-themed-color
        format: hex
        default-light: '#363636'
        default-dark: '#d1d1d1'
    - 
        id: h4-variant
        title: H4 font variant
        type: variable-select
        allowEmpty: false
        default: small-caps
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Small caps
                value: small-caps 
    - 
        id: level-5-headings
        title: Level 5 Headings
        type: heading
        level: 3
        collapsed: true
    -  
        id: h5
        title: H5 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 0.85em
    - 
        id: h5-weight
        title: H5 font weight
        description: Accepts numbers representing the CSS font-weight
        type: variable-number
        default: 500
    -
        id: h5-color
        title: H5 font color
        type: variable-themed-color
        format: hex
        default-light: '#363636'
        default-dark: '#d1d1d1'
    - 
        id: h5-variant
        title: H5 font variant
        type: variable-select
        allowEmpty: false
        default: small-caps
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Small caps
                value: small-caps 
    -
        id: level-6-headings
        title: Level 6 Headings
        type: heading
        level: 3
        collapsed: true
    - 
        id: h6
        title: H6 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 0.85em
    - 
        id: h6-weight
        title: H6 font weight
        description: Accepts numbers representing the CSS font-weight
        type: variable-number
        default: 400
    -
        id: h6-color
        title: H6 font color
        type: variable-themed-color
        format: hex
        default-light: '#363636'
        default-dark: '#d1d1d1'
    - 
        id: h6-variant
        title: H6 font variant
        type: variable-select
        allowEmpty: false
        default: small-caps
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Small caps
                value: small-caps
    -
        id: advanced
        title: Advanced
        type: heading
        level: 2
        collapsed: true
    -
        id: cursor
        title: Cursor style
        description: The cursor style for UI elements
        type: variable-select
        default: default
        options:
            - 
                label: Default
                value: default
            - 
                label: Pointer
                value: pointer
            - 
                label: Crosshair
                value: crosshair
    - 
        id: minimal-strike-lists
        title: Strike completed tasks
        description: Use line through greyed text for completed tasks
        type: class-toggle
        default: false
    - 
        id: text-bold
        title: Bold text color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: text-italic
        title: Italic text color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: text-code
        title: Code text color
        type: variable-themed-color
        format: hex
        default-light: '#363636'
        default-dark: '#bfbfbf'
    -
        id: font-smaller
        title: Small font size
        description: Font size in px of the main text
        type: variable-number
        default: 11
        format: px
    - 
        id: font-smallest
        title: Tiny font size
        description: Font size in px of the main text
        type: variable-number
        default: 10
        format: px
    -
        id: credits
        title: Credits
        type: heading
        description: Made with ❤︎ by @kepano. Support my work at buymeacoffee.com/kepano
        level: 2
        collapsed: true

*/
/* Style Settings */

/* @settings
name: Minimal Cards
id: minimal-cards-style
settings:
    - 
        id: cards-min-width
        title: Card minimum width
        description: 
        type: variable-text
        default: 180px
    - 
        id: cards-padding
        title: Card padding
        description: 
        type: variable-text
        default: 1.2em
    - 
        id: cards-image-height
        title: Card maximum image height
        description: 
        type: variable-text
        default: 400px
    - 
        id: cards-border-width
        title: Card border width
        description: 
        type: variable-text
        default: 1px
    -  
        id: cards-background
        title: Card background color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'

*/