/* @settings

name: Minimal Custom Color Scheme
id: minimal-style
settings:
    -
        id: instructions
        title: Welcome 👋
        type: heading
        level: 2
        collapsed: true
        description: Use the Minimal Theme Settings plugin to access hotkeys, adjust features, select fonts, and choose from preset color schemes. Use the settings below for more granular customization.
    -
        id: interface
        title: Interface colors
        type: heading
        level: 2
        collapsed: true
    - 
        id: base
        title: Base color
        description: Defines all background and border colors unless overridden below
        type: variable-themed-color
        format: hsl-split
        default-light: '#'
        default-dark: '#'
    - 
        id: accent
        title: Accent color
        description: Defines link and checkbox colors unless overridden below
        type: variable-themed-color
        format: hsl-split
        default-light: '#'
        default-dark: '#'
    - 
        id: bg1
        title: Main window background
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: bg2
        title: Sidebar background
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: bg3
        title: Active background
        description: For hovered buttons and current file
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: ui1
        title: Border color
        type: variable-themed-color
        description: For divider lines and outlined elements
        opacity: true
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: ui2
        title: Border color (highlighted)
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: ui3
        title: Border color (focused)
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: '#'
        default-dark: '#'
    -
        id: extended-palette
        title: Extended palette
        type: heading
        level: 2
        collapsed: true
    - 
        id: red
        title: Red
        description: Extended palette colors are defaults used for progress bar status, syntax highlighting, colorful headings, and graph nodes
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: orange
        title: Orange
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: yellow
        title: Yellow
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: green
        title: Green
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: cyan
        title: Cyan
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: purple
        title: Purple
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: pink
        title: Pink
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: '#'
        default-dark: '#'
    -
        id: icons
        title: Icons
        type: heading
        level: 2
        collapsed: true
    - 
        id: icon-muted
        title: Icon opacity (inactive)
        type: variable-number-slider
        default: 0.5
        min: 0.25
        max: 1
        step: 0.05
    - 
        id: icon-color
        title: Icon color
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: icon-color-hover
        title: Icon color (hover)
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: icon-color-active
        title: Icon color (active)
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: '#'
        default-dark: '#'
    -
        id: titlebar
        title: Title bar
        type: heading
        level: 2
        collapsed: true
    - 
        id: title-alignment
        title: Title alignment
        type: class-select
        allowEmpty: false
        default: title-align-body
        options:
            - 
                label: Text body
                value: title-align-body
            - 
                label: Left
                value: title-align-left
            -
                label: Center
                value: title-align-center
    - 
        id: title-size
        title: Title font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 1.1em
    - 
        id: title-weight
        title: Title font weight
        description: Accepts numbers representing the CSS font-weight
        type: variable-number
        default: 600
    - 
        id: title-color-inactive
        title: Title font color (inactive)
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: title-color
        title: Title font color (active)
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    -
        id: links
        title: Links
        type: heading
        level: 2
        collapsed: true
    - 
        id: ax1
        title: Link color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: ax2
        title: Link color (hovering)
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: link-weight
        title: Link font weight
        description: Accepts numbers representing the CSS font-weight
        type: variable-number
        default: 400
    -
        id: text
        title: Text
        type: heading
        level: 2
        collapsed: true
    - 
        id: tx1
        title: Normal text color
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: hl1
        title: Selected text background
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: tx2
        title: Muted text color
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: tx3
        title: Faint text color
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: text-bold
        title: Bold text color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: text-italic
        title: Italic text color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    -
        id: headings
        title: Headings
        type: heading
        level: 2
        collapsed: true
    - 
        id: level-1-headings
        title: Level 1 Headings
        type: heading
        level: 3
        collapsed: true
    - 
        id: h1
        title: H1 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 1.125em
    - 
        id: h1-weight
        title: H1 font weight
        description: Accepts numbers representing the CSS font-weight
        type: variable-number
        default: 600
    - 
        id: h1-color
        title: H1 font color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: h1-variant
        title: H1 font variant
        type: variable-select
        allowEmpty: false
        default: normal
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Small caps
                value: small-caps
            -
                label: All small caps
                value: all-small-caps 
    - 
        id: h1-style
        title: H1 font style
        type: variable-select
        allowEmpty: false
        default: normal
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Italic
                value: italic
    -
        id: h1-l
        title: H1 divider line
        description: Adds a border below the heading
        type: class-toggle
        default: false
    -
        id: level-2-headings
        title: Level 2 Headings
        type: heading
        level: 3
        collapsed: true
    - 
        id: h2
        title: H2 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 1em
    - 
        id: h2-weight
        title: H2 font weight
        description: Accepts numbers representing the CSS font-weight
        type: variable-number
        default: 600
    - 
        id: h2-color
        title: H2 font color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: h2-variant
        title: H2 font variant
        type: variable-select
        allowEmpty: false
        default: normal
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Small caps
                value: small-caps
            -
                label: All small caps
                value: all-small-caps
    - 
        id: h2-style
        title: H2 font style
        type: variable-select
        allowEmpty: false
        default: normal
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Italic
                value: italic
    -
        id: h2-l
        title: H2 divider line
        description: Adds a border below the heading
        type: class-toggle
        default: false
    -
        id: level-3-headings
        title: Level 3 Headings
        type: heading
        level: 3
        collapsed: true
    - 
        id: h3
        title: H3 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 1em
    - 
        id: h3-weight
        title: H3 font weight
        description: Accepts numbers representing the CSS font-weight
        type: variable-number
        default: 600
    - 
        id: h3-color
        title: H3 font color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: h3-variant
        title: H3 font variant
        type: variable-select
        allowEmpty: false
        default: normal
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Small caps
                value: small-caps
            -
                label: All small caps
                value: all-small-caps
    - 
        id: h3-style
        title: H3 font style
        type: variable-select
        allowEmpty: false
        default: normal
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Italic
                value: italic
    -
        id: h3-l
        title: H3 divider line
        description: Adds a border below the heading
        type: class-toggle
        default: false
    -
        id: level-4-headings
        title: Level 4 Headings
        type: heading
        level: 3
        collapsed: true
    - 
        id: h4
        title: H4 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 0.9em
    - 
        id: h4-weight
        title: H4 font weight
        description: Accepts numbers representing the CSS font-weight
        type: variable-number
        default: 500
    - 
        id: h4-color
        title: H4 font color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: h4-variant
        title: H4 font variant
        type: variable-select
        allowEmpty: false
        default: small-caps
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Small caps
                value: small-caps
            -
                label: All small caps
                value: all-small-caps 
    - 
        id: h4-style
        title: H4 font style
        type: variable-select
        allowEmpty: false
        default: normal
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Italic
                value: italic
    -
        id: h4-l
        title: H4 divider line
        description: Adds a border below the heading
        type: class-toggle
        default: false   
    - 
        id: level-5-headings
        title: Level 5 Headings
        type: heading
        level: 3
        collapsed: true
    -  
        id: h5
        title: H5 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 0.85em
    - 
        id: h5-weight
        title: H5 font weight
        description: Accepts numbers representing the CSS font-weight
        type: variable-number
        default: 500
    -
        id: h5-color
        title: H5 font color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: h5-variant
        title: H5 font variant
        type: variable-select
        allowEmpty: false
        default: small-caps
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Small caps
                value: small-caps
            -
                label: All small caps
                value: all-small-caps 
    - 
        id: h5-style
        title: H5 font style
        type: variable-select
        allowEmpty: false
        default: normal
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Italic
                value: italic
    -
        id: h5-l
        title: H5 divider line
        description: Adds a border below the heading
        type: class-toggle
        default: false
    -
        id: level-6-headings
        title: Level 6 Headings
        type: heading
        level: 3
        collapsed: true
    - 
        id: h6
        title: H6 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 0.85em
    - 
        id: h6-weight
        title: H6 font weight
        description: Accepts numbers representing the CSS font-weight
        type: variable-number
        default: 400
    -
        id: h6-color
        title: H6 font color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: h6-variant
        title: H6 font variant
        type: variable-select
        allowEmpty: false
        default: small-caps
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Small caps
                value: small-caps
            -
                label: All small caps
                value: all-small-caps
    - 
        id: h6-style
        title: H6 font style
        type: variable-select
        allowEmpty: false
        default: normal
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Italic
                value: italic
    -
        id: h6-l
        title: H6 divider line
        type: class-toggle
        description: Adds a border below the heading
        default: false
    -
        id: blockquotes
        title: Blockquotes
        type: heading
        level: 2
        collapsed: true
    - 
        id: text-blockquote
        title: Blockquotes text color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: blockquote-size
        title: Blockquotes font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: ''
    - 
        id: blockquote-style
        title: Blockquotes font style
        type: variable-select
        allowEmpty: false
        default: normal
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Italic
                value: italic
    -
        id: lists
        title: Lists and checkboxes
        type: heading
        level: 2
        collapsed: true
    - 
        id: ax3
        title: Checkbox color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: checkbox-shape
        title: Checkbox shape
        type: class-select
        allowEmpty: false
        default: checkbox-circle
        options:
            - 
                label: Circle
                value: checkbox-circle
            - 
                label: Square
                value: checkbox-square
    -
        id: minimal-strike-lists
        title: Strike completed tasks
        description: Use line through greyed text for completed tasks
        type: class-toggle
        default: false
    -
        id: list-spacing
        title: List item spacing
        description: Space between list items in em units
        type: variable-number-slider
        default: 0.075
        min: 0
        max: 0.3
        step: 0.005
        format: em
    -
        id: code-blocks
        title: Code blocks
        type: heading
        level: 2
        collapsed: true
    - 
        id: text-code
        title: Code text color
        description: Where syntax highlighting is not present
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: font-code
        title: Code font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 13px
    -
        id: graphs
        title: Graphs
        type: heading
        level: 2
        collapsed: true
    -
        id: node
        title: Node color
        description: Changing node colors requires closing and reopening graph panes or restarting Obsidian
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    -
        id: node-focused
        title: Active node color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    -   
        id: node-tag
        title: Tag node color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    -   
        id: node-attachment
        title: Attachment node color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    -   
        id: node-unresolved
        title: Unresolved node color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    -
        id: translucency
        title: Translucency
        type: heading
        level: 2
        collapsed: true
    -
        id: bg-translucency-light
        title: Translucency (light mode)
        description: Sidebar translucency in light mode. Requires turning on "Translucent window" in Appearance settings, and "Translucent sidebar" in Minimal settings.
        type: variable-number-slider
        default: 0.7
        min: 0
        max: 1
        step: 0.05
    -
        id: bg-translucency-dark
        title: Translucency (dark mode)
        description: Sidebar translucency in dark mode
        type: variable-number-slider
        default: 0.85
        min: 0
        max: 1
        step: 0.05

*/

/* @settings
name: Minimal Cards
id: minimal-cards-style
settings:
    - 
        id: cards-min-width
        title: Card minimum width
        type: variable-text
        default: 180px
    - 
        id: cards-max-width
        title: Card maximum width
        description: Default fills the available width, accepts valid CSS units
        type: variable-text
        default: 1fr
    - 
        id: cards-mobile-width
        title: Card minimum width on mobile
        type: variable-text
        default: 120px
    - 
        id: cards-padding
        title: Card padding
        type: variable-text
        default: 1.2em
    - 
        id: cards-image-height
        title: Card maximum image height
        type: variable-text
        default: 400px
    - 
        id: cards-border-width
        title: Card border width
        type: variable-text
        default: 1px
    -  
        id: cards-background
        title: Card background color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'

*/

/* @settings
name: Minimal Advanced Settings
id: minimal-advanced
settings:
    -
        id: zoom-off
        title: Disable image zoom
        description: Turns off click/hold to zoom images
        type: class-toggle
    -
        id: cursor
        title: Cursor style
        description: The cursor style for UI elements
        type: variable-select
        default: default
        options:
            - 
                label: Default
                value: default
            - 
                label: Pointer
                value: pointer
            - 
                label: Crosshair
                value: crosshair
    - 
        id: font-smaller
        title: Smaller font size
        description: Font size in px of smaller text
        type: variable-number
        default: 11
        format: px
    - 
        id: font-smallest
        title: Smallest font size
        description: Font size in px of smallest text
        type: variable-number
        default: 10
        format: px
    - 
        id: mobile-left-sidebar-width
        title: Mobile left sidebar width
        description: Maximum width for pinned left sidebar on mobile
        type: variable-number
        default: 280
        format: pt
    - 
        id: mobile-right-sidebar-width
        title: Mobile right sidebar width
        description: Maximum width for pinned right sidebar on mobile
        type: variable-number
        default: 240
        format: pt
*/