/* @settings

name: Minimal Custom Color Scheme
id: minimal-style
settings:
    -
        id: instructions
        title: Welcome 👋
        type: heading
        level: 2
        collapsed: true
        description: Use the Minimal Theme Settings plugin to access hotkeys, adjust features, select fonts, and choose from preset color schemes. Use the settings below for more granular customization.
    -
        id: interface
        title: Interface
        type: heading
        level: 2
        collapsed: true
    - 
        id: base
        title: Base color
        type: variable-themed-color
        format: hsl-split
        default-light: '#'
        default-dark: '#'
    - 
        id: accent
        title: Accent color
        type: variable-themed-color
        format: hsl-split
        default-light: '#6a8695'
        default-dark: '#6a8695'
    - 
        id: bg1
        title: Main window background
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: bg2
        title: Sidebar background
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: bg3
        title: Active background
        description: For hovered buttons and current file
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: ui1
        title: Outlines
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: ui2
        title: Outlines (highlighted)
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: ui3
        title: Outlines (focused)
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: '#'
        default-dark: '#'
    -
        id: links
        title: Links
        type: heading
        level: 2
        collapsed: true
    - 
        id: ax1
        title: Link color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: ax2
        title: Link color (hovering)
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: link-weight
        title: Link font weight
        description: Accepts numbers representing the CSS font-weight
        type: variable-number
        default: 400
    -
        id: text
        title: Text
        type: heading
        level: 2
        collapsed: true
    - 
        id: tx1
        title: Normal text color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: hl1
        title: Selected text background
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: tx2
        title: Muted text color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: tx3
        title: Faint text color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: text-bold
        title: Bold text color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: text-italic
        title: Italic text color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    -
        id: headings
        title: Headings
        type: heading
        level: 2
        collapsed: true
    - 
        id: level-1-headings
        title: Level 1 Headings
        type: heading
        level: 3
        collapsed: true
    - 
        id: h1
        title: H1 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 1.125em
    - 
        id: h1-weight
        title: H1 font weight
        description: Accepts numbers representing the CSS font-weight
        type: variable-number
        default: 600
    - 
        id: h1-color
        title: H1 font color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: h1-variant
        title: H1 font variant
        type: variable-select
        allowEmpty: false
        default: normal
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Small caps
                value: small-caps 
    - 
        id: h1-style
        title: H1 font style
        type: variable-select
        allowEmpty: false
        default: normal
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Italic
                value: italic
    -
        id: level-2-headings
        title: Level 2 Headings
        type: heading
        level: 3
        collapsed: true
    - 
        id: h2
        title: H2 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 1em
    - 
        id: h2-weight
        title: H2 font weight
        description: Accepts numbers representing the CSS font-weight
        type: variable-number
        default: 600
    - 
        id: h2-color
        title: H2 font color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: h2-variant
        title: H2 font variant
        type: variable-select
        allowEmpty: false
        default: normal
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Small caps
                value: small-caps
    - 
        id: h2-style
        title: H2 font style
        type: variable-select
        allowEmpty: false
        default: normal
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Italic
                value: italic
    -
        id: level-3-headings
        title: Level 3 Headings
        type: heading
        level: 3
        collapsed: true
    - 
        id: h3
        title: H3 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 1em
    - 
        id: h3-weight
        title: H3 font weight
        description: Accepts numbers representing the CSS font-weight
        type: variable-number
        default: 600
    - 
        id: h3-color
        title: H3 font color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: h3-variant
        title: H3 font variant
        type: variable-select
        allowEmpty: false
        default: normal
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Small caps
                value: small-caps
    - 
        id: h3-style
        title: H3 font style
        type: variable-select
        allowEmpty: false
        default: normal
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Italic
                value: italic
    -
        id: level-4-headings
        title: Level 4 Headings
        type: heading
        level: 3
        collapsed: true
    - 
        id: h4
        title: H4 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 0.9em
    - 
        id: h4-weight
        title: H4 font weight
        description: Accepts numbers representing the CSS font-weight
        type: variable-number
        default: 500
    - 
        id: h4-color
        title: H4 font color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: h4-variant
        title: H4 font variant
        type: variable-select
        allowEmpty: false
        default: small-caps
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Small caps
                value: small-caps 
    - 
        id: h4-style
        title: H4 font style
        type: variable-select
        allowEmpty: false
        default: normal
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Italic
                value: italic
    - 
        id: level-5-headings
        title: Level 5 Headings
        type: heading
        level: 3
        collapsed: true
    -  
        id: h5
        title: H5 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 0.85em
    - 
        id: h5-weight
        title: H5 font weight
        description: Accepts numbers representing the CSS font-weight
        type: variable-number
        default: 500
    -
        id: h5-color
        title: H5 font color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: h5-variant
        title: H5 font variant
        type: variable-select
        allowEmpty: false
        default: small-caps
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Small caps
                value: small-caps 
    - 
        id: h5-style
        title: H5 font style
        type: variable-select
        allowEmpty: false
        default: normal
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Italic
                value: italic
    -
        id: level-6-headings
        title: Level 6 Headings
        type: heading
        level: 3
        collapsed: true
    - 
        id: h6
        title: H6 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 0.85em
    - 
        id: h6-weight
        title: H6 font weight
        description: Accepts numbers representing the CSS font-weight
        type: variable-number
        default: 400
    -
        id: h6-color
        title: H6 font color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: h6-variant
        title: H6 font variant
        type: variable-select
        allowEmpty: false
        default: small-caps
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Small caps
                value: small-caps
    - 
        id: h6-style
        title: H6 font style
        type: variable-select
        allowEmpty: false
        default: normal
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Italic
                value: italic
    -
        id: blockquotes
        title: Blockquotes
        type: heading
        level: 2
        collapsed: true
    - 
        id: text-blockquote
        title: Blockquotes text color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: blockquote-size
        title: Blockquotes font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: ''
    - 
        id: blockquote-style
        title: Blockquotes font style
        type: variable-select
        allowEmpty: false
        default: normal
        options:
            - 
                label: Normal
                value: normal
            - 
                label: Italic
                value: italic
    -
        id: lists
        title: Lists and checkboxes
        type: heading
        level: 2
        collapsed: true
    - 
        id: ax3
        title: Checkbox color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    -
        id: minimal-strike-lists
        title: Strike completed tasks
        description: Use line through greyed text for completed tasks
        type: class-toggle
        default: false
    -
        id: list-spacing
        title: List item spacing
        description: Space between list items in em units
        type: variable-number-slider
        default: 0.075
        min: 0
        max: 0.3
        step: 0.005
        format: em
    -
        id: code-blocks
        title: Code blocks
        type: heading
        level: 2
        collapsed: true
    - 
        id: text-code
        title: Code text color
        description: Where syntax highlighting is not present
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    - 
        id: font-code
        title: Code font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 13px

*/

/* @settings
name: Minimal Cards
id: minimal-cards-style
settings:
    - 
        id: cards-min-width
        title: Card minimum width
        description: 
        type: variable-text
        default: 180px
    - 
        id: cards-max-width
        title: Card maximum width
        description: Default fills the available width, accepts valid CSS units
        type: variable-text
        default: 1fr
    - 
        id: cards-mobile-width
        title: Card minimum width on mobile
        description: 
        type: variable-text
        default: 120px
    - 
        id: cards-padding
        title: Card padding
        description: 
        type: variable-text
        default: 1.2em
    - 
        id: cards-image-height
        title: Card maximum image height
        description: 
        type: variable-text
        default: 400px
    - 
        id: cards-border-width
        title: Card border width
        description: 
        type: variable-text
        default: 1px
    -  
        id: cards-background
        title: Card background color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'

*/

/* @settings
name: Minimal Advanced Settings
id: minimal-advanced
settings:
    -
        id: zoom-off
        title: Disable image zoom
        description: Turns off click/hold to zoom images
        type: class-toggle
    -
        id: cursor
        title: Cursor style
        description: The cursor style for UI elements
        type: variable-select
        default: default
        options:
            - 
                label: Default
                value: default
            - 
                label: Pointer
                value: pointer
            - 
                label: Crosshair
                value: crosshair
    - 
        id: font-smallest
        title: Tiny font size
        description: Font size in px of tiny text
        type: variable-number
        default: 10
        format: px
*/