/* Dracula */

.theme-dark.minimal-dracula-dark {
	--color-red:#ff5555;
	--color-yellow:#f1fa8c;
	--color-green:#50fa7b;
	--color-orange:#ffb86c;
	--color-purple:#bd93f9;
	--color-pink:#ff79c6;
	--color-cyan:#8be9fd;
	--color-blue:#6272a4;
}

.theme-light.minimal-dracula-light.minimal-light-contrast .titlebar,
.theme-light.minimal-dracula-light.minimal-light-contrast.minimal-status-off .status-bar,
.theme-light.minimal-dracula-light.minimal-light-contrast .workspace-drawer.mod-left,
.theme-dark.minimal-dracula-dark {
	--base-h: 232;
	--base-s: 16%;
	--base-l: 19%;

	--accent-h: 265;
	--accent-s: 89%;
	--accent-l: 78%;

	--bg1: #282a37;
	--bg2: #21222c;

	--ui2: #44475a;
	--ui3: #6272a4;

	--tx1: #f8f8f2;
	--tx2: #949FBE;
	--tx3: #6272a4;

	--hl1:rgba(134, 140, 170, 0.3);
	--hl2:rgba(189, 147, 249, 0.35);
}
.theme-dark.minimal-dracula-dark.minimal-dark-black {
	--ui1:#282a36;
}
