/* Eink */

.theme-light.minimal-eink-light,
.theme-dark.minimal-eink-dark {
	--collapse-icon-color: var(--text-normal);
	--icon-color-active: var(--bg1);
	--icon-color-hover: var(--bg1);
	--icon-color-focused: var(--bg1);
	--icon-opacity: 1;
	--indentation-guide-color: var(--tx1);
	--indentation-guide-color-active: var(--tx1);
	--indentation-guide-width-active: 3px;
	--interactive-normal: var(--bg1);
	--input-shadow: 0 0 0 1px var(--tx1);
	--link-unresolved-opacity: 1;
	--link-unresolved-decoration-style: dashed;
	--link-unresolved-decoration-color: var(--tx1);
	--metadata-label-background-active: var(--bg1);
	--metadata-input-background-active: var(--bg1);
	--modal-border-color: var(--tx1);
	--modal-border-width: 2px;
	--nav-item-color-hover: var(--bg1);
	--nav-item-color-active: var(--bg1);
	--prompt-border-color: var(--tx1);
	--prompt-border-width: 2px;
	--calendar-dot-active: var(--bg1);
	--calendar-dot-today: var(--bg1);
	--calendar-text-active: var(--bg1);
	--tag-border-width: 1.25px;
	--tag-background: transparent;
	--tag-background-hover: transparent;
	--tag-border-color: var(--tx1);
	--tag-border-color-hover: var(--tx1);
	--text-on-accent: var(--bg1);
	--text-on-accent-inverted: var(--bg1);

	&.tabs-modern {
		--minimal-tab-text-color-active: var(--bg1);
		--tab-text-color-focused-active-current: var(--bg1);
	}
	.suggestion-container {
		border-width: 3px;
	}
	.markdown-rendered code,
	.cm-s-obsidian span.cm-inline-code {
		font-weight: 600;
	}
	.metadata-property-icon {
		--icon-color-focused: var(--tx1);
	}
	.checkbox-container {
		background-color: var(--bg1);
		box-shadow: 0 0 0 1px var(--tx1);
		--toggle-thumb-color: var(--tx1);
		&.is-enabled {
			background-color: var(--tx1);
			--toggle-thumb-color: var(--bg1);
		}
	}
	.status-bar .plugin-sync:hover .sync-status-icon.mod-success,
	.status-bar .plugin-sync:hover .sync-status-icon.mod-working,
	.status-bar-item.mod-clickable:hover,
	.text-icon-button:hover,
	.community-item .suggestion-highlight,
	.cm-s-obsidian span.cm-formatting-highlight,
	.cm-s-obsidian span.cm-highlight,
	.markdown-rendered mark,
	.suggestion-item.is-selected,
	.horizontal-tab-nav-item:hover,
	.vertical-tab-nav-item:hover,
	&:not(.colorful-active) .horizontal-tab-nav-item.is-active,
	&:not(.colorful-active) .vertical-tab-nav-item.is-active,
	button,
	select:hover, .dropdown:hover {
		color: var(--bg1);
	}
}

.theme-light.minimal-eink-light {
	--base-h:0;
	--base-s:0%;
	--base-l:100%;

	--accent-h:0;
	--accent-s:0%;
	--accent-l:0%;

	--ax3:#000;

	--bg1:#fff;
	--bg2:#fff;
	--bg3:#000;

	--ui1:#000;
	--ui2:#000;
	--ui3:#000;

	--tx1:#000;
	--tx2:#000;
	--tx3:#000;

	--hl1:#000;
	--hl2:#000;

	--sp1:#fff;

	--text-on-accent:#fff;

	--background-modifier-cover: rgba(235,235,235,1);
}
.theme-light.minimal-eink-light.minimal-light-white {
	--bg3:#fff;
}
.theme-light.minimal-eink-light.minimal-light-contrast .titlebar,
.theme-light.minimal-eink-light.minimal-light-contrast.minimal-status-off .status-bar,
.theme-light.minimal-eink-light.minimal-light-contrast .workspace-drawer.mod-left,
.theme-light.minimal-eink-light.minimal-light-contrast .mod-left-split,
.theme-light.minimal-eink-light.minimal-light-contrast .workspace-ribbon.mod-left:not(.is-collapsed),
.theme-dark.minimal-eink-dark {
	--base-h:0;
	--base-s:0%;
	--base-l:0%;

	--accent-h:0;
	--accent-s:0%;
	--accent-l:100%;

	--ax3:#fff;

	--bg1:#000;
	--bg2:#000;
	--bg3:#fff;

	--ui1:#fff;
	--ui2:#fff;
	--ui3:#fff;

	--tx1:#fff;
	--tx2:#fff;
	--tx3:#fff;

	--hl1:#fff;
	--hl2:#fff;

	--sp1:#000;

	--background-modifier-cover: rgba(20,20,20,1);
}
.theme-light.minimal-eink-light.minimal-light-tonal {
	--bg3:#bbb;
	--ui1:#bbb;

	--modal-border-color: var(--ui1);
	--prompt-border-color: var(--ui1);
}
.theme-dark.minimal-eink-dark.minimal-dark-tonal {
	--bg3:#444;
	--ui1:#444;

	--modal-border-color: var(--ui1);
	--prompt-border-color: var(--ui1);
}
