/* macOS */
.theme-light.minimal-macos-light {
  --base-h:106;
  --base-s:0%;
  --base-l:94%;

  --bg1:#fff;
  --bg2:#f0f0f0;
  --bg3:#d7d7d7;

  --ui1:#e7e7e7;

  --tx1:#454545;
  --tx2:#808080;
  --tx3:#b0b0b0;

  --ax1:#027aff;
  --ax1:#0463cc;
  --ax3:#007bff;

  --hl1:#b3d7ff;
}
.theme-light.minimal-macos-light.minimal-light-tonal {
  --bg1:#f0f0f0;
  --bg2:#f0f0f0;
}
.theme-light.minimal-macos-light.minimal-light-contrast .titlebar,
.theme-light.minimal-macos-light.minimal-light-contrast .workspace-fake-target-overlay.is-in-sidebar,
.theme-light.minimal-macos-light.minimal-light-contrast .workspace-ribbon.mod-left:not(.is-collapsed),
.theme-light.minimal-macos-light.minimal-light-contrast .mod-left-split,
.theme-light.minimal-macos-light.minimal-light-contrast.minimal-status-off .status-bar,
.theme-light.minimal-macos-light.minimal-light-contrast.is-mobile .workspace-drawer.mod-left,
.theme-dark.minimal-macos-dark {
  --base-h:106;
  --base-s:0%;
  --base-l:12%;

  --bg1:#1e1e1e;
  --bg2:#282828;
  --bg3:#414141;

  --background-divider:#000;
  --ui1:#373737;
  --ui2:#515151;
  --ui3:#595959;

  --tx1:#dcdcdc;
  --tx2:#8c8c8c;
  --tx3:#686868;

  --ax1:#027aff;
  --ax2:#3f9bff;
  --ax3:#007bff;

  --hl1:#3f638b;

  --sp1:#fff;
}
.theme-dark.minimal-macos-dark.minimal-dark-black {
  --background-divider:#1e1e1e;
}