/* Nord */

.theme-light.minimal-nord-light.minimal-light-contrast .titlebar,
.theme-light.minimal-nord-light.minimal-light-contrast .workspace-fake-target-overlay.is-in-sidebar,
.theme-light.minimal-nord-light.minimal-light-contrast .workspace-ribbon.mod-left:not(.is-collapsed),
.theme-light.minimal-nord-light.minimal-light-contrast .mod-left-split,
.theme-light.minimal-nord-light.minimal-light-contrast.minimal-status-off .status-bar,
.theme-light.minimal-nord-light.minimal-light-contrast.is-mobile .workspace-drawer.mod-left,
.theme-dark.minimal-nord-dark {
  --bg1:#2e3440;
  --bg2:#3b4252;
  --bg3:rgba(255,255,255,0.062);

  --ui1:#434c5e;
  --ui2:#434c5e;
  --ui3:#665c54;

  --tx1:#d8dee9;
  --tx2:#d8dee9;
  --tx3:#4c566a;

  --ax1:#5e81ac;
  --ax2:#5e81ac;
  --ax3:#5e81ac;
}