/* Sky color scheme, inspired by Notion */

.theme-light.minimal-notion-light {
	--base-h:39;
	--base-s:18%;
	--base-d:96%;

	--accent-h:197;
	--accent-s:71%;
	--accent-l:52%;

	--bg2:#f7f6f4;
	--bg3:#e8e7e4;

	--ui1:#ededec;
	--ui2:#dbdbda;
	--ui3:#aaa9a5;

	--tx1:#37352f;
	--tx2:#72706c;
	--tx3:#aaa9a5;

	--hl1:rgba(131,201,229,0.3);
}
.theme-light.minimal-notion-light.minimal-light-contrast .titlebar,
.theme-light.minimal-notion-light.minimal-light-contrast.minimal-status-off .status-bar,
.theme-light.minimal-notion-light.minimal-light-contrast .workspace-drawer.mod-left,
.theme-light.minimal-notion-light.minimal-light-contrast .mod-left-split,
.theme-light.minimal-notion-light.minimal-light-contrast .workspace-ribbon.mod-left:not(.is-collapsed),
.theme-light.minimal-notion-light.minimal-light-contrast .theme-dark,
.theme-dark.minimal-notion-dark {
	--base-h:203;
	--base-s:8%;
	--base-d:20%;

	--accent-h:197;
	--accent-s:71%;
	--accent-l:52%;

	--bg1:#2f3437;
	--bg2:#373c3f;
	--bg3:#4b5053;

	--ui1:#3e4245;
	--ui2:#585d5f;
	--ui3:#585d5f;

	--tx1:#ebebeb;
	--tx2:#909295;
	--tx3:#585d5f;

	--hl1:rgba(57,134,164,0.3);
}
.theme-dark.minimal-notion-dark.minimal-dark-black {
	--base-d:5%;

	--bg3:#232729;
	--ui1:#2f3437;
}
