/* Things */

.theme-dark.minimal-things-dark,
.theme-light.minimal-things-light {
	--color-red-rgb: 255,48,108;
	--color-orange-rgb: 255,149,2;
	--color-yellow-rgb: 255,213,0;
	--color-green-rgb: 75,191,94;
	--color-cyan-rgb: 73,174,164;
	--color-purple-rgb: 176,81,222;
	--color-pink-rgb: 255,46,85;

	--color-red:#FF306C;
	--color-orange:#ff9502;
	--color-yellow:#FFD500;
	--color-green:#4BBF5E;
	--color-cyan:#49AEA4;
	--color-purple:#b051de;
	--color-pink:#ff2e55;
}

.theme-light.minimal-things-light {
	--color-blue-rgb: 27,97,194;
	--color-blue:#1b61c2;
}
.theme-dark.minimal-things-dark {
	--color-blue-rgb: 77,149,247;
	--color-blue:#4d95f7;
}

.theme-light.minimal-things-light {
	--accent-h:215;
	--accent-s:76%;
	--accent-l:43%;

	--bg1:white;
	--bg2:#f5f6f8;
	--bg3:rgba(162,177,187,0.25);

	--ui1:#eef0f4;
	--ui2:#D8DADD;
	--ui3:#c1c3c6;

	--tx1:#26272b;
	--tx2:#7D7F84;
	--tx3:#a9abb0;

	--hl1:#cae2ff;
}
.theme-light.minimal-things-light.minimal-light-tonal {
	--ui1:#e6e8ec;
}
.theme-light.minimal-things-light.minimal-light-white {
	--bg3:#f5f6f8;
}
.theme-light.minimal-things-light.minimal-light-contrast .titlebar,
.theme-light.minimal-things-light.minimal-light-contrast.minimal-status-off .status-bar,
.theme-light.minimal-things-light.minimal-light-contrast .workspace-drawer.mod-left,
.theme-light.minimal-things-light.minimal-light-contrast .mod-left-split,
.theme-light.minimal-things-light.minimal-light-contrast .workspace-ribbon.mod-left:not(.is-collapsed),
.theme-light.minimal-things-light.minimal-light-contrast .theme-dark,
.theme-dark.minimal-things-dark {
	--base-h:218;
	--base-s:9%;
	--base-l:15%;

	--accent-h:215;
	--accent-s:91%;
	--accent-l:64%;

	--bg1:#24262a;
	--bg2:#202225;
	--bg3:#3d3f41;

	--divider-color:#17191c;
	--tab-outline-color:#17191c;

	--ui1:#3A3B3F;
	--ui2:#45464a;
	--ui3:#6c6e70;

	--tx1:#fbfbfb;
	--tx2:#CBCCCD;
	--tx3:#6c6e70;

	--hl1:rgba(40,119,236,0.35);

	--sp1:#fff;
}

.theme-dark.minimal-things-dark.minimal-dark-black {
	--base-d:5%;

	--bg3:#24262a;
	--divider-color:#24262a;
	--tab-outline-color:#24262a;
}
