/* Things */

.theme-light.minimal-things-light {
  --blue:#1b61c2;
}
.theme-dark.minimal-things-dark {
  --blue:#4d95f7;
}

.theme-light.minimal-things-light {
  --bg1:white;
  --bg2:#f5f6f8;
  --bg3:rgba(162,177,187,0.25);

  --ui1:#eef0f4;
  --ui2:#D8DADD;
  --ui3:#c1c3c6;

  --tx1:#26272b;
  --tx2:#7D7F84;
  --tx3:#a9abb0;

  --ax1:#1b61c2;
  --ax2:#1C88DD;
  --ax3:#1b61c2;

  --hl1:#cae2ff;

  --h1-color:#1b61c2;
  --h2-color:#1b61c2;
  --h3-color:#1b61c2;
  --h4-color:#1b61c2;
}
.theme-light.minimal-things-light.minimal-light-tonal {
  --ui1:#e6e8ec;
}
.theme-light.minimal-things-light.minimal-light-white {
  --bg3:#f5f6f8;
}
.theme-light.minimal-things-light.minimal-light-contrast .titlebar,
.theme-light.minimal-things-light.minimal-light-contrast .workspace-fake-target-overlay.is-in-sidebar,
.theme-light.minimal-things-light.minimal-light-contrast .workspace-ribbon.mod-left:not(.is-collapsed),
.theme-light.minimal-things-light.minimal-light-contrast .mod-left-split,
.theme-light.minimal-things-light.minimal-light-contrast.minimal-status-off .status-bar,
.theme-light.minimal-things-light.minimal-light-contrast.is-mobile .workspace-drawer.mod-left,
.theme-dark.minimal-things-dark {
  --base-h:218;
  --base-s:9%;
  --base-l:15%;

  --bg1:#24262a;
  --bg2:#202225;
  --bg3:#3d3f41;

  --background-divider:#17191c;  

  --ui1:#3A3B3F;
  --ui2:#45464a;
  --ui3:#6c6e70;

  --tx1:#fbfbfb;
  --tx2:#CBCCCD;
  --tx3:#6c6e70;

  --ax1:#4d95f7;
  --ax2:#79a9ec;
  --ax3:#4d95f7;

  --hl1:#254174;

  --h1-color:#4d95f7;
  --h2-color:#4d95f7;
  --h3-color:#4d95f7;
  --h4-color:#4d95f7;

  --sp1:#fff;
}

.theme-dark.minimal-things-dark.minimal-dark-black {
  --base-d:5%;

  --bg3:#24262a;
  --background-divider:#24262a;  
}