/* Things */

.theme-light.minimal-things-light {
  --bg2:#f6f7f8;
  --bg3:#D8DEE9;

  --ui1:#ebedf0;
  --ui2:#D8DEE9;
  --ui3:#D8DEE9;

  --tx1:#2E3440;
  --tx2:#4C566A;
  --tx3:#D8DEE9;

  --ax1:#5E81AC;
  --ax2:#5E81AC;
}
.theme-dark.minimal-things-dark {
  --bg1:#1c2127;
  --bg2:#181c20;
  --bg3:#21262d;

  --ui1:#252b32;
  --ui2:#333a43;
  --ui3:#D8DEE9;

  --tx1:#cdd3da;
  --tx2:#8493a5;
  --tx3:#434c55;

  --ax1:#4d95f7;
  --ax2:#79a9ec;

  --ax3:#4d95f7;
}