/* Variables */
@import 'variables/root';
@import 'variables/dynamic-color';
@import 'variables/theme';
@import 'variables/adaptive-font-size';

/* Obsidian */
@import 'dev/dev-block-width';

/* Obsidian app */
@import 'app/editor';
@import 'app/editor-legacy';
@import 'app/preview';
@import 'app/status-bar';
@import 'app/title-bar';
@import 'app/window-frame';

/* Components */
@import 'components/buttons';
@import 'components/document-search';
@import 'components/folding';
@import 'components/icons';
@import 'components/indentation-guides';
@import 'components/menus';
@import 'components/modals';
@import 'components/progress';
@import 'components/scrollbars';
@import 'components/tooltips';

/* Content */
@import 'content/blockquotes';
@import 'content/callouts';
@import 'content/checklists';
@import 'content/embeds-transclusions';
@import 'content/links';
@import 'content/lists';
@import 'content/preview-backlinks';
@import 'content/tables';
@import 'content/tags';
@import 'content/text';

/* Minimal features */
@import 'features/active-line';
@import 'features/borders';
@import 'features/cards';
@import 'features/checklist-icons';
@import 'features/colorful-active-states';
@import 'features/colorful-frame';
@import 'features/colorful-headings';
@import 'features/custom-icons';
@import 'features/fancy-cursor';
@import 'features/focus-mode';
@import 'features/full-width-media';
@import 'features/helpers-tables';
@import 'features/image-filters';
@import 'features/image-grid';
@import 'features/image-zoom';
@import 'features/labeled-nav';
@import 'features/layout-control';
@import 'features/line-width';
@import 'features/link-underline';
@import 'features/scroll-indicator';
@import 'features/sidebar-notes';
@import 'features/tab-styles';
@import 'features/translucent';
@import 'features/trim-file-names';
@import 'features/underline-headings';

/* Mobile */
@import 'mobile/mobile';
@import 'mobile/ios';
@import 'mobile/toolbar';

/* Core plugins */
@import 'plugins-core/backlinks-outlinks';
@import 'plugins-core/file-explorer';
@import 'plugins-core/prompt';
@import 'plugins-core/publish';
@import 'plugins-core/release-notes';
@import 'plugins-core/sync';

/* Community plugins */
@import 'plugins/banner';
@import 'plugins/buttons';
@import 'plugins/calendar';
@import 'plugins/charts';
@import 'plugins/checklist';
@import 'plugins/cmenu';
@import 'plugins/contextual-typography';
@import 'plugins/dataview';
@import 'plugins/dictionary';
@import 'plugins/excalidraw';
@import 'plugins/git';
@import 'plugins/hider';
@import 'plugins/hover-editor';
@import 'plugins/kanban';
@import 'plugins/lapel';
@import 'plugins/leaflet';
@import 'plugins/map-view';
@import 'plugins/metatable';
@import 'plugins/nl-tables';
@import 'plugins/outliner';
@import 'plugins/quickadd';
@import 'plugins/quick-explorer';
@import 'plugins/recent';
@import 'plugins/reminder';
@import 'plugins/sliding-panes';
@import 'plugins/sortable';
@import 'plugins/style-settings';
@import 'plugins/todoist';
@import 'plugins/tracker';

/* Color schemes */
@import 'color-schemes/atom';
@import 'color-schemes/dracula';
@import 'color-schemes/everforest';
@import 'color-schemes/gruvbox';
@import 'color-schemes/macos';
@import 'color-schemes/nord';
@import 'color-schemes/notion';
@import 'color-schemes/solarized';
@import 'color-schemes/things';
