/* Desktop font sizes */
body {
	--font-adaptive-normal:var(--font-text-size,var(--editor-font-size));
	--font-adaptive-small: var(--font-ui-medium);
	--font-adaptive-smaller: var(--font-ui-small);
	--font-adaptive-smallest: 11px;
	--line-width-adaptive:var(--line-width);
	--line-width-wide:calc(var(--line-width) + 12.5%);
	--font-code:calc(var(--font-adaptive-normal) * 0.9);
	--table-text-size:calc(var(--font-adaptive-normal) * 0.875);
}

/* Phone font sizes */
@media (max-width:400pt) {
	.is-mobile {
		--font-adaptive-small:calc(var(--font-ui-medium) + 2px);
		--font-adaptive-smaller:calc(var(--font-ui-smaller) + 2px);
		--font-adaptive-smallest:calc(var(--font-ui-smaller) + 2px);
		--max-width:88%;
	}
}

/* Tablet font sizes */
@media (min-width:400pt) {
	.is-mobile {
		--font-adaptive-small:calc(var(--font-ui-medium) + 3px);
		--font-adaptive-smaller:calc(var(--font-ui-smaller) + 2px);
		--font-adaptive-smallest:calc(var(--font-ui-smallest) + 2px);
		--line-width-adaptive:calc(var(--line-width) + 6rem);
		--max-width:90%;
	}
}
