/* Desktop font sizes */
body {
	--line-width-wide:calc(var(--line-width) + 12.5%);
	--font-code:calc(var(--font-preferred-size) * 0.9);
	--table-text-size:calc(var(--font-preferred-size) * 0.875);
	--bases-table-font-size:calc(var(--font-preferred-size) * 0.875);

}

body:not(.is-mobile) {
	--font-adaptive-small: calc(var(--font-preferred-size) * var(--minimal-small-scale,0.81));
	--font-ui-small: calc(var(--font-preferred-size) * var(--minimal-small-scale,0.81));
	--font-ui-smaller: calc(var(--font-preferred-size) * var(--minimal-small-scale,0.81) * 0.846);
}
