/* Desktop font sizes */
body {
	--font-adaptive-normal:var(--font-text-size,var(--editor-font-size));
	--font-adaptive-small: calc(var(--font-ui-small) * 1.07);
	--font-adaptive-smaller: var(--font-ui-small);
	--font-adaptive-smallest: var(--font-ui-smaller);
	--line-width-wide:calc(var(--line-width) + 12.5%);
	--font-code:calc(var(--font-adaptive-normal) * 0.9);
	--table-text-size:calc(var(--font-adaptive-normal) * 0.875);
}
