body {
	--font-text-theme:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Inter,Ubuntu,sans-serif;
	--font-editor-theme:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Inter,Ubuntu,sans-serif;
	--font-monospace-theme:Menlo,SFMono-Regular,Consolas,"Roboto Mono",monospace;
	--font-interface-theme:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Inter,Ubuntu,sans-serif;

	--font-editor:var(--font-editor-override), var(--font-text-override), var(--font-editor-theme);
	--minimal-version:"You are currently using Minimal 6.0\a\aIf you run into any issues, try updating to the latest version of the theme. It is also highly recommended to install Minimal Theme Settings and Contextual Typography plugins.\a\a Full documentation:\a minimal.guide\a\a Support my work:\a buymeacoffee.com/kepano";
}

body {
	/* Blockquotes */
	--blockquote-style:normal;

	/* Embeds */
	--embed-block-shadow-hover: none;

	/* Font sizes */
	--font-ui-smaller: 12px;

	/* Font weights */
	--normal-weight: 400;
	--bold-weight: 600;
	--link-weight: inherit;

	/* Headings */
	--h1-size: 1.125em;
	--h2-size: 1.05em;
	--h3-size: 1em;
	--h4-size: 0.90em;
	--h5-size: 0.85em;
	--h6-size: 0.85em;

	--h1-weight: 600;
	--h2-weight: 600;
	--h3-weight: 500;
	--h4-weight: 500;
	--h5-weight: 500;
	--h6-weight: 400;

	--h1-variant: normal;
	--h2-variant: normal;
	--h3-variant: normal;
	--h4-variant: small-caps;
	--h5-variant: small-caps;
	--h6-variant: small-caps;

	--h1-style: normal;
	--h2-style: normal;
	--h3-style: normal;
	--h4-style: normal;
	--h5-style: normal;
	--h6-style: normal;

	/* Line widths */
	--line-width: 40rem;
	--line-height: 1.5;
	--max-width: 88%;
	--max-col-width: 18em;

	/* Icons */
	--icon-muted: 0.5;

	--border-width: 1px;

	/* Quotes and transclusions */
	--nested-padding:1.1em;

	/* Lists */
	--folding-offset :10px;
	--list-edit-offset: 1em;
	--list-indent: 2em;
	--list-spacing: 0.075em;

	--input-height: 32px;
	--header-height: 40px;

	/* Mobile sidebars */
	--mobile-left-sidebar-width: 280pt;
	--mobile-right-sidebar-width: 240pt;

	/* Tags */
	--tag-radius: 14px;
	--tag-border-width: 1px;

	--top-left-padding-y:0px;

	/* Image opacity in dark mode */
	--image-muted:0.7;

	/* Spacing */
	--spacing-p: 0.75em;

}

.mod-macos {
	--top-left-padding-y:24px;
}
